{% extends 'base.html' %}

{% load i18n %}
{% load url from future %}

{% block content %}
              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-local-shipping"></i> Distribuidores</h1>
                            <p class="subtitle">Eliminar</p>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><i class="icon-home"></i> Inicio</li>
                                <li><a href="{% url 'admin_comercializacion_distribuidores_list' %}"><i class="icon-local-shipping"></i> Distribuidores</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">
                    {% include 'admin_comercializacion/distribuidores/object_table_detail.html' %}
                    {% include 'admin_lib/util_delete/relate.html' %}
                    <div class="col-xs-12">
                      <div class="panel panel-default">
                          <div class="panel-body panel-body-border panel-head-border panel-shadow">
                            <form action='{% url 'admin_comercializacion_distribuidores_delete' pk=object.pk %}' charset='utf-8' method='post' class="form-margin">
                                {% csrf_token %}
                                <button class='btn btn-danger' type='submit' value="_delete" name="_delete">
                                  {% trans "Eliminar" %}
                                </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
{% endblock %}