<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<style type="text/css">
  tr div{page-break-inside:avoid;}
</style>

<body>
  <div>
    <table>
      <tr>
        <td>
            Sistema: 
            {% if sistema %} 
              {{ sistema }}
            {% else %}
              Todos
            {% endif %}
        </td>
        <td>
            {{ reporte.titulo }}
        </td>
        <td>
          Generado por 
          <i>{{ usuario }}</i> 
          <i> 
            {% if comercializadora %} 
              {{ comercializadora }}
            {% endif %}
          </i>
          el {{fecha}}
        </td>
      </tr>
    </table>
  </div>
  <div>
    {% block content %}
        fdsfsdf
    {% endblock %}
  </div>
</body>
</html>