{% extends 'base.html' %}

{% load i18n %}
{% load url from future %}

{% block content %}
{% load static %}

              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-event"></i> Encuentros</h1>
                            <p class="subtitle">
                              {% if object %}
                                {% trans "Editar" %}
                              {% else %}
                                {% trans "Crear" %}
                              {% endif %}</p>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><a href="{% url 'admin_juego_encuentros_list' %}"><i class="icon-event"></i> Encuentros</a></li>
                                <li>
                                  {% if object %}
                                  <i class="icon-pencil-1"></i> Editar
                                  {% else %}
                                  <i class="icon-plus-1"></i> Crear
                                  {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container">
                  <div class="container-margin">
                    <form id="form_encuentro" action='' method='post' encoding='utf-8'>
                      {% csrf_token %}

                      <div class="col-xs-12">
                        <div class="panel panel-default">
                          <div class="panel-body panel-head-border">
                            <div class="form-margin">

                              {% if errors_all %}
                              <div class="row form form-group ">
                                  <div class="col-xs-12">
                                    <div class="alert alert-warning">
                                      {{ errors_all }}
                                    </div>
                                  </div>
                              </div>
                              {% endif %}

                              {% if object %}

                                {% if form.deporte.is_hidden %}
                                <div class="row form form-group ">
                                  <div class="col-xs-3">
                                    <div class="form-label">
                                      Deporte (*)
                                    </div>
                                  </div>
                                  <div class="col-xs-6">
                                    <input value="{{ object.jornada.temporadas.torneo.deporte }}" readonly>
                                  </div>
                                  <div class="col-xs-3">
                                    <div class="alert alert-info">
                                      Este campo no se puede editar.
                                    </div>
                                  </div>
                                </div>
                                {% endif %}

                                {% if form.liga.is_hidden %}
                                <div class="row form form-group ">
                                  <div class="col-xs-3">
                                    <div class="form-label">
                                      Liga (*)
                                    </div>
                                  </div>
                                  <div class="col-xs-6">
                                    <input value="{{ object.jornada.temporadas.torneo }}" readonly>
                                  </div>
                                  <div class="col-xs-3">
                                    <div class="alert alert-info">
                                      Este campo no se puede editar.
                                    </div>
                                  </div>
                                </div>
                                {% endif %}

                                {% if form.temporada.is_hidden %}
                                <div class="row form form-group ">
                                  <div class="col-xs-3">
                                    <div class="form-label">
                                      Liga (*)
                                    </div>
                                  </div>
                                  <div class="col-xs-6">
                                    <input value="{{ object.jornada.temporadas}}" readonly>
                                  </div>
                                  <div class="col-xs-3">
                                    <div class="alert alert-info">
                                      Este campo no se puede editar.
                                    </div>
                                  </div>
                                </div>
                                {% endif %}


                              {% endif %}

                              {% for item in form %}
                                {% if item.is_hidden == 0 %}

                                <div class="row form form-group div_{{item.name}}">

                                  <div class="col-xs-3">
                                    <div class="form-label">{{ item.label }}</div>
                                  </div>

                                  <div class="col-xs-6">

                                    {{ item }}

                                  </div>
                                  <div class="col-xs-3" id="error_{{item.name}}">
                                    {%  if item.errors %}
                                      <div class="alert alert-warning" >{{ item.errors }}</div>
                                    {% endif %}
                                  </div>
                                </div>
                                {% else %}
                                  {{ item }}
                                {% endif %}

                            {% endfor %}

                            <div class="row form form-group">

                                <div class="col-xs-3">
                                </div>
                                <div class="col-xs-6">
                                    <div class="alert alert-info">Los campos con (*) son obligatorios</div>
                                </div>
                                <div class="col-xs-3">
                                </div>

                            </div>

                            <div class="row form form-group">

                              {% if not object %}
                              <div class="col-xs-6">
                                  <div class="panel panel-default">
                                    <div class="panel-body panel-body-border panel-shadow">
                                      <div class="alert alert-info">Seleccione los equipos.</div>
                                      <!--
                                      <select id="id_liga_equipos" class="select-chosen"></select>
                                      -->
                                      <table id="equipos_list_data_table" class='table'>
                                          <thead>
                                            <tr>
                                             <th>Equipo</th>
                                             <th>Logo</th>
                                             <th></th>
                                            </tr>
                                          </thead>
                                          <tbody id="table_equipos_filter">

                                          </tbody>
                                        </table>

                                    </div>
                                  </div>
                              </div>

                                <div class="col-xs-6">
                              {% else %}
                                <div class="col-xs-3">
                                </div>
                                <div class="col-xs-6">

                              {% endif %}

                                  <div class="panel panel-default">
                                    <div class="panel-body panel-body-border panel-shadow">

                                      <table class='table'>
                                          <thead>
                                            <tr>
                                             <th>Equipos</th>
                                             <th>Posición</th>
                                             <th></th>
                                            </tr>
                                          </thead>

                                          <tbody id="table_equipos_select">
                                            {% for item in equipos %}
                                            <tr id="tr_{{ item.pk }}">
                                              <td>

                                                <div class="form-margin col-xs-12">
                                                  <div class="row form form-group">

                                                    <div class="col-xs-3"></div>

                                                    <div class="col-xs-9">
                                                      {% if item.logo %}
                                                        <img src="{{MEDIA_URL}}{{ item.logo }}" width="25" height="25">
                                                      {% endif %}

                                                      {{ item.nombre }}
                                                      <input type="hidden" name="equipos" value="{{ item.pk }}"></input>
                                                    </div>
                                                  </div>

                                                  <div class="row form form-group tipo-jugador-invisible jugador-invisible">
                                                    <div class="col-xs-3">Tipo de jugador: </div>
                                                    <div class="col-xs-9">
                                                      <select id="id_jugadortipo{{ item.pk }}" class="id_jugadortipo jugador select-chosen-jugador" name="jugador_{{ item.pk }}">
                                                        {% if item.jugador.tipo %}
                                                          <option value="0" >Selecciona un tipo de jugador</option>
                                                          <option selected value="{{ item.jugador.tipo }}" >{{ item.jugador.tipo_nombre }}</option>

                                                        {% else %}
                                                          <option selected value="0" >Selecciona un tipo de jugador</option>
                                                        {% endif %}

                                                          {% for tipo_jugador in item.jugadores %}
                                                            <option value="{{ tipo_jugador.pk }}" >{{ tipo_jugador.nombre }}</option>
                                                          {% endfor %}

                                                      </select>
                                                    </div>
                                                  </div>

                                                  <div class="row form form-group jugador-invisible">
                                                    <div class="col-xs-3">Jugador: </div>
                                                    <div class="col-xs-9">
                                                      <select id="id_jugador{{ item.pk }}" class="id_jugador select-chosen-jugador" name="jugador_{{ item.pk }}">

                                                      {% if item.jugador.pk %}
                                                        <option value="0" >Selecciona un jugador</option>
                                                        <option selected value="{{ item.jugador.pk }}" >{{ item.jugador.nombre }}</option>
                                                      {% else %}
                                                        <option selected value="0" >Selecciona un jugador</option>
                                                      {% endif%}
                                                      </select>
                                                    </div>
                                                  </div>

                                                  <div class="row form form-group jugador-invisible">
                                                    <div class="col-xs-3">Referencia: </div>
                                                    <div class="col-xs-9">
                                                      {% if item.jugador %}
                                                          <input type="text" id="id_referencia{{ item.pk }}" class="id_referencia" name="referencia_{{ item.pk }}" value="{{item.referencia}}">
                                                      {% else %}
                                                         <input type="text" id="id_referencia{{ item.pk }}" class="id_referencia" name="referencia_{{ item.pk }}"disabled value="{{item.referencia}}">
                                                      {% endif %}

                                                    </div>
                                                  </div>

                                                </div>
                                              </td>
                                              <td>
                                                <select class="indice" name="indice_{{ item.pk }}">
                                                  {% with tam=indices|length %}
                                                    {% for indice in indices %}
                                                      <option value="{{ indice.pk }}"
                                                      {% if item.indice == indice.pk %}
                                                        selected
                                                      {% endif %}
                                                      >
                                                        {% if tam <= 2 %}
                                                          {% if indice.pk == 1 %}
                                                            Home
                                                          {% elif indice.pk == 2 %}
                                                            Visitante
                                                          {% else %}
                                                            Otro
                                                          {% endif %}
                                                        {% else %}
                                                          Posicion {{ indice.pk }}
                                                        {% endif %}
                                                      </option>
                                                    {% endfor %}
                                                  {% endwith %}
                                                </select>
                                              </td>
                                              <td>
                                                <button type="button" class="eliminar" class="bnt">
                                                  <i class="icon-trash"></i>
                                                </button>
                                              </td>
                                            </tr>
                                            {% endfor %}
                                          </tbody>
                                        </table>

                                    </div>
                                  </div>
                              </div>


                            </div>

                            </div>
                            </div>
                          <div class="panel-footer panel-shadow">
                              <div class="col-xs-3"></div>
                              <div class="col-xs-6">
                                 <p>

                                     {% if object %}
                                      <button class='btn btn-success' type='submit' value="_save" name="_save">
                                        Actualizar
                                      </button>
                                    {% else %}
                                      <button class='btn btn-default' type='submit' value="_addanother" name="_save">
                                        Guardar y añadir otro
                                      </button>
                                      <button class='btn btn-success' type='submit' value="_save" name="_save">
                                        Guardar
                                      </button>
                                    {% endif %}
                                </p>
                              </div>
                              <div class="col-xs-3"></div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>

<div class="alerts" id="dajax_respuesta">

</div>

{% endblock %}
{% block js %}


  <script>

    {% if object %}
      $(".select-chosen-jugador").chosen({no_results_text: "Oops, no hay resultados que coincidad! para: "});

      {% for item in equipos %}
        $('#id_jugadortipo'+{{item.pk}}).change(function() {

        var id = $(this).val();
        var pk = {{ item.pk }};
        if( id ){

            //$("#id_jugador"+pk).empty()
            $("#id_jugador"+pk).attr("disabled",true);
            //$("#id_jugador"+pk).trigger("chosen:updated");
            dajax_encuentros(
                {
                  "tipo": id,
                  "equipo": pk,
                },
                '{% url "admin_juego_jugador_by_tipo_ajax" %}',
                "id_jugador"+pk
            );
        }

        });
      {% endfor %}

    {% endif %}

      if( $('#id_horajuego').val() ){

        hora = $('#id_horajuego').val().split(":")
        $('#id_horajuego').val( hora[0]+":"+hora[1] )

        hora = $('#id_horacierre').val().split(":")
        $('#id_horacierre').val( hora[0]+":"+hora[1] )

      }

      $('#id_horajuego').datetimepicker({
        format:'d/m/Y H:i',
        lang:'es',
        onChangeDateTime:function(dp,$input){
          //alert($input.val())

          dia = ($input.val().split(" ")[0]).split("/")[0]
          mes = ($input.val().split(" ")[0]).split("/")[1]
          ahno = ($input.val().split(" ")[0]).split("/")[2]

          hora = ($input.val().split(" ")[1]).split(":")[0]
          minutos = ($input.val().split(" ")[1]).split(":")[1]

          var fecha = new Date(ahno,mes-1,dia,hora,minutos)
          fecha.setMinutes( fecha.getMinutes() -5 )

          $('#id_horacierre').val( fecha.getDate() + "/" +(fecha.getMonth()+1) + "/" + fecha.getFullYear() + " "+fecha.getHours() + ":" + fecha.getMinutes() )
        }
      });

      $('#id_horacierre').datetimepicker({
        format:'d/m/Y H:i',
        lang:'es',
        onChangeDateTime:function(dp,$input){
          //alert($input.val())
        }
      });

      function validateFechas(){
        dia = ($('#id_horajuego').val().split(" ")[0]).split("/")[0]
        mes = ($('#id_horajuego').val().split(" ")[0]).split("/")[1]
        ahno = ($('#id_horajuego').val().split(" ")[0]).split("/")[2]

        hora = ($('#id_horajuego').val().split(" ")[1]).split(":")[0]
        minutos = ($('#id_horajuego').val().split(" ")[1]).split(":")[1]

        var fecha_juego = new Date(ahno,mes,dia,hora,minutos)

        dia = ($('#id_horacierre').val().split(" ")[0]).split("/")[0]
        mes = ($('#id_horacierre').val().split(" ")[0]).split("/")[1]
        ahno = ($('#id_horacierre').val().split(" ")[0]).split("/")[2]

        hora = ($('#id_horacierre').val().split(" ")[1]).split(":")[0]
        minutos = ($('#id_horacierre').val().split(" ")[1]).split(":")[1]

        var fecha_cierre = new Date(ahno,mes,dia,hora,minutos)

        if ( (fecha_cierre < fecha_juego) == false){
          $("#error_horacierre").html(" <div class='alert alert-warning' > La fecha y hora de cierre del encuentro debe ser menor a la del comienzo del mismo. </div>")
        }
        else{
          $("#error_horacierre").html("")
        }

        return fecha_cierre < fecha_juego

      }

      function validateIndices(){
          var vec = []
          $(".indice").each(function (index) {
            if( vec[ $(this).val() ] == undefined )
              vec[ $(this).val() ] = 1
            else
              vec[ $(this).val() ] = vec[ $(this).val() ] + 1

          });

          producto = 1
          for (var i in vec) {
            producto = producto * vec[i]
          }

          if( producto != 1){
            return false
          }

          return true
      }

      function validateJugadores(){

          var vec = []
          var continuar = true
          var ban_seleccionados = false
          var ban_no_seleccionados = false
          $(".id_jugador").each(function (index) {
              if( $(this).val() != 0 ){

                if ( ban_seleccionados == false ){
                    ban_seleccionados = true
                }

                if( vec[ $(this).val() ] == undefined ){
                    vec[ $(this).val() ] = 1
                }
                else{
                    vec[ $(this).val() ] = vec[ $(this).val() ] + 1
                }

              }
              else{
                if ( ban_no_seleccionados == false ){
                  ban_no_seleccionados = true
                }
              }
          });

          if( ban_no_seleccionados && ban_seleccionados==false ){
              resp = confirm("No ha seleccionado jugadores, ¿desea continuar?")
              if (resp == true){
                return true
              }
              else{
                return false
              }
          }

          if( ban_no_seleccionados ){
              alert("Se deben seleccionar jugadores para ambos equipos, si desea seleccionarlos luego, no debe seleccionar los mismos para ningún equipo.")
              return false
          }


          producto = 1
          for (var i in vec) {
            producto = producto * vec[i]
          }

          if( producto != 1){
            alert("Los jugadores de cada equipo deben ser diferentes.")
            return false
          }

          var campo_null = false
          $(".id_referencia").each(function (index) {
            if( $(this).val() == "" )
            {
              campo_null = true
              return false
            }
          });

          if( campo_null == true ){
            alert("Las referencias de los jugadores son obligatorias")
            return false
          }
          return true
      }

      $( "#form_encuentro" ).submit(function( event ) {

        if( validateFechas() == false ){
          return false
        }
        else{

          if( $('#table_equipos_select tr').length < 2 ){
            alert( "Debe seleccionar 2 equipos como minimo." )
            //event.preventDefault();
            return false
          }
          else{

            if( validateIndices() == false ){
                alert("Cada equipo seleccionado debe tener un indice de posicion distinto. (Home/Visitante)")
                return false
            }

            var juego_con_jugador = false

            $(".id_jugadortipo").each(function (index) {
              if(  $(this).html().split("value").length >= 3 )
              {
                juego_con_jugador = true
                return false
              }
            });

            if( juego_con_jugador == true ){
                if( validateJugadores() == false ){
                  return false
                }
            }

          }
      }

      });

      $('#id_deporte').on("change",torneosbydeporte);

      $('#id_liga').on("change",temporadasbytorneo);
      //$('#id_liga_equipos').on("change",equiposbyliga);

      $('#id_temporada').on("change",jornadasbytemporada);
      $('#id_temporada').on("change",gruposbytemporada);


      /********************************************************/

      {% if not object %}
        $(".div_jornada").slideUp( "slow", function(){ });
        $(".div_grupo").slideUp( "slow", function(){ });
      {% endif %}

      //$("#id_liga_equipos").html( $("#id_liga").html() )
      //$('#id_liga_equipos').trigger("chosen:updated");
      /*
      if($("#id_liga_equipos option").filter(":selected").val() != 0){

        dajax_encuentros(
          {
            "liga":
            $("#id_liga_equipos option").filter(":selected").val()
          },
          '{% url "juego_equipos_by_liga_ajax" %}',
          "type_equipos"
        );

      }*/

      if( $("#id_liga option").filter(":selected").val() != 0 ){
        dajax_encuentros(
            {
              "pk":
              $("#id_liga option").filter(":selected").val()
            },
            '{% url "admin_juego_torneos_get_ajax" %}',
            "type_temporada_liga_equipos"
          );
      }

      /*******************************************************/

    function torneosbydeporte() {

        $('#id_liga').empty()
        $("#id_liga").attr("disabled",true);
        $('#id_liga').trigger("chosen:updated");

        //$('#id_liga_equipos').empty()
        //$("#id_liga_equipos").attr("disabled",true);
        //$('#id_liga_equipos').trigger("chosen:updated");

        $("#table_equipos_select").html("");

        $('#id_temporada').empty()
        $("#id_temporada").attr("disabled",true);
        $('#id_temporada').trigger("chosen:updated");

        $('#id_jornada').empty()
        $("#id_jornada").attr("disabled",false);
        $('#id_jornada').trigger("chosen:updated");
        $("#id_jornada").append('<option value="0" ></option>');

        $('#id_grupo').empty()
        $("#id_grupo").attr("disabled",true);
        $('#id_grupo').trigger("chosen:updated");

        $('#id_jugadortipo').empty()
        $("#id_jugadortipo").attr("disabled",true);
        $('#id_jugadortipo').trigger("chosen:updated");

        $("#table_equipos").html("");

        var id = $(this).val();
        if (id){
          dajax_encuentros(
                {
                  "deporte": id
                },
                '{% url "admin_juego_torneos_by_deporte_ajax" %}',
                "type_deportes_ligas"
          );
        }


        if( $('.id_jugadortipo').val() ){
          $('.id_jugadortipo').trigger("chosen:updated");
          var id = $("#id_deporte").val();
          if( id ){
            dajax_encuentros(
                {
                  "deporte": id
                },
                '{% url "admin_juego_jugadortipo_by_deporte_ajax" %}',
                "type_jugadores"
            );
          }
        }

    }


    function temporadasbytorneo() {
        //$('#id_liga').trigger("chosen:updated");

        $('#id_temporada').empty()
        $("#id_temporada").attr("disabled",true);
        $('#id_temporada').trigger("chosen:updated");

        $('#id_jornada').empty()
        $("#id_jornada").attr("disabled",false);
        $('#id_jornada').trigger("chosen:updated");
        $("#id_jornada").append('<option value="0" ></option>');

        $('#id_grupo').empty()
        $("#id_grupo").attr("disabled",true);
        $('#id_grupo').trigger("chosen:updated");

        $("#table_equipos").html("");

        var id = $(this).val();
        if (id){
          dajax_encuentros(
              {
                "pk": id
              },
              '{% url "admin_juego_torneos_get_ajax" %}',
              "type_temporada_liga_equipos"
          );
          
          dajax_encuentros(
              {
                "liga": id
              },
              '{% url "admin_juego_temporadas_by_torneo_ajax" %}',
              "type_ligas_temporadas"
          );

          /********************************************************************************/
          //$('#id_liga_equipos option[value="'+id+'"]').attr('selected', 'selected');
          //$('#id_liga_equipos').trigger("chosen:updated");
          dajax_encuentros(
              {
                "liga": id
              },
              '{% url "juego_equipos_by_liga_ajax" %}',
              "type_equipos"
          );
          /********************************************************************************/

        }


    }

    function equiposbyliga(){
      var id = $('#id_liga').val();
      if( id ){
          dajax_encuentros(
            {
              "liga": id
            },
            '{% url "juego_equipos_by_liga_ajax" %}',
            "type_equipos"
          );
      }
    }
    equiposbyliga();

    function jornadasbytemporada() {

        $('#id_jornada').empty()
        $("#id_jornada").attr("disabled",false);
        $('#id_jornada').trigger("chosen:updated");
        $("#id_jornada").append('<option value="0" ></option>');

        var id = $("#id_temporada").val();
        if( id ){
          dajax_encuentros(
            {
              "temporada": id
            },
            '{% url "admin_juego_jornadas_by_temporada_ajax" %}',
            "type_jornada"
          );
        }
    }
    torneo_grupo = false;
    function gruposbytemporada() {

        $('#id_grupo').empty()
        $("#id_grupo").attr("disabled",true);
        $('#id_grupo').trigger("chosen:updated");

        var id = $("#id_temporada").val();

        if( torneo_grupo == true && id ){
          dajax_encuentros(
            {
              "temporada": id
            },
            '{% url "admin_juego_gruposjuego_by_temporada_ajax" %}',
            "type_grupo"
          );
        }
    }

    function addEquipo(pk){

      var nombre = $("#"+pk+"_nombre").html();
      var logo = document.getElementById(pk+"_logo");
      
      if(logo != null){
        logo = logo.src;
      }

      if($('#tr_'+pk).html() != undefined){
        alert("Ya agrego este equipo, seleccione uno distinto")
        return
      }

      html = '<tr id="tr_'+pk+'" >'
          html += '<td>'
              html += '<div class="form-margin col-xs-12">'
                html += '<div class="row form form-group">'
                  html += '<div class="col-xs-3">Equipo: (*)</div>'
                  html += '<div class="col-xs-9">'
                    if( logo != "")
                      html += '<img src="'+ logo +'" width="25" height="25">'
                    html += nombre
                    html += '<input type="hidden" name="equipos" value="'+pk+'">'
                  html += '</div>'
                html += '</div>'

                html += '<div class="row form form-group tipo-jugador-invisible jugador-invisible">'
                  html += '<div class="col-xs-3">Tipo de jugador: </div>'
                  html += '<div class="col-xs-9">'
                    html += '<select id="id_jugadortipo'+pk+'" class="id_jugadortipo jugador select-chosen-jugador" name="jugador_'+pk+'">'
                      html += '<option value="0" >Selecciona un tipo de jugador</option>'

                    html += '</select>'
                  html += '</div>'
                html += '</div>'

                html += '<div class="row form form-group jugador-invisible">'
                  html += '<div class="col-xs-3">Jugador: </div>'
                  html += '<div class="col-xs-9">'
                    html += '<select id="id_jugador'+pk+'" class="id_jugador select-chosen-jugador" name="jugador_'+pk+'">'
                    html += '<option value="0" >Selecciona un jugador</option>'
                    html += '</select>'
                  html += '</div>'
                html += '</div>'

                html += '<div class="row form form-group jugador-invisible">'
                  html += '<div class="col-xs-3">Referencia: </div>'
                  html += '<div class="col-xs-9">'
                    html += '<input type="text" id="id_referencia'+pk+'" class="id_referencia" name="referencia_'+pk+'"disabled>'
                  html += '</div>'
                html += '</div>'

              html += '</div>'

          html += '</td>'

          html += '<td>'
            html += '<select class="indice" name="indice_'+pk+'">'
            html += '</select>'
          html += '</td>'

          html += '<td>'
              html += '<button type="button" class="eliminar"'
              html += 'class="bnt"><i class="icon-trash"></i></button>'
          html += '</td>'
      html += '</tr>'

      $("#table_equipos_select").append(html);

      //les doy a los select estilo de chosen
      $(".select-chosen-jugador").chosen({no_results_text: "Oops, no hay resultados que coincidad! para: "});


      $('#id_jugadortipo').empty()
      $("#id_jugadortipo").attr("disabled",true);
      $('#id_jugadortipo').trigger("chosen:updated");

      var id = $("#id_deporte").val();
      if( id ){
        dajax_encuentros(
          {
            "deporte": id
          },
          '{% url "admin_juego_jugadortipo_by_deporte_ajax" %}',
          "type_jugadores"
        );
      }


      $('#id_jugadortipo'+pk).change(function() {

        var id = $(this).val();
        if( id ){

            $("#id_jugador"+pk).empty()
            $("#id_jugador"+pk).attr("disabled",true);
            $("#id_jugador"+pk).trigger("chosen:updated");
            dajax_encuentros(
                {
                  "tipo": id,
                  "equipo": pk,
                },
                '{% url "admin_juego_jugador_by_tipo_ajax" %}',
                "id_jugador"+pk
            );
        }

      });

      $('#id_jugador'+pk).change(function() {

        var id = $(this).val();
        if( id != 0 && id != ''){
            $('#id_referencia'+pk).attr("disabled",false);
        }
        else{
            $('#id_referencia'+pk).attr("disabled",true);
        }

      });

      configIndices();
      jugadorInvisible();

      $(".eliminar").click(function(){
          $(this).parents("tr").fadeOut("normal", function(){
            $(this).remove();
            configIndices();
          })
      });

    }

    $(".eliminar").click(function(){
          $(this).parents("tr").fadeOut("normal", function(){
            $(this).remove();
            configIndices();
          })
    });


    function configIndices(){
      $(".indice").empty()
      var equipos_select = $('#table_equipos_select tr').length;
      if (equipos_select <= 2){
        var vect_label = ["Home","Visitante"]
        for(var i = 0; i < $('#table_equipos_select tr').length ; i++){
          label = vect_label[i]
          $(".indice").append('<option value="'+(i+1)+'">'+label+'</option>') 
        }
      }
      else{
        for(var i = 0; i < $('#table_equipos_select tr').length ; i++){
          label = "Posición "+ (i+1)
          $(".indice").append('<option value="'+(i+1)+'">'+label+'</option>')
        }
      }
    }

    function dajax_encuentros(data, url, process){
      $.ajax({
          data : data,
          url : url,
          type : 'get',
          success : function(data_recibe){
            
            if(process == "type_deportes_ligas"){
                $('#id_liga').empty();
                //$('#id_liga_equipos').empty();
                if(data_recibe.length > 0){
                  $("#id_liga").append('<option value="0" >Selecciona Liga</option>');
                  //$("#id_liga_equipos").append('<option value="0" >Selecciona una liga para filtrar equipos</option>');

                  $.each(data_recibe, function(obj){
                    $("#id_liga").append('<option value="'+data_recibe[obj].pk+'">'+data_recibe[obj].nombre+'</option>');
                    //$("#id_liga_equipos").append('<option value="'+data_recibe[obj].pk+'">'+data_recibe[obj].nombre+'</option>');

                  });

                  $("#id_liga").attr("disabled",false);
                  //$("#id_liga_equipos").attr("disabled",false);

                }else{

                  $("#id_liga").append('<option value="0" >No se encontraron datos, selecciona otro deporte</option>');

                  //$("#id_liga_equipos").append('<option value="0" >No se encontraron datos, selecciona otro deporte</option>');
                  
                }
                $("#id_liga").trigger("chosen:updated");
                //$("#id_liga_equipos").trigger("chosen:updated");

                jugadorInvisible();

            }
            else
            if(process == "type_ligas_temporadas"){

              $('#id_temporada').empty();

              if(data_recibe.length > 0){

                $("#id_temporada").append('<option value="0" >Seleccione Temporada</option>');
                
                $.each(data_recibe, function(obj){
                  $("#id_temporada").append('<option value="'+data_recibe[obj].pk+'">'+data_recibe[obj].nombre+'</option>');
                });

                $("#id_temporada").attr("disabled",false);  
                
                if( data_recibe.length == 1 ){
                  $("#id_temporada").prop("selectedIndex",1);
                  $("#id_temporada").change();
                }
                
              }else{
                $("#id_temporada").append('<option value="0" >No se encontraron datos, selecciona otra liga</option>');
                
              }
              $("#id_temporada").trigger("chosen:updated");

            }
            else
            if(process == "type_temporada_liga_equipos"){
              if(data_recibe.length > 0){
                torneo_jornada = data_recibe[0].por_jornadas;
                torneo_grupo = data_recibe[0].por_grupos;
              }
              else{
                torneo_jornada = false
                torneo_grupo = false
              }

              if (torneo_jornada == false){
                $(".div_jornada").slideUp( "slow", function(){ });
              }
              else{
                $(".div_jornada").slideDown("slow");
              }

              if (torneo_grupo == false){
                $(".div_grupo").slideUp( "slow", function(){ });
              }
              else{
                $(".div_grupo").slideDown("slow");
              }

            }
            else
            if(process == "type_equipos"){
              html = ""

              //alert( JSON.stringify(data_recibe) )

                $.each(data_recibe, function(obj){
                  html += '<tr>'

                    html += '<td><p id="'+data_recibe[obj].pk+'_nombre">'
                      html += data_recibe[obj].nombre
                    html += '</p></td>'

                    html += '<td>'
                      if( data_recibe[obj].logo != "")
                        html += '<img id="'+data_recibe[obj].pk+'_logo" src="{{MEDIA_URL}}'+ data_recibe[obj].logo +'" width="25" height="25">'
                    html += '</td>'


                    html += '<td>'
                      html += '<button type="button" '

                      html += 'onclick="addEquipo('+data_recibe[obj].pk+')"'

                      html += 'class="bnt"><i class="icon-plus"></i></button>'
                    html += '</td>'
                  html += '</tr>'
                });

                if ( typeof(data_table_equipos) != "undefined" ){
                  data_table_equipos.fnDestroy();
                }

                $("#table_equipos_filter").html(html);
                data_table_equipos = $('#equipos_list_data_table').dataTable({
                    "sPaginationType": "full_numbers",
                    "bSort": false,
                    "iDisplayLength": 10,
                    //"bRetrieve": true,
                    "bDestroy": true
                });
                $(".icon-search").parent("div").remove();


            }
            else
            if(process == "type_jornada"){
              $('#id_jornada').empty();

              if(data_recibe.length > 0){

                $("#id_jornada").append('<option value="0" >Seleccione Jornada</option>');
                $.each(data_recibe, function(obj){
                  if (torneo_jornada == false)
                  {
                    $("#id_jornada").append('<option selected value="'+data_recibe[obj].pk+'">'+data_recibe[obj].jornada+'</option>');
                  }
                  else{
                    $("#id_jornada").append('<option value="'+data_recibe[obj].pk+'">'+data_recibe[obj].jornada+'</option>');
                  }
                });
                $("#id_jornada").attr("disabled",false);

              }else{

                $("#id_jornada").append('<option value="0" >No se encontraron datos, selecciona otra temporada</option>');

              }

              $("#id_jornada").trigger("chosen:updated");
            }
            else
            if(process == "type_grupo"){

              $('#id_grupo').empty();

              if(data_recibe.length > 0){

                $("#id_grupo").append('<option value>Seleccione Grupo</option>');
                $.each(data_recibe, function(obj){
                  $("#id_grupo").append('<option value="'+data_recibe[obj].pk+'">'+data_recibe[obj].nombre+'</option>');
                });
                $("#id_grupo").attr("disabled",false);

              }else{

                $("#id_grupo").append('<option value="0" >Sin grupos</option>');

              }
              $("#id_grupo").trigger("chosen:updated");
            }
            else
            if( process == "type_jugadores" ){

                $('.id_jugadortipo').empty();

                if(data_recibe.length > 0){

                  $(".id_jugadortipo").append('<option value="0" >Seleccione Tipo de jugador</option>');
                  $.each(data_recibe, function(obj){
                    //alert( JSON.stringify( data_recibe[obj] ) )
                    $(".id_jugadortipo").append('<option value="'+data_recibe[obj].pk+'">'+data_recibe[obj].nombre+'</option>');
                  });

                  $(".tipo-jugador-invisible").css({"display":"block"});
                  $(".id_jugadortipo").attr("disabled",false);

                }else{
                  $(".id_jugadortipo").append('<option value="0" >No se encontraron datos, selecciona otro deporte</option>');
                  //$(".id_jugadortipo").attr("disabled",true);
                }
                $(".id_jugadortipo").trigger("chosen:updated");

                jugadorInvisible();

            }
            else{

                var old = $("#"+process).val();
                $("#"+process).empty();

                if(data_recibe.length > 0){

                  $("#"+process).append('<option value="0" >Seleccione un valor</option>');
                  $.each(data_recibe, function(obj){
                    
                    if (old == String(data_recibe[obj]["pk"])){
                        $("#"+process).append('<option selected value="'+data_recibe[obj]["pk"]+'">'+data_recibe[obj]["nombre"]+'</option>');
                    }
                    else{
                      $("#"+process).append('<option value="'+data_recibe[obj]["pk"]+'">'+data_recibe[obj]["nombre"]+'</option>');
                    }
                    
                  });

                  $("#"+process).attr("disabled",false);

                }else{

                  $("#"+process).append('<option value="0" >No se encontraron datos</option>');

                }

                $("#"+process).trigger("chosen:updated");
                //if (selected_text == "")
                //  $("#"+process.replace("id_jugador","id_referencia")).val("");

                if(process != "type_jornada"){
                  // Pone una jornada artificial no valida, solo cuando no consulta jornadas
                  $("#id_jornada").append('<option value="0" ></option>');
                }
            }
          },
          error : function(xhr,errmsg,err) {
            //alert(xhr.status + ": " + xhr.responseText);
            console.log(xhr.status + ": " + xhr.responseText);
          }
        });
    }


    function jugadorInvisible(){

      var juego_con_jugador = 0
      $(".id_jugadortipo").each(function (index) {
          if(  $(this).html().split("value").length >= 3 )
          {
            juego_con_jugador = $(this).html().split("value").length;
            return false
          }
      });

      if( juego_con_jugador >=4 ){
          $(".jugador-invisible").css({"display":"block"});
      }else{
          if ( juego_con_jugador == 3 ){
            $(".jugador-invisible").css({"display":"block"});
            $(".tipo-jugador-invisible").css({"display":"none"});

            $(".id_jugadortipo").prop("selectedIndex",1);
            $(".id_jugadortipo").change();
          }
          else{
            $(".jugador-invisible").css({"display":"none"});
          }
      }
    }

    jugadorInvisible();

  </script>
{% endblock %}
