# Add Environment Variables

PANEL_DEBUG=False
PANEL_DEBUG_TOOLBAR=False
PANEL_ADD_MENU=False
PANEL_MEDIA_URL=https://admin.unicornn.com/media/
PANEL_STATIC_URL=/static/
PANEL_DB_DEFAULT_NAME=all_admin_parley
PANEL_DB_HISTORIC_NAME=historic_admin_parley
PANEL_DB_DATAMART_NAME=datamart_admin_parley
PANEL_DB_USER=u_parley
PANEL_DB_PASSWORD=basica
PANEL_DB_HOST=172.17.0.1
PANEL_DB_PORT=5432
PANEL_ALLOWED_HOSTS_IP=172.17.0.1
PANEL_ALLOWED_HOSTS_NAME_1=admin.unicornn.com
PANEL_ALLOWED_HOSTS_NAME_2=admin.unicornn.com

WS_DEBUG=False
WS_DEBUG_TOOLBAR=False
WS_MEDIA_URL=https://api.unicornn.com/media/
WS_STATIC_URL=/static/
WS_DB_NAME=201504260205_webs_parley
WS_DB_USER=u_parley
WS_DB_PASSWORD=basica
WS_DB_HOST=172.17.0.1
WS_DB_PORT=5432
WS_PANEL_USING=sbp
WS_ACCESS_TO_DEVELOPER=1
WS_ALLOWED_HOSTS_IP=172.17.0.1
WS_ALLOWED_HOSTS_NAME_1=api.unicornn.com
WS_ALLOWED_HOSTS_NAME_2=api.unicornn.com

WEBAPP_DEBUG=False
WEBAPP_DEBUG_TOOLBAR=False
WEBAPP_MEDIA_URL=https://www.unicornn.com/media/
WEBAPP_STATIC_URL=/static/
WEBAPP_DB_NAME=webapp_parley
WEBAPP_DB_USER=u_parley
WEBAPP_DB_PASSWORD=basica
WEBAPP_DB_HOST=172.17.0.1
WEBAPP_DB_PORT=5432
WEBAPP_ALLOWED_HOSTS_IP=172.17.0.1
WEBAPP_ALLOWED_HOSTS_NAME_1=unicornn.com
WEBAPP_ALLOWED_HOSTS_NAME_2=www.unicornn.com

WEBAPP_API_WS=https://api.unicornn.com/
WEBAPP_API_DEFAULT_THEME=1

NODEJS_DEBUG=True

ADMINS_NAME=Edwar Baron
ADMIN_MAIL=edwar.baron@gmail.com

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=banklotsportsengineering@gmail.com
EMAIL_HOST_PASSWORD=passwordversionbeta123

RABBITMQ_DEFAULT_USER=mensajero
RABBITMQ_DEFAULT_PASS=mensajeroconclavecifrada