# Add Environment Variables

PANEL_DEBUG=True
PANEL_DEBUG_TOOLBAR=True
PANEL_ADD_MENU=False
PANEL_DB_NAME=201510050205_admin_parley
PANEL_DB_DEFAULT_NAME=201510050205_admin_parley
PANEL_DB_HISTORIC_NAME=historic_admin_parley
PANEL_DB_DATAMART_NAME=datamart_admin_parley
PANEL_DB_USER=u_parley
PANEL_DB_PASSWORD=basica
PANEL_DB_HOST=172.17.42.1
PANEL_DB_PORT=5432
PANEL_ALLOWED_HOSTS_IP=172.17.42.1
PANEL_ALLOWED_HOSTS_NAME_1=dev.panel
PANEL_ALLOWED_HOSTS_NAME_2=panel.com

WS_DEBUG=True
WS_DEBUG_TOOLBAR=False
WS_DB_NAME=201504260205_webs_parley
WS_DB_USER=u_parley
WS_DB_PASSWORD=basica
WS_DB_HOST=172.17.42.1
WS_DB_PORT=5432
WS_PANEL_USING=admin_banklotsports
WS_ACCESS_TO_DEVELOPER=2056
WS_ALLOWED_HOSTS_IP=172.17.42.1
WS_ALLOWED_HOSTS_NAME_1=dev.ws
WS_ALLOWED_HOSTS_NAME_2=ws.com

ADMINS_NAME=Edwar Baron
ADMIN_MAIL=edwar.baron@gmail.com

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=banklotsportsengineering@gmail.com
EMAIL_HOST_PASSWORD=passwordversionbeta123

RABBITMQ_DEFAULT_USER=mensajero
RABBITMQ_DEFAULT_PASS=mensajeroconclavecifrada