{% extends 'base.html' %}

{% block content %}

<!--Incluimos el js para finanzas-->
{% load static %}
              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-ticket"></i>Soporte</h1>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><i class="icon-ticket"></i>Gestion de tickets</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">

                    <form action='' method='post' encoding='utf-8'>
                      {% csrf_token %}

                          <div class="col-xs-12">
                            <div class="panel panel-default">
                            <div class="panel-body panel-head-border">
                              <div class="form-margin">
                              
                              {% for item in form %}
                              
                                  <div class="row form form-group">
                                  
                                    <div class="col-xs-3">
                                      <div class="form-label">{{ item.label }}</div>
                                    </div>
                                    <div class="col-xs-4">
                                      {{ item }}
                                    </div>

                                  <div class="col-xs-3">
                                    {%  if item.errors %}   
                                      <div class="alert alert-warning">{{ item.errors }}</div>
                                    {% endif %}     

                                  </div>
                                </div>
                              {% endfor %}
                              
                              <div class="row form form-group">

                                  <div class="col-xs-3">
                                  </div>
                                  <div class="col-xs-6">
                                      <div class="alert alert-info">
                                        <p>Los campos con (*) son obligatorios.</p>                                    
                                      </div>
                                  </div>
                                  <div class="col-xs-3">
                                  </div>

                              </div>

                            
                          </div>
                          <div class="panel-footer panel-shadow">
                              <div class="col-xs-3"></div>
                              <div class="col-xs-6">
                                <p>
                                <button class='btn btn-large btn-success' type='submit'>
                                  Buscar
                                </button>
                                </p>
                              </div>
                              <div class="col-xs-3"></div>
                          </div>
                        </div>
                      </div>
                    </form>
              </div>
                      </div>
{% endblock %}

{% block js %}
<script>


</script>
{% endblock %}