{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<!--Incluimos el js para cadena-->
{% load static %}
              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-users"></i> Mi cuenta</h1>
                           
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><a href="{% url 'admin_users_users_account' %}"><i class="icon-industrial-building"></i> cuenta</a></li>
                                <li>
                                  <i class="icon-lock-open-7"></i> Cambiar contraseña
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">
                    <form action='{% if object %}
                                    {% url 'admin_users_users_update' pk=object.pk  as update%}
                                    {% if info_menu_url = update %} 
                                      {% url 'admin_users_users_update' pk=object.pk %}
                                    {% else %}
                                      {% url 'admin_users_users_update_password' pk=object.pk %}
                                    {% endif %}
                                  {% else %}
                                    {% url 'admin_users_users_create' %}
                                  {% endif %}' 
                        method='post' encoding='utf-8' autocomplete="off">{% csrf_token %}
                      
                      <div class="col-xs-12">
                        <div class="panel panel-default">
                          <div class="panel-body panel-head-border">
                            <div class="form-margin">
                             
                            {%  if form.non_field_errors %}
                            <div class="row form form-group ">   
                                <div class="col-xs-3"> 
                                    <div class="alert alert-warning">{{ form.non_field_errors }}</div>            
                                </div>
                              </div>
                            {% endif %}

                            {% for item in form %}
                              
                              {% if item.is_hidden == 0 %}
                                
                                <div class="row form form-group">
                                
                                  <div class="col-xs-3">
                                    <div class="form-label">{{ item.label }}</div>
                                  </div>
                                  <div class="col-xs-6">
                                    {{ item }}

                                    {% if item.name = "password" %}
                                      {{ item.help_text|safe }}
                                    {% endif %}

                                </div>

                                <div class="col-xs-3">
                                  {%  if item.errors %}   
                                    <div class="alert alert-warning">{{ item.errors }}</div>
                                  {% endif %}     

                                </div>
                              </div>

                              {% else %}

                                {{ item }}
                              
                              {% endif %}

                                  
                            {% endfor %}

                            <div class="row form form-group">

                                  <div class="col-xs-3">
                                  </div>
                                  <div class="col-xs-6">
                                      <div class="alert alert-info">
                                        <p>Los campos con (*) son obligatorios.</p>                                    
                                      </div>
                                  </div>
                                  <div class="col-xs-3">
                                  </div>

                              </div>


                            </div>
                          </div>
                          <div class="panel-footer panel-shadow">
                              <div class="col-xs-3"></div>
                              <div class="col-xs-6">
                                <p>
                                <button class='btn btn-large btn-success' type='submit'>
                                  {% if object %}
                                  {% trans "Editar" %}
                                  {% else %}
                                  {% trans "Crear" %}
                                  {% endif %}
                                </button>
                                </p>
                              </div>
                              <div class="col-xs-3"></div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
{% endblock %}
{% block js %}
  <script>

 </script>
{% endblock %}