{% extends 'base.html' %}

{% load i18n %}
{% load url from future %}

{% block content %}
              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-group-work"></i> Grupos</h1>
                            <p class="subtitle">Detalle</p>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><a href="{% url 'admin_juego_gruposjuego_list' %}"><i class="icon-group-work"></i> Grupos</a></li>
                                <li><i class="icon-info"></i> Detalle</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">
                    {% include 'admin_juego/gruposjuego/object_table_detail.html' %}
                    <div class="col-xs-12">
                      <div class="panel panel-default">
                          <div class="panel-body panel-body-border panel-head-border panel-shadow">
                            <form action='{% url 'admin_juego_gruposjuego_delete' pk=object.pk %}' charset='utf-8' method='post' class="form-margin">
                                {% csrf_token %}
                                    <a class='btn btn-success' href='{% url 'admin_juego_gruposjuego_update' pk=object.pk %}'>
                                      {% trans "Editar" %}
                                    </a>
                                    <button class='btn btn-danger' type='submit' value="_delete" name="_delete">
                                      {% trans "Eliminar" %}
                                    </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
{% endblock %}