{% load url from future %}
{% load i18n %}
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-head">
                          <a href="{% url 'admin_juego_deportes_create' %}" class="btn btn-sm btn-primary side left"><i class="icon-squared-plus i-right"></i> Crear nuevo</a>
                        </div>
                        <div class="panel-body panel-body-border panel-shadow">
                            <table class='table table-data'>
                              <thead>
                                <tr>
                                  <th>N°</th>
                                  <th>Nombre</th>
                                  <th>Orden</th>
                                  <th>Orden de equipos</th>
                                  <th>Cantidad de apuestas</th>
                                  <th>Resultado</th>
                                  <th>Logo</th>
                                  <th>Fondo</th>
                                  <th>Equipos por encuentro</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for object in object_list %}
                                  <tr>
                                      <td>{{forloop.counter}}</td>
                                      <td><a href="{{object.get_absolute_url}}" class="link">{{ object }}</a></td>
                                      <td>{{ object.orden }}</td>
                                      <td>{{ object.get_orden_equipos_display }}</td>
                                      <td>{{ object.get_count_apuesta_display }}</td>
                                      <td>{{ object.get_resultado_display }}</td>
                                      <td>
                                        
                                        {% if object.logo %}
                                          <img src="{{MEDIA_URL}}{{object.logo}}" width="35" height="auto">
                                        {% else %}
                                          Sin imagen
                                        {% endif %}
                                      
                                      </td>
                                      <td>

                                        {% if object.fondoweb %}
                                          <img src="{{MEDIA_URL}}{{object.fondoweb}}" width="35" height="auto">
                                        {% else %}
                                          Sin imagen
                                        {% endif %}

                                      </td>
                                      <td>{{ object.get_cantidad_display }}</td>
                                      <td>
                                        <div class="btn-group btn-group-73">
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_juego_deportes_detail" pk=object.pk %}'>
                                            <i class="icon-info2"></i>
                                          </a>
                                          
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_juego_deportes_update" pk=object.pk %}'>
                                            <i class="icon-edit2"></i>
                                          </a>
                                        
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_juego_deportes_delete" pk=object.pk %}'>
                                            <i class="icon-delete"></i>
                                          </a>
                                        </div>              
                                      </td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>