{% load i18n %}
{% load humanize %}
                  <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-head">
                            <div class="title left">
                                <p>
                                  Datos del deporte
                                </p>
                              </div>

                              {% if object.get_url_historic %}
                              <div class="title right">
                                <a class='btn btn-success' href='{{object.get_url_historic}}'>
                                  <i class="icon-history"></i>
                                  {% trans "Ver historico" %}
                                </a>
                              </div>
                              {% endif %}
                        </div>
                        <div class="panel-body panel-body-border panel-shadow">
                          <table class='table'>
                            <thead>
                              <tr>
                                <th>
                                  {% trans "Dato" %}
                                </th>
                                <th>
                                  {% trans "Valor" %}
                                </th>
                              </tr>
                            </thead>
                            <tbody>    
                              <tr>
                                <td>
                                  Nombre
                                </td>
                                <td>{{ object.nombre }}</td>
                              </tr>

                              <tr>
                                <td>
                                  Orden
                                </td>
                                <td>{{ object.orden }}</td>
                              </tr>

                              <tr>
                                <td>
                                  Orden de equipos
                                </td>
                                <td>{{ object.get_orden_equipos_display }}</td>
                              </tr>

                              <tr>
                                <td>
                                  Cantidad de apuestas por juego
                                </td>
                                <td>{{ object.get_count_apuesta_display }}</td>
                              </tr>

                              <tr>
                                <td>
                                  Modo de ganar
                                </td>
                                <td>{{ object.get_resultado_display }}</td>
                              </tr>
                              
                              <tr>
                                <td>
                                  Logo
                                </td>
                                <td>
                                  {% if object.logo %}
                                    <img src="{{MEDIA_URL}}{{object.logo}}" width="35" height="auto">
                                  {% else %}
                                    Sin imagen
                                  {% endif %}

                                </td>
                              </tr>
                              
                              <tr>
                                <td>
                                  Fondo
                                </td>
                                <td>
                                   {% if object.fondoweb %}
                                      <img src="{{MEDIA_URL}}{{object.fondoweb}}" width="35" height="auto">
                                    {% else %}
                                      Sin imagen
                                    {% endif %}
                                </td>
                              </tr>

                              <tr>
                                <td>
                                  Equipos por encuentro
                                </td>
                                <td>{{ object.get_cantidad_display }}</td>
                              </tr>

                              <tr>
                                <td>
                                  ¿Permite cargar logros y referencia positiva en runline?
                                </td>
                                <td>
                                  {% if object.runline_positivo %}
                                    Si
                                  {% else %}
                                    No
                                  {% endif %}
                                </td>
                              </tr>

                              <tr>
                                <td>
                                  ¿Al procesar resultados, la modalidad ganador no se anula si detecta un empate?
                                </td>
                                <td>
                                  {% if object.ganador_empate_not_null %}
                                    Si
                                  {% else %}
                                    No
                                  {% endif %}
                                </td>
                              </tr>
                              
                              <tr>
                                            <td>
                                              Creado
                                            </td>
                                            <td title="{{ object.created_at }}">
                                              <i class="icon-clock"><i>
                                              {{ object.created_at|naturaltime }}
                                            </td>
                                          </tr>
                                          
                                          <tr>
                                            <td>
                                              Actualizado
                                            </td>
                                            <td title="{{ object.updated_at }}">
                                              <i class="icon-clock"><i>
                                              {{ object.updated_at|naturaltime }}
                                            </td>
                                          </tr>
                              
                            </tbody>
                          </table>
                        </div>
                      </div>
                  </div>