{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0">
  <title>{{ info_system.name }} - v{{ info_system.version }}</title>
  <meta name="description" content="Admin panel">
  <meta name="author" content="Grupo Banklot, C.A.">
  <link rel="stylesheet" href="{% static 'css/vendor/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <!--[if lt IE 7]>
            <p class="chromeframe">Usted está utilizando un <strong>navegador obsoleto</strong>. Por favor <a href="http://browsehappy.com/">actualize su navegador</a> o <a href="http://www.google.com/chromeframe/?redirect=true">active Google Chrome Frame</a> para mejorar su experiencia.</p>
        <![endif]-->  
  <section id="page" class="body">
    <div class="container">
      <div class="margin-container">
        <div class="default-container dc-logo">
          <div class="logo center"></div>
        </div>
          <div class="login center">
            <div class="header">
              <p>
                <h3>{{ info_system.name|escape }}</h3>
              </p>
            </div>
            <div class="body">
              <form method="post" encoding='utf-8'>
              {% csrf_token %}
              <div class="default-container">
                <ul>
                                <li>
                                    <div class="border-up">
                                        <div class="inputup-bg">
                                            
                                            {{ form.username }}

                                        </div>
                                    </div>
                                </li>
                                <li>
                                  <div class="border-down">
                                        <div class="inputdown-bg">
                                           
                                            {{form.password}}

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        {% if error %}
                              <ul class="messages">
                                <li class="warning">
                                      {{ error }} 
                                </li>
                              </ul>     
                        {% else %}

                          {% if form.non_field_errors  %}
                                 <ul class="messages">
                                   <li class="warning">
                                         {{ form.non_field_errors }} 
                                   </li>
                                 </ul>     
                           {% endif %}

                        {% endif %}

                        <div class="default-container-top">
                          
                          <button class="btn orange" type="submit">Iniciar sesión</button>
                        </div>
                  </form>



            </div>
          </div>
      </div>
    </div>
  </section>
</body>
</html>