{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block content %}
{% load humanize %}
<!--Incluimos el js para finanzas-->
{% load static %}
<div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-swap"></i> Movimientos</h1>
                            {% include 'admin_finanzas/diatrabajo/dia_view.html' %}
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><a href="{% url 'admin_finanzas_resumenadministrativo_general' %}"><i class="icon-swap"></i> Ir a resumen administrativo</a></li>
                                <li><i class="icon-industrial-building"></i> {{verbose_movimiento}}s</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="container">
                  <div class="container-margin">

                    <div class="col-xs-12">
                      <div class="panel panel-default panel-filters">
                        
                        
                        <div class="panel-head">
                          
                          <p class="left">
                            Datos para registrar el {{ verbose_movimiento }}
                          </p>

                        </div>

                        <div>
                          <form id="form_movimientos" method='post' encoding='utf-8' enctype="multipart/form-data">
                      
                          {% csrf_token %}
                                    
                              <div class="panel-body">
                                <div class="row">
                                  <div class="col-xs-6">

                                      <div class="form-margin">
                                        
                                        <div class="row form form-group">
                                          <div class="col-xs-4">
                                            <div class="form-label">{{ form.comercializadora.label }}</div>
                                          </div>
                                          
                                          <div class="col-xs-8">
                                            {{ form.comercializadora }}
                                          </div>
                                          <div class="col-xs-3">
                                            {%  if form.comercializadora.errors %}   
                                              <div class="alert alert-warning">{{ form.comercializadora.errors }}</div>
                                            {% endif %}  
                                          </div>
                                        </div>

                                        <div class="row form form-group">
                                          <div class="col-xs-4">
                                            <div class="form-label">{{ form.cuenta.label }}</div>
                                          </div>
                                          
                                          <div class="col-xs-8">
                                            {{ form.cuenta }}
                                          </div>
                                          <div class="col-xs-3">
                                            {%  if form.cuenta.errors %}   
                                              <div class="alert alert-warning">{{ form.cuenta.errors }}</div>
                                            {% endif %}  
                                          </div>
                                        </div>

                                        <div class="row form form-group">
                                          <div class="col-xs-4">
                                            <div class="form-label">{{ form.numero.label }}</div>
                                          </div>
                                          
                                          <div class="col-xs-8">
                                            {{ form.numero }}
                                            {{ form.ref_auto }}
                                          </div>
                                          <div class="col-xs-3">
                                            {%  if form.numero.errors %}   
                                              <div class="alert alert-warning">{{ form.numero.errors }}</div>
                                            {% endif %}  
                                          </div>
                                        </div>

                                        <div class="row form form-group">
                                          <div class="col-xs-4">
                                            <div class="form-label">{{ form.comprobante.label }}</div>
                                          </div>
                                          
                                          <div class="col-xs-8">
                                            {{ form.comprobante }}
                                          </div>
                                          <div class="col-xs-3">
                                            {%  if form.comprobante.errors %}   
                                              <div class="alert alert-warning">{{ form.comprobante.errors }}</div>
                                            {% endif %}  
                                          </div>
                                        </div>

                                        
                                      </div>
                                    
                                  </div>
                                  <div class="col-xs-6">

                                      <div class="form-margin">
                                        
                                        <div class="row form form-group">
                                          <div class="col-xs-4">
                                            <div class="form-label">{{ form.fecha.label }}</div>
                                          </div>
                                          
                                          <div class="col-xs-8">
                                            {{ form.fecha }}
                                          </div>
                                          <div class="col-xs-3">
                                            {%  if form.fecha.errors %}   
                                              <div class="alert alert-warning">{{ form.fecha.errors }}</div>
                                            {% endif %}  
                                          </div>
                                        </div>

                                        <div class="row form form-group">
                                          <div class="col-xs-4">
                                            <div class="form-label">{{ form.monto.label }}</div>
                                          </div>
                                          
                                          <div class="col-xs-8">
                                            {{ form.monto }}
                                          </div>
                                          <div class="col-xs-3">
                                            {%  if form.monto.errors %}   
                                              <div class="alert alert-warning">{{ form.monto.errors }}</div>
                                            {% endif %}  
                                          </div>
                                        </div>

                                        <div class="row form form-group">
                                          <div class="col-xs-4">
                                            <div class="form-label">{{ form.observacion.label }}</div>
                                          </div>
                                          
                                          <div class="col-xs-8">
                                            {{ form.observacion }}
                                          </div>
                                          <div class="col-xs-3">
                                            {%  if form.observacion.errors %}   
                                              <div class="alert alert-warning">{{ form.observacion.errors }}</div>
                                            {% endif %}  
                                          </div>
                                        </div>

                                        
                                      </div>
                                    
                                  </div>
                                  
                                  <div class="col-xs-12">
                                    <div class="form-margin">
                                    <div class="row form form-group">
                                      <div class="col-xs-3">
                                      </div>
                                      <div class="col-xs-6">
                                          <div class="alert alert-info">Los campos con (*) son obligatorios</div>
                                      </div>
                                      <div class="col-xs-3">
                                      </div>
                                    </div>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            

                              <div class="panel-footer panel-shadow">
                                    <div class="col-xs-12">

                                      <div class="left">
                                           <div class="col-xs-12 form-margin">
                                              {{ form.tipo }}
                                          </div>
                                        
                                      </div>

                                      <p class="left">
                                        <button name="_save" value="_save" class='btn btn-large btn-success' type='submit'>
                                          Cargar {{ verbose_movimiento }} 
                                        </button>
                                      </p>
                                      
                                      <div class="right">
                                            <h3 id="beneficiario" class="title form-margin">
                                              {{ beneficiario.0 }}
                                            </h3>
                                      </div>                                      
                                     
                                    </div>
                              </div>
                        
                          </form>
                        
                        </div>

                      </div>
                    </div>

                    <div class="col-xs-12">
                      <div class="panel panel-default">
                          <div class="panel-head">
                              <div class="title left">
                              <p>
                                
                                {{verbose_movimiento}}s cargados

                              </p>
                              </div>
                              
                          </div>
                          <div class="panel-body panel-body-border panel-shadow" >
                              <table class='table-data table table table-striped table-panel table-small table-hover'>
                                <thead>
                                  <tr>

                                    <th >
                                      Nro.
                                    </th>
                                   
                                    <th>
                                      Fecha
                                    </th>

                                    <th>
                                      {{ objects_list.0.comercializadora.get_object.get_verbose_name }}
                                    </th>

                                    <th>
                                      Cuenta
                                    </th>

                                    <th>
                                      Nro.
                                    </th>

                                    <th>
                                      Monto
                                    </th>

                                    <th>
                                      Registrado
                                    </th>
                                    
                                    <th>
                                      Día trabajo
                                    </th>

                                    <th>
                                      Observación
                                    </th>
                                     <th >
                                      
                                    </th>

                                  </tr>
                                </thead>
                                
                                <tbody>
                                  {% for object in objects_list %}
                                  <tr>
                                    <td>
                                      <a href="#" class="exe-modal image" exe_modal_funct="modal_image" exe_modal_param="{% url "admin_finanzas_movimiento_detail" pk=object.pk %}">
                                        {{ forloop.counter }}
                                      </a>
                                    </td>
                                    
                                    <td>
                                      {{ object.fecha|date:"d-m-Y" }}
                                    </td>
                                    <td>
                                      {{ object.comercializadora.get_object }}
                                    </td>
                                    <td>
                                      {{ object.cuenta }}
                                    </td>
                                    <td>
                                      {{ object.numero }}
                                    </td>
                                    <td  
                                        {{% if object.monto < 0 %} 
                                          class="text-align-right link-red" 
                                        {% else%}
                                          class="text-align-right link-blue"
                                        {% endif%}
                                    >
                                      {{ object.monto }}
                                    </td>
                                    <td title="{{ object.created_at|naturaltime }}">
                                      {{ object.created_at|date:"d-m-Y H:m:s" }}
                                    </td>
                                    <td>
                                      {{ object.dia.fecha|date:"d-m-Y" }}
                                    </td>
                                    <td>
                                      {{ object.observacion }}
                                    </td>
                                    <td>
                                      
                                      <a class="l remove" href='{% url "admin_finanzas_movimiento_delete" pk=object.pk %}'>
                                            <i class="icon-trash"></i>
                                      </a> 

                                    </td>
                                  </tr>
                                  {% endfor %}
                                  
                                </tbody>
                                
                              </table>


                          </div>
                      </div>
                    </div>

                  </div>
                </div>
            </div>

{% endblock %}
{% block js %}
  <script>

    $('#id_fecha').datetimepicker({
      format:'d/m/Y',
      lang:'es',
      timepicker:false
    });

    $("#form_movimientos").submit(function( event ) {
      $("#id_comercializadora").removeAttr('disabled');
      return true
    });

    $(".radio_select_movimientos").on("change", function(){
      var radios = document.getElementsByName("tipo");
      for(var i = 0; i < radios.length; i++){
          if(radios[i].checked){
              if( i === 0){
                $("#beneficiario").html("A favor nuestro")
                $("#beneficiario").removeClass("link-red")
                $("#beneficiario").addClass("link-green")
              }
              else{
                $("#beneficiario").html("A favor del cliente")
                $("#beneficiario").addClass("link-red")
                $("#beneficiario").removeClass("link-green")
              }
              break
          }
      }
    });

    if( $("#beneficiario").html().trim() === "A favor del cliente" )
    {
      $("#beneficiario").addClass("link-red")
    }
    else{
      $("#beneficiario").addClass("link-green")
    }


    $('#id_cuenta').on("change",ChangeCuenta);

    function ChangeCuenta() {
        var pk = $('#id_cuenta').val()
        $('#id_numero').val("")
        $('#id_numero').attr('readonly',false);
        if ( pk ){
          var ref = $(".c-e-"+pk).val(); 
          if ( ref ){
              $('#id_numero').val(ref);
              $('#id_numero').attr('readonly',true);
          }
        }
    }

    ChangeCuenta();

    function modal_image(modal_param){
      $.get(modal_param, function(data){
          $("#modal_ajax").html( data ).hide().slideDown("slow");
      });
    }

  </script>
{% endblock %}