{% load i18n %}
                <div class="col-xs-12">
                  <div class="panel panel-default">
                      <div class="panel-head">
                       <a href="{% url 'admin_permisologia_groups_create' %}" class="btn btn-sm btn-primary side left"><i class="icon-squared-plus i-right"></i> Crear nuevo</a>
                      </div>
                  </div>
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-head">
                           <div class="title left">
                                <p class="left">Grupos de usuarios</p>
                          </div>            
                        </div>
                        <div class="panel-body panel-body-border panel-shadow">
                            <table class='table table-data'>
                              <thead>
                                <tr>
                                  <th>Nro</th>
                                  <th>Nombre</th>
                                  <th>N° de permisos</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for object in object_list %}
                                  <tr>
                                      <td>{{ forloop.counter }}</td>
                                      <td> {{ object }} </td>
                                     
                                      <td>
                                        {{ object.permissions.count }}
                                      </td>
                                      
                                      <td>
                                        <div class="btn-group">
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_permisologia_groups_detail" pk=object.pk %}'>
                                            <i class="icon-info2"></i>
                                          </a>
                                          
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_permisologia_groups_update" pk=object.pk %}'>
                                            <i class="icon-edit2"></i>
                                          </a>
                                        
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_permisologia_groups_delete" pk=object.pk %}'>
                                            <i class="icon-delete"></i>
                                          </a>
                                        </div>            
                                      </td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>