{% extends 'base.html' %}
{% load i18n %}

{% block content %}
              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-flow-line"></i> Modalidades</h1>
                            <p class="subtitle">
                                {% trans "Editar - Deportes" %}
                            </p>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><a href="{% url 'admin_juego_modalidades_list' %}"><i class="icon-flow-line"></i> Modalidades</a></li>
                                <li><a href="{% url 'admin_juego_modalidades_update' pk=object.pk %}"><i class="icon-pencil2"></i>Editar</a></li>
                                
                                <li>
                                  <i class="icon-baseball"></i> Deportes
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">
                    <form id="form_modalidad_deporte_restriccion" action='{% url 'admin_juego_modalidades_update_deportes' pk=object.pk %}' method='post' encoding='utf-8'>
                      {% csrf_token %}

                      <div class="col-xs-12">
                        <div class="panel panel-default">
                          <div class="panel-body panel-head-border">
                            <div class="form-margin">

                              <div class="row form form-group">

                                <div class="col-xs-3">
                                </div>
                                <div class="col-xs-6">
                                    <div class="alert alert-info">
                                      Modalidad: {{ object.modalidad }}
                                    
                                    </div>                    
                                </div>
                                <div class="col-xs-3">
                                </div>
                              </div>

                              {% for item_form in form %}

                                {% if item_form.non_field_errors  %}

                                <div class="row form form-group">

                                  <div class="col-xs-3">
                                  </div>
                                  <div class="col-xs-6">
                                      <div class="alert alert-warning">
                                        {{item_form.non_field_errors }} 
                                      </div>
                                  
                                  </div>
                                  <div class="col-xs-3">
                                  </div>
                                </div>
                                {% endif %}
                                

                                {% for item in item_form %}
                                <div class="row form form-group">

                                  {% if item.is_hidden == 0 %}
                                  <div class="col-xs-3">
                                    <div class="form-label">{{ item.label }}</div>
                                  </div>
                                  {% endif %}
                                  <div class="col-xs-6">
                                    {{ item }}
                                  </div>
                                  <div class="col-xs-3">
                                    {%  if item.errors %}   
                                      <div class="alert alert-warning">{{ item.errors }}</div>
                                    {% endif %}  
                                  </div>
                                </div>
                                {% endfor %}

                              {% endfor %}
                           
                          </div>
                          </div>
                          <div class="panel-footer panel-shadow">
                              <div class="col-xs-3"></div>
                              <div class="col-xs-6">
                                <p>
                          {%if object.etiqueta_ref%}
                        <button class='btn btn-success' type='submit' value="_save_restriccion_referencia" name="_save">
                          Guardar y continuar paso 3
                        </button>
                          {%else%}
                          
                          <button class='btn btn-success' type='submit' value="_save_deporte_restriccion" name="_save">
                            Guardar
                          </button>
                          {%endif%}
                                </p>
                              </div>
                              <div class="col-xs-3"></div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
{% endblock %}