{% load i18n %}
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-head">
                          <a href="{% url 'admin_juego_modalidades_create' %}" class="btn btn-sm btn-primary side left"><i class="icon-squared-plus i-right"></i> Crear nuevo</a>
                        </div>
                        <div class="panel-body panel-body-border panel-shadow">
                            <table class='table table-data'>
                              <thead>
                                <tr>
                                  <th>N°</th>
                                  <th>Modalidad</th>
                                  <th>¿Por referencia?

                                  </th>
                                  <th>Orden</th>
                                  <th>Grupo</th>
                                  <th>Descripción</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody> 
                                {% for object in object_list %}
                                  <tr>
                                      <td>{{ forloop.counter }}</td>
                                      <td ><a class="link" href='{{ object.get_absolute_url }}'>{{ object.modalidad }}</a></td>
                                      <td >
                                        {% if object.etiqueta_ref %}
                                          <a class="link c update" href='{% url "admin_juego_modalidades_update_referencias" pk=object.pk %}'>
                                            Si
                                          </a>
                                        {% else %}
                                          No
                                        {% endif %}

                                      </td>
                                      <td >{{ object.orden }}</td>
                                      <td>
                                        {% for grupo in object.grupo.all %}
                                          <span class="tag tag-blue">
                                            {{ grupo }}
                                          </span>
                                        {% endfor %}
                                      </td>
                                      <td >{{ object.descripcion }}</td>
                                      
                                      <td>
                                        <div class="btn-group btn-group-73">
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_juego_modalidades_detail" pk=object.pk %}'>
                                            <i class="icon-info2"></i>
                                          </a>
                                          
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_juego_modalidades_update" pk=object.pk %}'>
                                            <i class="icon-edit2"></i>
                                          </a>
                                        
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_juego_modalidades_delete" pk=object.pk %}'>
                                            <i class="icon-delete"></i>
                                          </a>
                                        </div>              
                                      </td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>