<div class="col-xs-12">
  <div class="panel panel-default">
      <div class="panel-head">
        
        <a href="{% url 'admin_users_users_create' %}" class="btn btn-success side left"><i class="icon-plus-1"></i> Crear nuevo</a>
      </div>
      <form id="form_filters" action='' method='get' encoding='utf-8'>                 
        <div class="panel-body panel-filters">
            <div class="form form-small">            
                    <div class="form-margin">
                        {% for item in form %}
                           <div class="row form form-group">
                            <div class="column md-4 sm-12">
                              <div class="form-label">{{ item.label }}</div>
                            </div>
                            <div class="column md-8 sm-12">
                              {{ item }}
                            </div>
                          </div>
                        {% endfor %}
                      </div>
            </div>
        </div>
      </form>
      <div class="panel-footer panel-shadow">
        <div class="form-margin">
          <div class="col-xs-12">
            <p>
              <button id="id_consultar" class='btn btn-large btn-success' >Buscar </button>
            </p>
          </div>
        </div>
      </div>     
  </div>
</div>

<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-head">
          <p>
            Usuarios
          </p>
        </div>
        <div class="panel-body panel-body-border panel-shadow">
            <table class='table datatable table-striped table-panel table-small table-hover'>
              <thead>
                <tr>
                  <th>Nro.</th>
                  <th>Nombre de usuario</th>
                  <th>Estatus</th>
                  <th>Comercializadoras</th>
                  <th width="20%"></th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                  </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>

{% block js%}
<script type="text/javascript">
  $("#id_profile").on("change",consultar_comercilizadoras);
  
  function consultar_comercilizadoras(){
    if( $("#id_comercializadora").length ){
        $("#id_comercializadora").empty();
        $("#id_comercializadora").attr("disabled",true); 
        $("#id_comercializadora").trigger("chosen:updated");
      
        if( $("#id_profile").val() ){
          
          dajax_comercializacion(
            {
                    "profile": $("#id_profile").val()
                  },
            '{% url "admin_users_comercializacion_list_by_user_ajax" %}',
            "id_comercializadora"
          );
        }
    }
  }
  
  function dajax_comercializacion(data, url, process_id){
    $.ajax({
        data : data,
        url : url,
        type : 'get',
        success : function(data_recibe){
        //alert(JSON.stringify( data ))
        if(data_recibe.length > 0){
            verbose = process_id.split("_")[1].capitalize()
            $("#"+process_id).append('<option value="" >Seleccione '+verbose+'</option>');
            
            $.each(data_recibe, function(obj){
              $("#"+process_id).append('<option value="'+data_recibe[obj].pk+'">'+data_recibe[obj].nombre+'</option>');
            });
            $("#"+process_id).attr("disabled",false); 
          
          }else{
            $("#"+process_id).append('<option value="">No se encontraron datos, selecciona otra opción</option>');
          
          }
          $("#"+process_id).trigger("chosen:updated");
    
        },
        error : function(xhr,errmsg,err) {
          console.log("#================ERROR=====================")
          console.log( xhr )
          console.log( errmsg )
          console.log( err )
          console.log("#==========================================") 
        }
      });
  }

/////////////////////////////////////////////////////////////////
/////////////////////DATATABLE///////////////////////////////////
/////////////////////////////////////////////////////////////////
  $('#id_consultar').on("click",function () {
    consultar();
  });

  json = $("#form_filters").serializeArray();

  function consultar() {
      var $form = $("#form_filters"),
      url = "{% url 'userslist_list_datatables' %}";
      data = $form.serialize();
      
      if ( typeof(dt_table) != "undefined" ){
        dt_table.fnDestroy()
      }

      dt_table = $('.datatable').dataTable({
          "sPaginationType": "full_numbers",
          "iDisplayLength" : 25,
          "bFilter": true,
          "bProcessing": true,
          "bServerSide": true,
          "sAjaxSource": url,
          "aaSorting": [[5,'desc']],
          "sProcessing": "Procesando...",
          "fnServerData": function ( sSource, aoData, fnCallback ) {
            
            $.ajax({
                  "dataType": 'json',
                  "type": "GET",
                  "processData": true,
                  "contentType": "application/json",
                  "url": url + '?' + $.param(aoData), 
                  "data": data, 
                  "success": function(result){
                    //console.log(result);
                    fnCallback(result);
                  },
                  error : function(xhr,errmsg,err) {
                    console.log("#================ERROR=====================")
                    console.log( xhr )
                    console.log( errmsg )
                    console.log( err )
                    console.log("#==========================================") 
                  }
              });

          }
        });
        dt_table.fnSetFilteringDelay(750);
}
</script>
{% endblock %}

                