{% load url from future %}
{% load i18n %}
                <div class="col-xs-12">
                  <div class="panel panel-default">
                      <div class="panel-head">
                       <a href="{% url 'admin_juego_torneos_create' %}" class="btn btn-sm btn-primary side left"><i class="icon-squared-plus i-right"></i> Crear nuevo</a>
                      </div>
                    
                          <form id="form_filters" action='' method='get' encoding='utf-8'>
                            <div class="panel-body panel-filters">
                                <div class="row">            
                                    <div class="col-xs-4">
                                        <div class="form-margin">
                                                 <div class="row form form-group">
                                                  <div class="col-xs-4">
                                                    <div class="form-label">{{ form.deporte.label }}</div>
                                                  </div>
                                                  <div class="col-xs-8">
                                                    {{ form.deporte }}
                                                  </div>
                                                </div>
                                          </div>
                                      </div>
                                </div>

                                <div class="row">            
                                    <div class="col-xs-4">
                                        <div class="form-margin">
                                                 <div class="row form form-group">
                                                  <div class="col-xs-4">
                                                    <div class="form-label">{{ form.torneo.label }}</div>
                                                  </div>
                                                  <div class="col-xs-8">
                                                    {{ form.torneo }}
                                                  </div>
                                                </div>
                                          </div>
                                      </div>
                                </div>

                          </div>

                        </form>
                        <div class="panel-footer panel-shadow">
                            <div class="col-xs-12">
                              <p>
                                <button id="id_consultar" class='btn btn-primary' >Buscar </button>
                              </p>
                            </div>
                        </div>
                            
                  </div>
                </div>
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-head">
                          <p class="title left">
                            Ligas
                          </p>
                        </div>
                        <div class="panel-body panel-body-border panel-shadow">
                            <table class='table datatable table-striped table-panel table-small table-hover'>
                              <thead>
                                <tr>
                                 <th>N°</th>
                                  <th>Nombre</th>
                                  <th>Logo</th>
                                  <th>Fondo</th>
                                  <th>Deporte</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                  </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>