
{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block content %}
              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-embassy"></i> Mensajes</h1>
                            <p class="subtitle">
                                {% trans "Nuevo" %}
                            </p>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                             <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><a href="{% url 'admin_mail_message_list' %}"><i class="icon-industrial-building"></i> Mensajes</a></li>
                                <li>
                                  <i class="icon-plus-1"></i> Nuevo
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">
                    <form id="form_grupos" action='{% url 'admin_mail_message_create' %}' method='post' encoding='utf-8' enctype="multipart/form-data">
                      {% csrf_token %}

                      <div class="col-xs-12">
                        <div class="panel panel-default">
                          <div class="panel-body panel-head-border">
                            <div class="form-margin">
                              
                              {% if form.non_field_errors  %}

                              <div class="row form form-group">

                                <div class="col-xs-3">
                                </div>
                                <div class="col-xs-6">
                                    <div class="alert alert-warning">
                                      {{form.non_field_errors }} 
                                    </div>
                                
                                </div>
                                <div class="col-xs-3">
                                </div>
                              </div>
                              {% endif %}

                              {% for item in form %}
                                  <div class="row form form-group">
                                    <div class="col-xs-3">
                                      <div class="form-label">{{ item.label }}</div>
                                    </div>
                                    <div class="col-xs-6">
                                      {{ item }}
                                    </div>
                                    <div class="col-xs-3">
                                      {%  if item.errors %}   
                                          <div class="alert alert-warning">{{ item.errors }}</div>
                                      {% endif %}  
                                    </div>
                                  </div>
                              {% endfor %}

                              <div class="row form form-group">
                                    <div class="col-xs-3">
                                      <div class="form-label">Adjuntos</div>
                                    </div>
                                    <div class="col-xs-6">
                                      <input type="file" name="files" class="multi">
                                    </div>
                                    <div class="col-xs-3">
                                      
                                    </div>
                              </div>
                              

                            <div class="row form form-group">

                                <div class="col-xs-3">
                                </div>
                                <div class="col-xs-6">
                                    <div class="alert alert-info">Los campos con (*) son obligatorios</div>
                                </div>
                                <div class="col-xs-3">
                                </div>

                            </div>

                          </div>
                          <div class="panel-footer panel-shadow">
                              <div class="col-xs-3"></div>
                              <div class="col-xs-6">
                                <p>
                                    <button class='btn btn-default submitbtn' type='submit' value="_addanother" name="_save">
                                      Enviar y escribir otro
                                    </button>
                                    <button class='btn btn-success submitbtn' type='submit' value="_save" name="_save">
                                      Enviar
                                    </button>
                                </p>
                              </div>
                              <div class="col-xs-3"></div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
{% endblock %}
{% block js %}
  <script>

  tinymce.init({
      selector: "#id_body",
      language : 'es',
      plugins: [
                "advlist autolink link image lists charmap preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "table contextmenu directionality textcolor paste textcolor colorpicker textpattern"
      ],
      toolbar: "insertfile undo redo | fullpage searchreplace insertdatetime | styleselect fontselect fontsizeselect forecolor backcolor colorpicker| bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media code",
      toolbar_items_size: 'small',
  });

  </script>
{% endblock %}