
{% extends 'base.html' %}

{% load i18n %}

{% block content %}

{% include 'js/admin_comercializacion_ajax.html' %}

<div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-ticket"></i> Listado de tickets {{ verbose_name|capfirst }}</h1>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><i class="icon-ticket"></i> {{ verbose_name|capfirst }}</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="container">
                  <div class="container-margin">
                    

                    <div class="col-xs-12">
                      <div class="panel panel-default panel-filters">
                        
                        
                        <div class="panel-head">
                          <p class="left">Búsqueda</p>
                          {% if consulta %}
                          <div class="title right">
                              <a id="expandir" class="btn btn-mini btn-icon"> - </a>
                          </div>
                          {% endif %}
                          </div>

                        {% if consulta %}
                          <div id="barra" class="">
                        {% else %}
                          <div>
                        {% endif %}
                          <form id="form_listado_tickets_por_estatus" action='' method='post' encoding='utf-8'>
                                      {% csrf_token %}
                              
                              <div class="panel-body">
                                <div class="row">
                                  <div class="col-xs-6">

                                      <div class="form-margin">
                                        
                                        {% if consulta.is_tickets %}
                                          <div class="row form form-group">
                                            <div class="col-xs-4">
                                              <div class="form-label">Lista de tickets {{ verbose_name }} para la agencia</div>
                                            </div>
                                            <div class="col-xs-8">
                                              <h3> 
                                                {{ taquilla.agencia.nombre }}: {{ taquilla.taquilla }}
                                              </h3>
                                              <input type="hidden" id="id_agencia" value="{{ taquilla.agencia_id }}" name="agencia">
                                            </div>
                                          </div>

                                        {% else %}
                                          {% for item in form_cadena %}

                                            {% if item.is_hidden == 0 %}
                                               <div class="row form form-group">
                                                <div class="col-xs-4">
                                                  <div class="form-label">{{ item.label }}</div>
                                                </div>
                                                <div class="col-xs-8">
                                                  {{ item }}
                                                </div>
                                              </div>
                                            {% else %}
                                              {{ item }}
                                            {% endif %}
                                            
                                          {% endfor %}
                                        {% endif %}

                                        <input type="hidden" id="id_taquilla" value="{{ taquilla.pk }}" name="taquilla">

                                      </div>
                                    
                                  </div>

                                  <div class="col-xs-6">
                                      <div class="form-margin">
                                        <div class="row form form-group-horizontal">
                                          <div class="col-xs-4">
                                            <div class="form-label">{{ form_fecha.fecha_inicio.label }}</div>
                                          </div>
                                          <div class="col-xs-8">
                                           {{ form_fecha.fecha_inicio }}
                                          </div>
                                        </div>
                                        
                                      </div>
                                    </div>                                
                                  
                                </div>
                              </div>
                            
                            <div class="panel-footer panel-shadow">
                              
                              <div class="col-xs-12">
                                      <p>
                                        <button class='btn btn-large btn-success' type="submit">
                                          Buscar 
                                        </button>
                                      </p>
                              </div>

                            </div>

                            </form>

                        </div>


                      </div>
                    </div>

                    <div class="col-xs-12">
                      <div class="panel panel-default">
                           <div class="panel-head">
                              <div class="title right">
                                <a class="btn btn-mini btn-pdf" target="_blank" href='#'>
                                  <i class="icon-print"></i>PDF
                                </a>  
                              </div>
                              <div class="title right">
                                <a class="btn btn-mini btn-excel" target="_blank" href='#'><i class="icon-download"></i>EXCEL
                                </a>  
                              </div>

                              {% if atras %}
                              <div class="title left">
                                 <a href="#" class='btn btn-mini' onclick="{{ atras }}" >
                                    <span class="">←</span> Atras
                                 </a> 
                              </div>
                              {% endif %}

                              <div class="title left">
                                 <a href="#" class='btn btn-mini' onclick="{{ accion }}" >
                                    <i class="icon-arrows-ccw"></i>  Recargar
                                 </a> 
                              </div>
                              
                          </div>
                          <div class="panel-body panel-body-border panel-shadow" >
                              <table class='table table-data table-striped table-panel table-small table-hover' >
                                <thead>
                                  <tr>
                                    {% for title in consulta.titles %}
                                      <th width="{{title.width}}">
                                        {{ title.text|safe }}
                                      </th>
                                    {% endfor %}
                                  </tr>
                                </thead>
                                
                                <tfoot>
                                  <tr>
                                    
                                    {% if consulta.is_tickets %}
                                      <td colspan="4">
                                        Total: 
                                      </td>

                                      <td class="text-align-right">
                                        {{ totales.monto }}
                                      </td>

                                      <td>
                                      </td>

                                      <td class="text-align-right">
                                        {{ totales.monto_premio }}
                                      </td>

                                      <td>
                                      </td>
                                      <td>
                                      </td>

                                    {% else %}
                                      <td class="text-align-right" colspan="2">
                                        Total: 
                                      </td>

                                      {% for total in totales %}
                                        <th class="text-align-right">
                                          {{ total }}
                                        </th>
                                      {% endfor %}
                                    {% endif %}

                                   </tr>
                                </tfoot>
                                
                                <tbody>

                                  {% for contenido in consulta.detalle %}
                                  <tr>
                                      <td>
                                        {{ forloop.counter }}
                                      </td>

                                      {% if consulta.is_tickets %}
                                          
                                          <td>
                                            <a class="link" href='{{ contenido.get_absolute_url }}'>
                                              {{ contenido.pk }}
                                            </a>
                                          </td>
                                          <td>{{ contenido.fecha|date:'d-m-Y P'}}</td>
                                              
                                          <td class="text-align-right">{{ contenido.ticketsdetail_set.all|length }}</td>
                                          <td class="text-align-right">{{ contenido.monto }}</td>

                                          <td class="text-align-right">{{ contenido.monto_ganancia }}</td>
                                          <td class="text-align-right">{{ contenido.get_monto_premio }}</td>
                                          <td>{{ contenido.get_status_update|date:'d-m-Y P'}}</td>
                                          <td> {{ contenido.get_status }} </td>

                                      {% else %}

                                          {% for item in contenido %}
                                          <td class="{{ item.class }}">
                                            
                                            {% if item.html %}
                                              {{ item.val|safe }}
                                            {% else %}
                                                {{item.val}}
                                            {% endif %}

                                          </td>
                                          {% endfor %}
                                      {% endif %}


                                  </tr>
                                  {% endfor %}
                                  
                                </tbody>

                              </table>

                          </div>
                      </div>
                    </div>

                  </div>
                </div>
            </div>


{% endblock %}

{% block js %}
  <script>

  $("#id_fecha_inicio").on("change",function (){
    $("#form_listado_tickets_por_estatus").submit()
  });

  function Atras(){
    history.back()
  }

  function ConsultaListadoTicketsPorEstatus( pk , name){
    $("#id_operadora").val("")
    $("#id_bloque").val("")
    $("#id_banca").val("")
    $("#id_distribuidor").val("")
    $("#id_agencia").val("")
    $("#id_taquilla").val("")

    $("#id_"+name).val( pk )
    $("#form_listado_tickets_por_estatus").submit()
  }

  $('#id_fecha_inicio').datetimepicker({
    format:'Y-m-d',
    lang:'es',
    timepicker:false
   });
   
    var expandido = false

    $('#expandir').on("click",function (){
        
        if( expandido == true ){
          expandido = false
          $("#barra").slideDown("slow");
          $(this).html("-")

          $(".chosen-container").css("width","100%")
        }
        else{
          expandido = true
          $("#barra").slideUp();
          $(this).html("+")
        }
    });

 </script>
{% endblock %}