{% load url from future %}
{% load i18n %}
{% load humanize %}
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-head">
                          
                          <a href="{% url 'admin_finanzas_saldoinicial_register' %}" class="btn btn-sm btn-primary side left"><i class="icon-squared-plus i-right"></i> Registrar nueva comercializadora</a>

                        </div>
                        <div class="panel-body panel-body-border panel-shadow">
                            <table class='table table-data'>
                              <thead>
                                <tr>

                                  <th>Tipo</th>
                                  <th>{{ object_list.0.get_object.get_verbose_name_plural }}</th>
                                  <th>Fecha</th>
                                  <th>Saldo inicial</th>
                                  <th>Resumen personalizado</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for object in object_list %}
                                  <tr>

                                      <td>
                                        {{ object.get_object.get_verbose_name }}
                                      </td>

                                      <td>
                                        {{ object.get_object }}
                                      </td>
                        
                                      <td title="Actualizado {{ object.updated_at|naturaltime }}" >
                                        {{ object.saldo_fecha }}
                                      </td>
                                      <td>{{ object.saldo_inicial }}</td>
                                      
                                      <td>
                                        {% if object.resumen_personalizado %}
                                          Si
                                        {% else %}
                                          No
                                        {% endif %}
                                      </td>

                                      <td>
                                        <div class="btn-group">
                                          
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_finanzas_saldoinicial_update" pk=object.pk %}'>
                                            <i class="icon-edit2"></i>
                                          </a>
                                  
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_finanzas_saldoinicial_reset" pk=object.pk %}'>
                                            <i class="icon-delete"></i>
                                          </a>

                                        </div>               
                                      </td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>