{% extends 'base.html' %}

{% load i18n %}

{% block content %}
              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-baseball"></i> Operadoras</h1>
                            <p class="subtitle">Detalle</p>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><a href="{% url 'admin_comercializacion_operadoras_list' %}"><i class="icon-industrial-building"></i> Operadoras</a></li>
                                <li><i class="icon-info"></i> Detalle</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">
                    {% include 'admin_comercializacion/operadoras/object_table_detail.html' %}
                    <div class="col-xs-12">
                      <div class="panel panel-default">
                          <div class="panel-body panel-body-border panel-head-border panel-shadow">
                            <form action='{% url 'admin_comercializacion_operadoras_delete' pk=object.pk %}' charset='utf-8' method='post' class="form-margin">
                                {% csrf_token %}
                                    <a class='btn btn-success' href='{% url 'admin_comercializacion_operadoras_update' pk=object.pk %}'>
                                      {% trans "Editar" %}
                                    </a>
                                    <button class='btn btn-danger' type='submit'>
                                      {% trans "Eliminar" %}
                                    </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
{% endblock %}
