{% extends 'base.html' %}
{% block content %}
              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-recent-actors"></i> Jugadores</h1>
                            <p class="subtitle">Lista</p>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><i class="icon-recent-actors"></i> Jugadores</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">
                      {% include 'admin_juego/jugador/object_table_list.html' %}
                      {% include 'admin_juego/jugador/pagination.html' %}
                  </div>
                </div>
            </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  
$('#id_deporte').on("change",jugadortipobydeporte);
$('#id_tipo').on("change",jugadortipoandequipo);
$('#id_equipo').on("change",jugadortipoandequipo);

function jugadortipobydeporte() {
    $("#id_tipo").empty();
    $("#id_tipo").trigger("chosen:updated");
    $("#id_equipo").empty();
    $("#id_equipo").trigger("chosen:updated");

    var id = $(this).val();
    if( id ){
      dajax(
          { "deporte": id },
          "{% url 'admin_juego_jugadortipo_by_deporte_ajax' %}",
          "jugadortipobydeporte"
      )

      dajax(
          { "deporte": id },
          "{% url 'admin_juego_equipos_by_deporte_ajax_simple' %}",
          "equiposbydeporte"
      )
    }
    jugadortipoandequipo(0,0);
}

function jugadortipoandequipo(tipo,equipo) {
    $("#id_jugador").empty();
    $("#id_jugador").trigger("chosen:updated");
    if (equipo == 0){
      dajax(
          { "tipo": "0", "equipo": "0" },
          "{% url 'admin_juego_jugador_by_equipo_and_tipo_ajax' %}",
          "jugadorbytipoandequipo"
      )
    }else {
      console.log("entro")
      id_tipo = $("#id_tipo").val();
      id_equipo = $("#id_equipo").val();
      dajax(
          { "tipo": id_tipo, "equipo": id_equipo },
          "{% url 'admin_juego_jugador_by_equipo_and_tipo_ajax' %}",
          "jugadorbytipoandequipo"
      )
    }     
  }





function dajax(data, url, process){
    $.ajax({
        data : data,
        url : url,
        type : 'get',
        success : function(data_recibe){
          if(process == "jugadortipobydeporte"){
                if(data_recibe.length > 0){
                  $("#id_tipo").append('<option value="0" >Selecciona Tipo de jugador</option>');
                  $.each(data_recibe, function(obj){
                    //alert( JSON.stringify( data_recibe[obj] ) )
                    $("#id_tipo").append('<option value="'+data_recibe[obj].pk+'">'+data_recibe[obj].nombre+'</option>');
                  });
                }else{

                  $("#id_tipo").append('<option value="0" >No se encontraron datos, selecciona otro deporte</option>');
                }
                $("#id_tipo").trigger("chosen:updated");
          }
          if (process == "equiposbydeporte"){
            if(data_recibe.length > 0){
                  $("#id_equipo").append('<option value="0" >Sin equipo</option>');
                  $.each(data_recibe, function(obj){
                    //alert( JSON.stringify( data_recibe[obj] ) )
                    $("#id_equipo").append('<option value="'+data_recibe[obj].pk+'">'+data_recibe[obj].nombre+'</option>');
                  });
                }else{

                  $("#id_equipo").append('<option value="0" >No se encontraron datos, selecciona otro deporte</option>');
                }
                $("#id_equipo").trigger("chosen:updated");
          }
          if (process == "jugadorbytipoandequipo"){
            if(data_recibe.length > 0){
                  $("#id_jugador").append('<option value="0" >Seleccione un jugador</option>');
                  $.each(data_recibe, function(obj){
                    //alert( JSON.stringify( data_recibe[obj] ) )
                    $("#id_jugador").append('<option value="'+data_recibe[obj].pk+'">'+data_recibe[obj].nombre+'</option>');
                  });
                }else{

                  $("#id_jugador").append('<option value="0" >No se encontraron datos, selecciona otro equipo y tipo</option>');
                }
                $("#id_jugador").trigger("chosen:updated");
          }



              
          },
        error : function(xhr,errmsg,err) {
          alert(xhr.status + ": " + xhr.responseText);   
          console.log(xhr.status + ": " + xhr.responseText);    
        }
      });
  }


  $('#id_consultar').on("click",function () {
      consultar()
  });

  json = $("#form_filters").serializeArray()
  count = 0
  for( obj in json){
    if(json[obj].value)
    {
      count++
    }
  }
  
  if ( count >= 1){
    consultar() 
  }

  function consultar() {
      var $form = $("#form_filters"),
      url = "{% url 'jugadores_list_datatables' %}";
      data = $form.serialize();
      //$(".datatable").find("td").empty()
      if ( typeof(dt_table) != "undefined" ){
        dt_table.fnDestroy()
      }

      dt_table = $('.datatable').dataTable({
        "sPaginationType": "full_numbers",
        "iDisplayLength" : 25,
        "bFilter": true,
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": url,
        "sProcessing": "Procesando...",
        "fnServerData": function ( sSource, aoData, fnCallback ) {
          $.ajax({
                "dataType": 'json',
                "type": "GET",
                "processData": true,
                "contentType": "application/json",
                "url": url + '?' + $.param(aoData), 
                "data": data, 
                "success": function(result){
                  fnCallback(result);
                },
                error : function(xhr,errmsg,err) {
                  console.log("#================ERROR=====================")
                  console.log( xhr )
                  console.log( errmsg )
                  console.log( err )
                  console.log("#==========================================") 
                }
            });
        }
      });
      dt_table.fnSetFilteringDelay(500);
  }
</script>
{% endblock %}

