{% load url from future %}
{% load i18n %}

                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-head">
                          

                          <div class="title left">
                                 <a href="{% url 'admin_juego_eventnotification_list' %}" class='btn btn-mini'>
                                    <i class="icon-arrows-ccw"></i>  Recargar
                                 </a> 
                          </div>
                          {% if object_list %}
                          <div class="left">
                            <select id="clasificacion" class="select-chosen left" style="width:250px;">
                              <option value="0" selected>Seleccione una opción</option>
                              <optgroup label="Acción">
                                <option value="origin-all">Marcar todas</option>
                                <option value="origin-none">Desmarcar todas</option>
                              </optgroup>
                              <optgroup label="Juegos">
                                <option value="origin-1">Deportes</option>
                                <option value="origin-2">Temporadas</option>
                                <option value="origin-3">Jornadas</option>
                                <option value="origin-4">Equipos</option>
                                <option value="origin-5">Encuentros</option>
                                <option value="origin-6">Referencias</option>
                                <option value="origin-7">Logros</option>
                              </optgroup>
                              <optgroup label="Preferencias">
                                <option value="origin-0">Preferencias</option>
                              </optgroup>

                            </select>
                          </div>
                          {%endif %}
                          
                          <div class="left">
                            <span class='caja alert alert-warning' >
                              Hay {{actualizaciones}} actualizaciones pendientes
                            </span>
                          </div>
                          
                          <div class="left">
                            <a href="#" onclick="enviar_form()" class="btn btn-success side left">
                              Procesar
                            </a>
                          </div>
  
                          {% if object_list|length == 0 %}
                          <div class="left">
                            <a href="#" onclick="ver_detalle()" class="btn btn-success side left">
                              Ver detalle
                            </a>
                          </div>
                          {% endif %}

                          <div id="message" class="left ">

                          </div>
                          {% if object_list %}
                          <div class="right">                            
                            <a onclick="expandir_status_all()" class="btn btn-mini btn-icon right"> 
                               <div id="all">+</div> 
                            </a>
                          </div>
                          {% endif %}
                        </div>
                        <div class="panel-body panel-body-border panel-shadow">
                       <form id="detalle" action='' method='post' encoding='utf-8'>
                          {% csrf_token %}
                          <input type="hidden" name="detalle">
                        </form>
                        <form id="actualizaciones" action='' method='post' encoding='utf-8'>
                                      {% csrf_token %}
                             {% if object_list %}
                            <table class='table table-data'>
                              <thead>
                                <tr>
                                  <th></th>
                                  <th>N°</th>
                                  <th>Origen</th>
                                  <th width="50%">Data</th>
                                </tr>
                              </thead>
                              <tbody>

                                {% for object in object_list %}
                                  <tr>
                                      <td>
                                        <input type="checkbox" checked name="objetos" class="origin-all origin-{{object.data_origin}}" value="{{object.pk}}" onclick="resolve_dependencies({{object.data_origin}})">          
                                      </td>
                                      <td>
                                        {% with url_object=object.get_absolute_url_str %}
                                        <a class="link" href='{% if not url_object %}{{ object.get_absolute_url }}{% else %}{{ url_object }}{% endif %}'>
                                          {{ forloop.counter }}
                                        </a>
                                        {% endwith%}
                                      </td>
                                      <td>
                                        {{ object.get_data_origin_display }}
                                      </td>
                                     
                                      <td>
                                        
                                        <span id="{{object.pk}}inv" class="barra-inv">
                                          <a href="#{{  forloop.counter }}" class="form-label" onclick="expandir_status('{{object.pk}}inv','{{object.pk}}')">
                                            {...}
                                          </a>
                                        </span>

                                        <p id="{{object.pk}}" style="display: none;" class="barra">
                                          <a href="#{{ forloop.counter }}" onclick="expandir_status('{{object.pk}}','{{object.pk}}inv')">
                                            <span class="form-label">{</span>
                                            <br>
                                            {% for key in object.get_data_keys  %} 
                                              <span class="form-label" style="padding: 0px 5px 0px 20px;">{{ key.0 }}:</span> 
                                              <span>"{{ key.1 }}"</span>
                                              <br>
                                            {% endfor %}
                                            
                                            <span class="form-label">}</span>
                                          </a>
                                        </p>
                                        
                                      </td>
                                      
                                  </tr>
                                {% endfor %}

                              </tbody>
                            </table>
                            {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
               
                {% block js %}
<script>
    {#$(".barra").slideUp();#}
    function expandir_status_all(){
        if( $("#all").html() == "+"){
            $(".barra-inv").hide();
            $(".barra").slideDown("slow"); 
            $("#all").html("-");
        }
        else{
            $(".barra").hide();
            $(".barra-inv").slideDown();  
            $("#all").html("+");
        }
    }
    function expandir_status(id1,id2){
        $("#"+id1).hide();
        $("#"+id2).slideDown("slow"); 
        
    }
    
    function enviar_form(){
      $('#actualizaciones').submit();
    }
    function ver_detalle(){
      $('#detalle').submit();
    }


    $("#clasificacion").on("change",function(){
      if( $("#clasificacion").val() == "origin-none" ){
        $("input:checkbox ").each(function() {
          this.checked = false;
        });
        $("#message").html(
          ""
        ) 
      }
      else 
      if( $("#clasificacion").val() == "origin-all" ){
        $("input:checkbox ").each(function() {
          this.checked = true;
        });
        $("#message").html(
          ""
        ) 
      } 
      else
      if( $("#clasificacion").val() != "0" ){
        
        $("input:checkbox ").each(function() {
          this.checked = false;
        });
        $("."+$("#clasificacion").val()).each(function() {
          this.checked = true;
        });

        resolve_dependencies(
          parseInt(
            $("#clasificacion").val().split("-")[1]
          )
        )
      }
    });

    function resolve_dependencies(origin){

      var MIN_RANGE = 0
      var MAX_RANGE = 10
      var is_resolve = false
      //agregando padres
      for(i=origin-1; i>MIN_RANGE; i--){
        $(".origin-"+i).each(function() {
          if(this.checked == false){
            this.checked = true;
            if (is_resolve == false){
              is_resolve = true
            }
          }
        });
      }

      //quitando hijos
      for(i=origin+1; i<MAX_RANGE; i++){
        $(".origin-"+i).each(function() {
          if(this.checked){
            this.checked = false;
            if (is_resolve == false){
              is_resolve = true
            }
          }
        });
      }

      if (is_resolve){
        message = "<span class='caja alert alert-warning' >"
        message += "Se resolvieron algunas dependencias "
        message += "automáticamente..."
        message += "</span>"
        $("#message").html(
          message
        ) 
      }
      else{
        $("#message").html(
          ""
        ) 
      }
    }  

</script>
{% endblock %}