{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
        <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-event"></i> Encuentros</h1>
                            <p class="subtitle">Lista</p>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><i class="icon-event"></i> Encuentros</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">
                      {% include 'admin_juego/encuentros/object_table_list.html' %}
                      {% include 'admin_juego/encuentros/pagination.html' %}
                  </div>
                </div>
            </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
  
$('#id_deporte').on("change",torneosbydeporte);

function torneosbydeporte() {
  $('#id_torneo').empty()
  $('#id_torneo').trigger("chosen:updated");
  var id = $(this).val();
  dajax(
        {
          "deporte": id
        },
        '{% url "admin_juego_torneos_by_deporte_ajax" %}',
        "type_deportes_ligas"
  );
  
}
function dajax(data, url, process){
    $.ajax({
        data : data,
        url : url,
        type : 'get',
        success : function(data_recibe){
              $('#id_torneo').empty();
              if(data_recibe.length > 0){
                $("#id_torneo").append('<option value >Seleccione una liga</option>');
                $.each(data_recibe, function(obj){
                  $("#id_torneo").append('<option value="'+data_recibe[obj].pk+'">'+data_recibe[obj].nombre+'</option>');
                });
              }else{
                $("#id_torneo").append('<option value >No se encontraron datos, selecciona otro deporte</option>');
              }
              $("#id_torneo").trigger("chosen:updated");
          },
        error : function(xhr,errmsg,err) {
          alert(xhr.status + ": " + xhr.responseText);   
          console.log(xhr.status + ": " + xhr.responseText);    
        }
      });
  }


</script>
{% endblock %}