{% load i18n %}
{% load humanize %}
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-head">
       <div class="title left">
              <p>
                Datos del encuentro
              </p>
            </div>

            {% if object.get_url_historic_result %}
            <div class="title right">
              <a class='btn btn-success' href='{{object.get_url_historic_result}}'>
                <i class="icon-history"></i>
                {% trans "Ver histórico Resultados" %}
              </a>
            </div>
            {% endif %} 

            {% if object.get_url_historic %}
            <div class="title right">
              <a class='btn btn-success' href='{{object.get_url_historic}}'>
                <i class="icon-history"></i>
                {% trans "Ver histórico" %}
              </a>
            </div>
            {% endif %}                   
    </div>
    <div class="panel-body panel-body-border panel-shadow">
    <table class='table'>      
      <thead>
            <tr>
              <th>
                {% trans "Dato" %}
              </th>
              <th>
                {% trans "Valor" %}
              </th>
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <td>
                Referencia
              </td>
              <td>{{ object.pk }}</td>
            </tr>

            <tr>
              <td>
                Fecha y Hora de juego
              </td>
              <td>{{ object.horajuego }}</td>
            </tr>

            <tr>
              <td>
                Fecha y Hora de cierre
              </td>
              <td>{{ object.horacierre }}</td>
            </tr>
            
            <tr>
              <td>
                Estado del encuentro
              </td>
              <td>{{ object.status.name }}</td>
            </tr>
            
            <tr>
              <td>
                Deporte
              </td>
              <td>{{ object.jornada.temporadas.torneo.deporte.nombre }}</td>
            </tr>

            <tr>
              <td>
                Torneo
              </td>
              <td>{{ object.jornada.temporadas.torneo.nombre }}</td>
            </tr>

            <tr>
              <td>
                Temporada
              </td>
              <td>{{ object.jornada.temporadas.nombre }}</td>
            </tr>

            <tr>
              <td>
                Jornada
              </td>
              <td>{{ object.jornada.jornada }}</td>
            </tr>

            <tr>
              <td>
                Grupo
              </td>
              <td>{% if object.grupo %}{{ object.grupo.nombre }}{% else %}Sin grupo{% endif %}</td>
            </tr>

            <tr>
              <td>Equipos</td>
              <td>
              </td>
            </tr>


            {% for object_equipo in object.encuentrosdetail_set.all %}
              <tr>
                <td></td>
                <td>
                  {% if object_equipo.equipos_temporadas.equipo.logo %}
                  <img src="{{MEDIA_URL}}{{ object_equipo.equipos_temporadas.equipo.logo }}" width="25" height="25">
                  {% endif %}

                  {{ object_equipo.equipos_temporadas.equipo.nombre }}
                  

                  {% if object_equipo.jugador %}
                  => {{ object_equipo.jugador.tipo.nombre }}: 
                     ({{ object_equipo.jugador.lateralidad }} ){{ object_equipo.jugador.nombre }} ref: {{ object_equipo.referencia }} 
                  {% endif %}

                </td>
              </tr>
            {% endfor %}

            <tr>
              <td>
                Creado
              </td>
              <td title="{{ object.created_at }}">
                <i class="icon-clock"><i>
                {{ object.created_at|naturaltime }}
              </td>
            </tr>
            
            <tr>
              <td>
                Actualizado
              </td>
              <td title="{{ object.updated_at }}">
                <i class="icon-clock"><i>
                {{ object.updated_at|naturaltime }}
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>