<!--
#====================================================
#           EJemplo 1 extendiento de una plantilla
#====================================================
-->
{% extends 'admin_lib/util_print/base.html' %}

{% block content %}
	{% for entry in blog_entries %}
    	<h2>{{ entry.id }} {{ entry.title|upper }}</h2>
    	<p style="margin-left:15px">{{ entry.body }}</p>
	{% endfor %}
	{% for entry in blog_entries %}
    	<h2>{{ entry.id }} {{ entry.title|upper }}</h2>
    	<p style="margin-left:15px">{{ entry.body }}</p>
	{% endfor %}

{% endblock %}