{% extends 'base.html' %}
{% block content %}
              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-check"></i>Resultados</h1>
                            <p class="subtitle">Asignar</p>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><i class="icon-check"></i>Resultados</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">
                      {% include 'admin_resultados/resultados/encuentros_object_table_list.html' %}
                  </div>
                </div>
            </div>
{% endblock %}
{% block js %}
<script type="text/javascript">

$('#id_deporte').on("change",torneosbydeporte);

function torneosbydeporte() {
  $('#id_torneo').empty()
  $('#id_torneo').trigger("chosen:updated");
  var id = $(this).val();
  dajax(
        {
          "deporte": id
        },
        '{% url "admin_juego_torneos_by_deporte_ajax" %}',
        "type_deportes_ligas"
  );
  
}
function dajax(data, url, process){
    $.ajax({
        data : data,
        url : url,
        type : 'get',
        success : function(data_recibe){
              $('#id_torneo').empty();
              if(data_recibe.length > 0){
                $("#id_torneo").append('<option value >Seleccione Torneo</option>');
                $.each(data_recibe, function(obj){
                  $("#id_torneo").append('<option value="'+data_recibe[obj].pk+'">'+data_recibe[obj].nombre+'</option>');
                });
              }else{
                $("#id_torneo").append('<option value >No se encontraron datos, selecciona otro deporte</option>');
              }
              $("#id_torneo").trigger("chosen:updated");
          },
        error : function(xhr,errmsg,err) {
          alert(xhr.status + ": " + xhr.responseText);   
          console.log(xhr.status + ": " + xhr.responseText);    
        }
      });
  }

  table = $('#list_result').DataTable({
    "sPaginationType": "full_numbers",
    "iDisplayLength" : 50,
    "sDom": 'fiprtip',
    "bSort": false
  });


  /*
  $('#id_consultar').on("click",function () {
      consultar()
  });

  json = $("#form_deportes").serializeArray()
  count = 0
  for( obj in json){
    if(json[obj].value)
    {
      count++
    }
  }
  
  if ( count > 1){
    consultar() 
  }

  function consultar() {
      var $form = $("#form_deportes"),
      url = "{% url 'resultados_list_datatables' %}";
      data = $form.serialize();
      //$(".datatable").find("td").empty()
      if ( typeof(dt_table) != "undefined" ){
        dt_table.fnDestroy()
      }

      dt_table = $('.datatable').dataTable({
        "sPaginationType": "full_numbers",
        "iDisplayLength" : 25,
        "bFilter": true,
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": url,
        "sProcessing": "Procesando...",
        "fnServerData": function ( sSource, aoData, fnCallback ) {
          $.ajax({
                "dataType": 'json',
                "type": "GET",
                "processData": true,
                "contentType": "application/json",
                "url": url + '?' + $.param(aoData), 
                "data": data, 
                "success": function(result){
                  fnCallback(result);
                },
                error : function(xhr,errmsg,err) {
                  console.log("#================ERROR=====================")
                  console.log( xhr )
                  console.log( errmsg )
                  console.log( err )
                  console.log("#==========================================") 
                }
            });
        }
      });
      dt_table.fnAdjustColumnSizing()
  }
  */
</script>
{% endblock %}

