{% if relate_delete %}
              <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-head">

                          <div class="title left">
                            <p>
                              ¿De verdad desea eliminar?,
                              al hacerlo tambien se eliminaran todas sus relaciones
                              recursivamente en cascada ( de {{ relate_delete|length }} modelos aprox).
                            </p>
                          </div>

                          <div class="title right">
                            <p>
                              <button id="barra_relate" class='btn btn-success'>
                                -
                              </button> 
                            </p>
                          </div>

                        </div>
                        <div id="acordion" class="panel-body panel-body-border panel-shadow">
                          <table class='table'>
                            <thead>
                              <tr >
                                <th>
                                  Objeto
                                </th>
                                <th>
                                  Valor
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for hijo in relate_delete %}
                                <tr>
                                  <td>
                                    <p>{{ hijo.0 }}
                                    </p>
                                  </td>
                                  <td>
                                    <p>
                                      <i class="icon-bell-5"></i>
                                      {{ hijo.1}}
                                    </p>
                                  </td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                  </div>
<script>

    $( "#barra_relate" ).click(function() {
        if( $("#barra_relate").html() == "+"){
            $("#acordion").slideDown("slow");
            $("#barra_relate").html("-");
        }
        else{
            $("#acordion").slideUp();
            $("#barra_relate").html("+");
        }
    });

</script>
{% endif %}