{% load url from future %}
{% load i18n %}
                <div class="col-xs-12">
                  <div class="panel panel-default">
                      <div class="panel-head">
                        <p>Búsqueda</p>
                      </div>
                    
                          <form id="form_deportes" action='' method='get' encoding='utf-8'>
                            <div class="panel-body panel-filters">
                                <div class="form form-small">            
                                        <div class="form-margin">
                                              {% for item in form %}
                                                 <div class="row form form-group">
                                                  <div class="column md-4 sm-12">
                                                    <div class="form-label">{{ item.label }}</div>
                                                  </div>
                                                  <div class="column md-8 sm-12">
                                                    {{ item }}
                                                  </div>
                                                </div>
                                              {% endfor %}
                                          </div>
                                </div>
                              </div>
                              
                              <div class="panel-footer panel-shadow">
                                  <div class="col-xs-12">
                                    <p>
                                      <button type="submit" class="btn  btn-success">Consultar </button>
                                    </p>
                                  </div>
                              </div>
                              </form>
                            
                  </div>
                </div>
                {% if ligas %}
                <div class="col-xs-12">
                    <div class="panel panel-minimal">
                      <div class="panel-head">
                        <div class="title right">
                          <a class="btn btn-mini btn-pdf" target="_blank" href="{% url 'admin_logros_encuentros_detail_imprimir' cache_key=cache_key %}">
                            <i class="icon-print"></i>PDF
                          </a>
                        </div>
                      </div>
                        <div class="panel-body panel-body-border panel-shadow">
                            {% for liga in ligas %}
                              <table class="table table-panel table-small table-hover">
                                <caption>
                                    <img src="{{MEDIA_URL}}{{ liga.logo }}" width="auto" height="40">
                                    {{ liga.nombre }}
                                </caption>
                              <thead>
                                <tr>
                                  <th>
                                  </th>
                                  {% for grupo in liga.encuentros.0.grupos %}
                                    <th colspan="{{ grupo.modalidades|length }}">
                                      {{grupo.nombre}}
                                    </th>
                                  {% endfor %}
                                </tr>
                              </thead>
                              <tbody>
                                {% for encuentro in liga.encuentros %}
                                  <tr>
                                    <td>
                                      {{encuentro.fecha_hora|date:"P d-m-Y"}}
                                    </td>
                                    {% for grupo in encuentro.grupos %}
                                      {% for modalidad in grupo.modalidades %}
                                        <th>
                                          {{modalidad.nombre}}
                                          {% if modalidad.ref %}
                                            {% if modalidad.ref != "0" %}
                                              ({{modalidad.ref}})
                                            {% endif %}
                                          {% endif %}
                                        </th>
                                      {% endfor %}
                                    {% endfor %}

                                  </tr>

                                  {% for equipo in encuentro.equipos%}
                                    <tr>
                                      <td>
                                        <img src="{{MEDIA_URL}}{{ equipo.logo }}" width="25" height="25">
                                        {{ equipo.nombre }}
                                      </td>

                                      {% for grupo in encuentro.grupos %}

                                        {% for modalidad in grupo.modalidades %}

                                          {% for jugada in modalidad.jugadas %}

                                              {% ifequal equipo.position jugada.position %}

                                                <td>

                                                  {% if jugada.val != "0" %}

                                                    {% if jugada.ref %}
                                                      ({{jugada.ref}})
                                                    {% endif %}

                                                    {{jugada.val}}

                                                    {% if jugada.pertenece %}
                                                      {{jugada.pertenece}}
                                                    {% endif %}

                                                  {% endif %}

                                                </td>
                                              {% endifequal %}

                                          {% endfor %}

                                        {% endfor %}

                                      {% endfor %}

                                    </tr>
                                  {% endfor %}


                                {% endfor %}

                              </tbody>
                            </table>
                            {% endfor %}


                        </div>
                    </div>
                </div>
                {% endif %}

{% block js %}
  <script>

   $('#id_fecha').datetimepicker({
    format:'Y-m-d',
    lang:'es',
    timepicker:false
   });

  </script>
{% endblock %}

{% include 'js/admin_comercializacion_resulltados_ajax.html' %}