{% load i18n %}
                <div class="col-xs-12">
                  <div class="panel panel-default">
                      <div class="panel-head">
                       <a href="{% url 'admin_juego_jugador_create' %}" class="btn btn-sm btn-primary side left"><i class="icon-squared-plus i-right"></i> Crear nuevo</a>
                      </div>
                    
                          <form id="form_filters" action='' method='get' encoding='utf-8'>
                            <div class="panel-body panel-filters">
                                <div class="row">            
                                    <div class="col-xs-4">
                                        <div class="form-margin">
                                                 <div class="row form form-group">
                                                  <div class="col-xs-4">
                                                    <div class="form-label">{{ form.deporte.label }}</div>
                                                  </div>
                                                  <div class="col-xs-8">
                                                    {{ form.deporte }}
                                                  </div>
                                                </div>
                                          </div>
                                      </div>
                                </div>
                                <div class="row">            
                                    <div class="col-xs-4">
                                        <div class="form-margin">
                                                 <div class="row form form-group">
                                                  <div class="col-xs-4">
                                                    <div class="form-label">{{ form.tipo.label }}</div>
                                                  </div>
                                                  <div class="col-xs-8">
                                                    {{ form.tipo }}
                                                  </div>
                                                </div>
                                          </div>
                                      </div>
                                </div>
                                <div class="row">            
                                    <div class="col-xs-4">
                                        <div class="form-margin">
                                                 <div class="row form form-group">
                                                  <div class="col-xs-4">
                                                    <div class="form-label">{{ form.equipo.label }}</div>
                                                  </div>
                                                  <div class="col-xs-8">
                                                    {{ form.equipo }}
                                                  </div>
                                                </div>
                                          </div>
                                      </div>
                                </div>
                                <div class="row">            
                                    <div class="col-xs-4">
                                        <div class="form-margin">
                                                 <div class="row form form-group">
                                                  <div class="col-xs-4">
                                                    <div class="form-label">{{ form.jugador.label }}</div>
                                                  </div>
                                                  <div class="col-xs-8">
                                                    {{ form.jugador }}
                                                  </div>
                                                </div>
                                          </div>
                                      </div>
                                </div>
                              </div>
                              
                              </form>
                              <div class="panel-footer panel-shadow">
                                  <div class="col-xs-12">
                                    <p>
                                      <button id="id_consultar" class='btn btn-primary' >Buscar </button>
                                    </p>
                                  </div>
                              </div>
                  </div>
                </div>
                <!--
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-head">
                          <p class="title left">
                            Jugadores
                            
                          </p>
                        </div>
                        <div class="panel-body panel-body-border panel-shadow">
                            <table class='table table-data'>
                              <thead>
                                <tr>
                                  <th>N°</th>
                                  <th>Nombre</th>
                                  <th>Tipo</th>
                                  <th>Deporte</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for object in object_list %}
                                  <tr>
                                      <td>{{ forloop.counter }}</td>
                                      <td><a class="link" href='{{ object.get_absolute_url }}'>({{ object.lateralidad }}) {{ object.nombre }}</a></td>
                                      <td><span class="tag tag-green"> {{ object.tipo.nombre }}</span></td>
                                      <td><span class="tag tag-green">{{ object.tipo.deporte.nombre }}</span></td>
                                      
                                      <td>
                                        <div class="btn-group">
                                          <a class="f show" href='{% url "admin_juego_jugador_detail" pk=object.pk %}'>
                                            <i class="icon-info"></i>
                                          </a>
                                          
                                          <a class="c update" href='{% url "admin_juego_jugador_update" pk=object.pk %}'>
                                            <i class="icon-pencil-1"></i>
                                          </a>
                                  
                                          <a class="l remove" href='{% url "admin_juego_jugador_delete" pk=object.pk %}'>
                                            <i class="icon-trash"></i>
                                          </a>  
                                        </div>               
                                      </td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                -->
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-head">
                          <p class="title left">
                            Jugadores
                          </p>
                        </div>
                        <div class="panel-body panel-body-border panel-shadow">
                            <table class='table datatable table-striped table-panel table-small table-hover'>
                              <thead>
                                <tr>
                                  <th>N°</th>
                                  <th>Nombre</th>
                                  <th>Foto</th>
                                  <th>Tipo</th>
                                  <th>Deporte</th>
                                  <th>Equipos</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                  </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>