
{% extends 'base.html' %}

{% load i18n %}
{% load humanize %}

{% block content %}
{% include 'js/admin_comercializacion_ajax.html' %}


<div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-gauge"></i> Monitor</h1>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><i class="icon-trending-up"></i> Ventas</li>
                                <li><i class="icon-gauge"></i> Monitor</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="left"><span class='caja alert alert-warning' >
                             ADVERTENCIA! Este reporte es referencial y no muestra el valor real de la venta.
                            </span></div>
                <div class="container">
                  <div class="container-margin">
                    

                    <div class="col-xs-12">
                      <div class="panel panel-default panel-filters">
                        
                          <div class="panel-head">
                            <p class="left">Búsqueda</p>
                            {% if consulta %}
                            <div class="title right">
                                <a id="expandir" class="btn btn-mini btn-icon"> - </a>
                            </div>
                            {% endif %}
                          </div>

                          {% if consulta %}
                            <div id="barra" class=""><div>
                          {% endif %}
                          <form id="form_monitor" action='' method='get' encoding='utf-8'>

                              <input type="hidden" id="id_encuentro" name="encuentro" value="">

                              <div class="panel-body panel-filters">
                                <div class="form">
                                {% if form_cadena %}
                                <div class="row">
                                <div class="column hd-6 lg-6 md-12 sm-12">
                                    {% for item in form_cadena %} 
                                      {% if item.is_hidden == 0 %}
                                         <div class="row form form-group">
                                               <div class="column md-4 sm-12">
                                                 <div class="form-label">{{ item.label }}</div>
                                               </div>
                                               <div class="column md-8 sm-12">
                                                 {{ item }}
                                               </div>
                                             </div>
                                      {% else %}
                                        {{ item }}
                                      {% endif %}
                                    {% endfor %}
                                       <div class="row form form-group">
                                        <div class="column md-4 sm-12">
                                          <div class="form-label">{{ form_agrupado.fordenlabel }}</div>
                                        </div>
                                        <div class="column md-8 sm-12">
                                          {{ form_agrupado.orden }}
                                        </div>
                                      </div>
                                </div>
                                {% endif %}
                                  
                                  <div class="column hd-6 lg-6 md-12 sm-12">
                                       <div class="row form form-group">
                                        <div class="column md-4 sm-12">
                                          <div class="form-label">{{ form.deporte.label }}</div>
                                        </div>
                                        <div class="column md-8 sm-12">
                                          {{ form.deporte }}
                                        </div>
                                      </div>
                                       <div class="row form form-group">
                                        <div class="column md-4 sm-12">
                                          <div class="form-label">{{ form.fecha.label }}</div>
                                        </div>
                                        <div class="column md-8 sm-12">
                                          {{ form.fecha }}
                                        </div>
                                      </div>
                                    
                                  </div>

                                </div>
                                </div>
                              </div>
                            </form>
                            <div class="panel-footer panel-shadow">
                              <div class="row form-margin">
  
                                  <div class="row form form-group">
                                      <button id="id_consultar" class="btn right btn-primary">Buscar</button>
                                  </div>
                              </div>
                            </div>
                        

                      </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-head">
                            
                            <p class="title left">
                              Encuentros
                            </p>
                            <p id="clock_text" class="title right">
                              
                            </p>
                            <p class="right">
                            <button class="btn btn-success" onclick="update()">
                              <i class="icon-cached"></i>  Actualizar 
                            </button>
                            </p>
                            <p class="title right">
                              <select id="tiempo_aplicado" >
                                <option value="60"> 60 segundos     
                                </option>
                                <option value="300"> 5 minutos     
                                </option>
                                <option value="600"> 10 minutos   
                                </option>
                                <option value="900"> 15 minutos     
                                </option>
                              </select>
                            </p>
                          </div>
                          <div class="panel-body panel-body-border panel-shadow">
                              <table id="monitor" class='table datatable table-striped table-panel table-small table-hover'>
                                <thead>
                                  <tr>
                                    <th>Deporte</th>
                                    <th width="30%">Modalidad</th>
                                    <th width="35%">Encuentro</th>
                                    <th >Venta</th>
                                    <th>Porcentaje</th>
                                    <th>Detalle</th>
                                    <th width="5%">Editar</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    </tr>
                                </tbody>
                              </table>
                          </div>
                      </div>
                    </div>

</div>
        
{% endblock %}

{% block js %}
  <script>
     
  $('#id_fecha').datetimepicker({
    format:'Y-m-d',
    lang:'es',
    timepicker:false
  });

  function get_venta(thisobj, pk){
      obj = $(thisobj).find("span");
      if ($(obj).attr("class") == "plus"){
        $(obj).attr('class', 'minus');
        $(obj).text("-");

        $("#id_encuentro").val(pk)

        dajax_venta(
          pk,
          $("#form_monitor").serialize(),
          '{% url "admin_reportes_ventas_monitor_ajax" %}'
        ); 

      }else{
        $(obj).attr('class', 'plus');
        $(obj).text("+");
        $("#monitor").find("."+pk).remove()

      }
  }

  function dajax_venta(pk_encuentro, data, url){
      $.ajax({
          data : data,
          url : url,
          type : 'get',
          success : function(data_recibe){
            $.each(data_recibe, function(i1){
              condiciones = data_recibe[i1].condiciones
              $.each(condiciones, function(i3){
                $.each(condiciones[i3], function(i4){
                  if (i4 == 0){
                    tr = "<tr class='"+pk_encuentro+"' id='condicion_"+condiciones[i3][0]+"_"+pk_encuentro+"'><td></td></tr>"
                    $("#encuentro_"+pk_encuentro).after(tr);
                  }else{
                    td = "<td >"+condiciones[i3][i4]+"</td>"
                    $("#condicion_"+condiciones[i3][0]+"_"+pk_encuentro).append(td)
                  }
                });
              });
            });
          },
          error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText);    
          }
        });
    }

  timer = 100;
  $('#id_consultar').on("click",update);

  $("#tiempo_aplicado").on("change", function(){
    tm = parseInt($("#tiempo_aplicado").val());
  });

  function update(){
    tm = parseInt($("#tiempo_aplicado").val());
    consultar();
    clearInterval(timer);
    timer = setInterval(countDown, 1000);
  }

  countDown = function () {
    tm--;
    texto = "Próxima actualización en "+String(tm)+" <i class='icon-clock'></i> segundos"
    $("#clock_text").html(texto);
    if (tm == 0) {
      tm = parseInt($("#tiempo_aplicado").val());
      consultar();
      //clearInterval(timer);
    }
  };

  //console.log(timer);
  //setInterval( consultar, 60000 );
  
  function consultar() {
      var $form = $("#form_monitor"),
      url = "{% url 'ventas_monitor_list_datatables' %}";
      data = $form.serialize();
      //$(".datatable").find("td").empty()
      if ( typeof(dt_table) != "undefined" ){
        dt_table.fnDestroy()
      }

      dt_table = $('.datatable').dataTable({
        "sPaginationType": "full_numbers",
        "iDisplayLength" : 25,
        "bFilter": true,
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": url,
        "sProcessing": "Procesando...",
        "fnServerData": function ( sSource, aoData, fnCallback,fnCreatedRow ) {
          $.ajax({
                "dataType": 'json',
                "type": "GET",
                "processData": true,
                "contentType": "application/json",
                "url": url + '?' + $.param(aoData), 
                "data": data, 
                "success": function(result){
                  fnCallback(result);
                },
                error : function(xhr,errmsg,err) {
                  console.log("#================ERROR=====================")
                  console.log( xhr )
                  console.log( errmsg )
                  console.log( err )
                  console.log("#==========================================") 
                }
            });
        }
      });
      
    } 
 </script>
{% endblock %}