
{% extends 'base.html' %}

{% load i18n %}
{% load humanize %}


{% block content %}

<!--Incluimos el js para finanzas-->
{% load static %}
<div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-document"></i> Cuentas por {{verbose_proceso}}</h1>
                            {% include 'admin_finanzas/diatrabajo/dia_view.html' %}
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><a href="{% url 'admin_finanzas_resumenadministrativo_general' %}"> <i class="icon-document"></i> Resumen administrativo</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">

     
                    <div class="col-xs-12">
                      <div class="panel panel-default">
                        <div class="panel-head">
                          <p class="left">Cuentas por {{verbose_proceso}}</p>
                          

                          <form id="form_cuentas_operaciones" action='' method='post' encoding='utf-8'>
                                      {% csrf_token %}
                              <input type="hidden" id="id_operadora" name="operadora">  
                              <input type="hidden" id="id_bloque" name="bloque">
                              <input type="hidden" id="id_banca" name="banca">
                              <input type="hidden" id="id_distribuidor" name="distribuidor">
                              <input type="hidden" id="id_agencia" name="agencia">
                              
                              <div class="column hd-6 lg-6 md-12 sm-12">

                                         <div class="row form form-group">
                                            <div class="column md-4 sm-12">
                                              <div class="form-label">Vista</div>
                                            </div>
                                            <div class="column md-8 sm-12">
                                              <select id="comer_asociada" name="comer_asociada">
                                                <option value="">Normal</option>
                                                {% if consulta.expandido %}
                                                  <option selected value="1">Expandido</option>
                                                {% else %}
                                                  <option value="1">Expandido</option>
                                                {% endif %}
                                              </select>
                                            </div>
                                          </div>
                                    
                                  </div>  

                            </form>
                        </div>
                        </div>
                      </div>
                    </div>

                    {% if consulta %}

                    <div class="col-xs-12">
                      <div class="panel panel-default">
                           <div class="panel-head">

                          {% if consulta.atras %}
                              <p class="left">
                              {{consulta.atras|safe}}
                              </p>
                          {% endif %}

                           {% if consulta.cache_key %}
                              <div class="title right">
                                <a class="btn btn-mini btn-pdf" target="_blank" href="{% if consulta.band_cobrar %}{% url 'admin_finanzas_operaciones_cuentas_cobrar_list_print_pdf' cache_key=consulta.cache_key %}{% else %}{% url 'admin_finanzas_operaciones_cuentas_pagar_list_print_pdf' cache_key=consulta.cache_key %}{% endif %}">
                                  <i class="icon-print"></i>PDF
                                </a>  
                              </div>
                              <div class="title right">
                                <a class="btn btn-mini btn-excel" target="_blank" href="{% if consulta.band_cobrar %}{% url 'admin_finanzas_operaciones_cuentas_cobrar_list_print_csv' cache_key=consulta.cache_key %}{% else %}{% url 'admin_finanzas_operaciones_cuentas_pagar_list_print_csv' cache_key=consulta.cache_key %}{% endif %}"><i class="icon-download"></i>EXCEL
                                </a>  
                              </div>
                            {% endif %}
                          </div>
                          <div class="panel-body panel-body-border panel-shadow" >
                              <table class='table table-striped table-panel table-small table-hover' id='table_resumen'>
                                <thead>
                                  <tr>
                                    {% for title in consulta.titles %}
                                      <th width="{{ title.width }}" title="{{ title.title }}">
                                        {{ title.text|safe }}
                                      </th>
                                    {% endfor %}
                                  </tr>
                                </thead>
                                
                                <tfoot>
                                <tr>
                                  {%for footer in consulta.footer%}
                                  <td class="text-align-right">
                                    <strong>
                                      {% if footer = 0 %}
                                        0
                                      {% else %}
                                        {{ footer|intcomma }}
                                      {% endif %}
                                    </strong>
                                  </td>
                                  {%endfor%}
                                </tr>
                                </tfoot>
                                
                                <tbody>
                                  {% for contenido in consulta.content %}
                                  <tr>
                                      {% for item in contenido.pertenece %}
                                      <td class="{{item.class}}">
                                        {% if item.html %}
                                          {{ item.val|safe }}
                                        {% else %}

                                            {% if item.val = 0 %}
                                              0
                                            {% else %}
                                              {{ item.val|intcomma }}
                                            {% endif %}

                                            <!--
                                            {% if item.add_url %}
                                              <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_finanzas_operaciones_configuracion_pagar_cobrar_list" %}?tipo_configuracion={{conf_tipo}}&click={{item.add_url}}'>
                                                <i class="icon-edit2"></i>
                                              </a>
                                            {% endif %}
                                            -->
                                        {% endif %}
                                      </td>
                                      {% endfor %}
                                  </tr>
                                  {% endfor %}
                                  
                                </tbody>
                                
                              </table>

                          </div>
                      </div>
                    </div>

                    {% endif %}

                  </div>
                </div>
            </div>


{% endblock %}
{% block js %}
<script>

  function NavegacionComercializacion(pk , name){
      $("#id_operadora").val("");
      $("#id_bloque").val("");
      $("#id_banca").val("");
      $("#id_distribuidor").val("")
      $("#id_agencia").val("")
      $("#id_taquilla").val("")

      $("#id_"+name).val( pk )
      $("#form_cuentas_operaciones").submit()
  }

  $("#comer_asociada").on("change", function(event) {
    $("#form_cuentas_operaciones").submit()
  });
  
</script>
{% endblock %}