{% load i18n %}
{% load humanize %}

            {% include 'js/admin_comercializacion_ajax.html' %}

                <div class="col-xs-12">
                  <div class="panel panel-default">
                      <div class="panel-head">
                       <p>
                        Preferencias
                       </p>
                      </div>
                    
                          <form id="form_filters" action='' method='get' encoding='utf-8'>
                            <div class="panel-body panel-filters">
                            <input type="hidden" id="cadena" value="{{model}}">
                                <div class="row">            
                                    <div class="col-xs-4">
                                        <div class="form-margin">
                                              {% for item in form %}
                                                 <div class="row form form-group">
                                                  <div class="col-xs-4">
                                                    <div class="form-label">{{ item.label }}</div>
                                                  </div>
                                                  <div class="col-xs-8">
                                                    {{ item }}
                                                  </div>
                                                </div>
                                            {% endfor %}
                                          </div>
                                      </div>
                                </div>
                              </div>
                              </form>
                              <div class="panel-footer panel-shadow">
                                  <div class="col-xs-12">
                                    <p>
                                      <button id="id_consultar" class='btn btn-primary' >Buscar </button>
                                    </p>
                                  </div>
                              </div>
                            
                  </div>
                </div>
                <!--
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-head">
                          <p class="title left">
                            Preferencias de {{object_list.0.get_verbose_name}}
                          </p>
                        </div>
                        <div class="panel-body panel-body-border panel-shadow">
                            <table class='table table-data'>
                              <thead>
                                <tr>
                                  <th>N°</th>
                                  <th>{{object_list.0.get_verbose_name}}</th>
                                  <th>Editar</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for object in object_list %}
                                  <tr>
                                      <td>{{ forloop.counter }}</td>
                                      
                                      <td> {{ object }} </td>
                                      
                                      <td>
                                        <div class="btn-group">

                                          <a class="c update" href='{% url "admin_comercializacion_preferencias_update" type=object.get_class_name pk=object.pk %}'>
                                            <i class="icon-pencil-1"></i>
                                          </a>
                                  
                                        </div>               
                                      </td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                -->
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-head">
                          <p class="title left">
                            Preferencias de {{cadena}}
                          </p>
                        </div>
                        <div class="panel-body panel-body-border panel-shadow">
                            <table class='table datatable table-striped table-panel table-small table-hover'>                              
                              <thead>
                                <tr>
                                  <th width="10%">N°</th>
                                  <th width="80%">{{cadena}}</th>
                                  <th width="10%">Editar</th>
                                </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td></td>
                                      
                                      <td></td>
                                      
                                      <td></td>
                                  </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
