{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block content %}
              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-flow-line"></i> Referencias</h1>
                            <p class="subtitle">
                              {% if object %}
                                {% trans "Editar" %}
                              {% else %}
                                {% trans "Crear" %}
                              {% endif %}</p>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><a href="{% url 'admin_juego_modalidades_list' %}"><i class="icon-flow-line"></i> Referencias</a></li>
                                <li>
                                  {% if object %}
                                  <i class="icon-pencil-1"></i> Editar
                                  {% else %}
                                  <i class="icon-plus-1"></i> Crear
                                  {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">
                    <form id="form_modalidad" action='
                    {% if object.modalidad.id %}
                      {% url 'admin_juego_condiciones_update_referencias' pk=object.pk %}
                    {% else %}
                      {% if object.modalidad %}
                        {% url 'admin_juego_modalidades_update_referencias' pk=object.pk %}
                      {% else %}
                        {% url 'admin_juego_gruposapuestas_update_logros' pk=object.pk %}
                      {% endif %}
                    {% endif %}'
                    method='post' encoding='utf-8'>
                      {% csrf_token %}

                      <div class="col-xs-12">
                        <div class="panel panel-default">
                          <div class="panel-body panel-head-border">
                            <div class="form-margin">

                              <div class="row form form-group">
                            
                                <div class="col-xs-3">
                                  <div class="form-label">
                                    {{ form.label.label }}
                                  </div>
                                </div>
                                
                                <div class="col-xs-6">

                                  {{ form.label }}

                                </div>
                               
                              </div>



                              {% if form.non_field_errors  %}
                              <div class="row form form-group">

                                <div class="col-xs-3">
                                </div>
                                <div class="col-xs-6">
                                    <div class="alert alert-warning">
                                      {{form.non_field_errors }} 
                                    </div>
                                
                                </div>
                                <div class="col-xs-3">
                                </div>
                              </div>
                              {% endif %}
                              
                    <table class="table table-panel table-logros table-striped table-small-inputs">
                      <thead>      
                        {% for item in grupos %}
                          <th colspan="3">
                            {{item.grupo}}        
                          </th>
                      </thead>
                      <tbody>
                          <tr>
                            <td>{{titles.deporte}}</td>
                            <td>{{titles.title1}}</td>
                            <td>{{titles.title2}}</td>
                          </tr>
                        {% for item1 in item.deporte %}
                          <tr>
                            <td>{{item1.deporte}}</td>
                            <td>{{item1.min_ref}}</td>
                            <td>{{item1.max_ref}}</td>
                          </tr>
                        {% endfor %}
                        {% endfor %}
                      </tbody>
                    </table>
                          </div>
                          
                          </div>
                          <div class="panel-footer panel-shadow">
                              <div class="col-xs-3"></div>
                              <div class="col-xs-6">
                                <p>
                                    <button id='id_button' class='btn btn-success' type='submit' value="_save" name="_save">
                                      Guardar
                                    </button>
                                </p>
                              </div>
                              <div class="col-xs-3"></div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
{% endblock %}

{% block js %}
<script>

  $( "#form_modalidad" ).submit(function( event ) {
  var error = 0;
  $('.input-logro').each(function(){
    if (this.value == ''){
      error = 1;
    }
  });
  
  if (error==0){
    $('.min').each(function(){
        min = String(this.id).split("_");
        valor = Number($(this).val().replace(",","."));
      $('.max').each(function(){
        max = String(this.id).split("_");
        if (min[1] == max[1] && min[2]== max[2]){
          if (valor > Number($(this).val().replace(",","."))){
            error = 2;
          }
        }
      });
    });
  }

  if (error==1){
    alert("¡Error! Llenar todos los campos")
    return false
  }else{
    if(error==2){
      alert("¡Error! Revisar que la(s) referencia(s) minima(s) sea(n) menor(es) que la(s) referencia(s) maxima(s)")
      return false
    }
  }
});
  
</script>
{% endblock %}