{% extends 'admin_lib/util_print/base_print_detail_cadena.html' %}
{% load humanize %}

{% block content %}
<h3>Información básica</h3>
<div class="panel">
  <div class="panel-body">
    <div class="row">
      <div class="column lg-12">
        <table class="table">
          <tbody>
             <tr>
                  <td width="400px"><strong>ID</td>
                  <td>{{ reporte.object.pk }}</td>
                </tr>
                <tr>
                  <td width="400px"><strong>Operadora</td>
                  <td>{{ reporte.object.bloque.operadora }}</td>
                </tr>
                <tr>
                  <td width="400px"><strong>Multi Banca</td>
                  <td>{{ reporte.object.bloque }}</td>
                </tr>
                <tr>
                  <td width="400px"><strong>Nombre</td>
                  <td>{{ reporte.object.nombre }}</td>
                </tr>
                <tr>
                  <td width="400px"><strong>Status</td>
                  <td><span class="tag tag-{{ reporte.object.status.codename }}">{{ reporte.object.status }}</span></td>
                </tr>
                <tr>
                  <td width="400px"><strong>Cierre administrativo Automático</td>
                  <td>
                  {% if reporte.object.resumen_automatic %}
                    <span class="tag tag-green">Si</span>
                  {% else %}
                    <span class="tag tag-red">No</span>
                  {% endif %}
                  </td>
                </tr>
                <tr>
                  <td width="400px"><strong>Resumen Administrativo</td>
                  <td>
                  Personalizado: 
                  {% if reporte.object.get_comercializadora.resumen_personalizado %}
                    <span class="tag tag-green">Si</span>
                    <span class="tag tag-blue">{{reporte.object.get_comercializadora.resumen_personalizado_comer}}</span>
                  {% else %}
                    <span class="tag tag-red">No</span>
                  {% endif %}
                  </td>
                </tr>
                <tr>
                  <td width="400px"><strong>Tipo de Banca</td>
                  <td>
                  {% if reporte.object.tipo %}
                    <span class="tag tag-blue">Venta Web</span>
                  {% else %}
                    <span class="tag tag-blue">Venta Tradicional</span>
                  {% endif %}
                  </td>
                </tr>
                <tr>
                  <td width="400px"><strong>¿Administra Sistema de Juego?</td>
                  <td>
                  {% if reporte.object.is_sistema_juego %}
                    <span class="tag tag-green">Si</span>
                  {% else %}
                    <span class="tag tag-red">No</span>
                  {% endif %}
                  </td>
                </tr>
                <tr>
                  <td width="400px"><strong>¿Administra sus Resultados?</td>
                  <td>
                  {% if reporte.object.is_resultados %}
                    <span class="tag tag-green">Si</span>
                  {% else %}
                    <span class="tag tag-red">No</span>
                  {% endif %}
                  </td>
                </tr>
                <tr>
                  <td width="400px"><strong>¿Puede crear usuarios de su mismo nivel?</td>
                  <td>
                  {% if reporte.object.permissions_create_user %}
                    <span class="tag tag-green">Si</span>
                  {% else %}
                    <span class="tag tag-red">No</span>
                  {% endif %}
                  </td>
                </tr>
                <tr>
                  <td width="400px"><strong>Modelo de negocio</td>
                  <td><span class="tag tag-blue">{{ reporte.object.get_modelo_negocio_display }}</span></td>
                </tr>
                {% if reporte.object.rif %}
                <tr>
                  <td width="400px"><strong>RIF</td>
                  <td>{{ reporte.object.rif }}</td>
                </tr>
                {% endif %}
                {% if reporte.object.telefono %}
                <tr>
                  <td width="400px"><strong>Teléfono</td>
                  <td>{{ reporte.object.telefono }}</td>
                </tr>
                {% endif %}
                {% if reporte.object.email %}
                <tr>
                  <td width="400px"><strong>Correo electrónico</td>
                  <td>{{ reporte.object.email }}</td>
                </tr>
                {% endif %}
                {% if reporte.object.direccion %}
                  {% if reporte.object.direccion.estado %}
                  <tr>
                    <td width="400px"><strong>Estado</td>
                    <td>{{ reporte.object.direccion.estado.nombre }}</td>
                  </tr>
                  {% endif %}
                  {% if reporte.object.direccion.municipio %}
                  <tr>
                    <td width="400px"><strong>Municipio</td>
                    <td>{{ reporte.object.direccion.municipio.nombre }}</td>
                  </tr>
                  {% endif %}
                  {% if reporte.object.direccion.ciudad %}
                  <tr>
                    <td width="400px"><strong>Ciudad</td>
                    <td>{{ reporte.object.direccion.ciudad.nombre }}</td>
                  </tr>
                  {% endif %}
                  {% if reporte.object.direccion.direccion %}
                  <tr>
                    <td width="400px"><strong>Dirección</td>
                    <td>{{ reporte.object.direccion.direccion }}</td>
                  </tr>
                  {% endif %}
                {% endif %}
                <tr>
                  <td width="400px"><strong>Creado</td>
                  <td>{{ reporte.object.created_at|naturaltime }}</td>
                </tr>
                <tr>
                  <td width="400px"><strong>Actualizado</td>
                  <td>{{ reporte.object.updated_at|naturaltime }}</td>
                </tr>
              </tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<h3>Preferencias</h3>
<table class="table">
  <tbody>
    {% for preferencia in reporte.object.get_queryset_preferencias %}
    <tr>
      <td width="400px"><div><strong>{{preferencia.nombre}}</strong></div></td>
      <td>{{preferencia.valor}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<h3>Porcentajes</h3>
<table class="table">
  <tbody>
    {% for porcentaje in reporte.object.get_queryset_porcentajes %}
      <tr>
        <td width="400px"><div><strong>{{porcentaje.tipo}}</strong></div></td>
        <td>{{porcentaje.get_porcentaje}}%</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<h3>Cupo</h3>
<table class="table">
  <tbody>
    <tr>
      <td width="400px"><div><strong>Cupo diario</strong></div></td>
      <td>Bs. <span class="tag tag-green">{{ reporte.object.get_cupo.monto_diario | intcomma }}</span></td>
    </tr>
  </tbody>
</table>

<h3>Factor riesgo</h3>
<table class="table">
  <tbody>
    {% for regla in reporte.object.get_comercializadora.factorriesgo.factores %}
      <tr>
        <td width="400px"><div><strong>Regla {{ forloop.counter }}</strong></div></td>
        <td>
          Rango inicial {{ regla.0 }} Bs. / Rango final {{ regla.1 }} Bs. / Factor aplicado {{ regla.2 }}
        </td>
      </tr>
    {% empty %}
      <tr>
        <td>No hay reglas definidas</td>
        <td>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}