{% load i18n %}
{% load humanize %}
<div class="row detail">
  <div class="column hd-6 lg-12 no-ppd">
    <div class="headline">
      <h5><i class="icon-info2 i-right"></i>Detalle</h5>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <a class='btn btn-success right' href='{{object.get_url_historic}}'>
          <i class="icon-history"></i>
          {% trans "Ver historico" %}
        </a>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="column lg-12">
            <table class="table">
              <tbody>
                <tr>
                  <td width="250px"><small>ID</small></td>
                  <td class="text-large">{{ object.pk }}</td>
                </tr>
                <tr>
                  <td width="250px"><small>Operadora</small></td>
                  <td>{{ object.agencia.distribuidores.banca.bloque.operadora }}</td>
                </tr>
                <tr>
                  <td width="250px"><small>Multi Banca</small></td>
                  <td>{{ object.agencia.distribuidores.banca.bloque }}</td>
                </tr>
                <tr>
                  <td width="250px"><small>Banca</small></td>
                  <td>{{ object.agencia.distribuidores.banca }}</td>
                </tr>
                <tr>
                  <td width="250px"><small>Distribuidor</small></td>
                  <td>{{ object.agencia.distribuidores }}</td>
                </tr>
                <tr>
                  <td width="250px"><small>Agencia</small></td>
                  <td>{{ object.agencia }}</td>
                </tr>
                <tr>
                  <td width="250px"><small>Nombre</small></td>
                  <td class="text-large">{{ object.taquilla }}</td>
                </tr>
                <tr>
                  <td width="250px"><small>Status</small></td>
                  <td><span class="tag tag-{{ object.get_status.codename }}">{{ object.get_status }}</span></td>
                </tr>
                <tr>
                  <td width="250px"><small>Master</small></td>
                  {% if object.is_taquilla_master %}
                    <td> Sí </td>
                  {% else %}
                    <td> No </td>
                  {% endif %}
                </tr>
                <tr>
                  <td width="250px"><small>Usuario</small></td>
                  <td>{{ object.get_user }}</td>
                </tr>
                <tr>
                  <td width="250px"><small>Contraseña</small></td>
                  <td>{{ object.get_passwd }}</td>
                </tr>
                <tr>
                  <td width="250px"><small>Creado</small></td>
                  <td>{{ object.created_at|naturaltime }}</td>
                </tr>
                <tr>
                  <td width="250px"><small>Actualizado</small></td>
                  <td>{{ object.updated_at|naturaltime }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>