{% load url from future %}
{% load i18n %}
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-head">
                          <a href="{% url 'admin_juego_condiciones_create' %}" class="btn btn-sm btn-primary side left"><i class="icon-squared-plus i-right"></i> Crear nuevo</a>
                        </div>
                        <div class="panel-body panel-body-border panel-shadow">
                            <table class='table table-data'>
                              <thead>
                                <tr>
                                  <th>N°</th>
                                  <th>Modalidad (Condición)</th>
                                  <th>Orden</th>
                                  <th>¿Por referencia?</th>
                                  <th>¿Condición por equipo?</th>
                                  <th>Tipo</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for object in object_list %}
                                  <tr>
                                      <td><a class="link" href='{{ object.get_absolute_url }}'>{{ object.pk }}</a></td>
                                      <td>
                                        <span class="tag tag-orange">{{ object.modalidad }}</span>
                                        <!--
                                        <span class="tag tag-green">{{ object.condicionesdetail_set.all.0.deportes_modalidades.deporte }}</span>
                                        -->
                                        <span<span class="tag">{{ object.nombre }}</span>
                                      </td>
                                      <td>
                                        {{ object.orden }}
                                      </td>
                                      <td>
                                        {% if object.etiqueta_ref and object.equipo%}
                                          <a class="link c update" href='{% url "admin_juego_condiciones_update_referencias" pk=object.pk %}'>
                                            Si
                                          </a>
                                        {% elif object.etiqueta_ref %}
                                          Si
                                        {%else%}
                                          No
                                        {% endif %}
                                      </td>
                                      <td >
                                      {% if object.equipo %}
                                        Si
                                      {% else %}
                                        No
                                      {% endif %}
                                      </td>
                                      <td>
                                        {{object.get_tipo_display}}
                                        <!--
                                        {% if object.tipo == 1 %}
                                          {% trans "Asociado" %}
                                        {% elif object.tipo == 2 %}
                                          {% trans "Se repite por cada equipo" %}
                                        {% endif %}
                                      -->
                                      </td>

                                      <td>
                                        <div class="btn-group">
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_juego_condiciones_detail" pk=object.pk %}'>
                                            <i class="icon-info2"></i>
                                          </a>
                                          
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_juego_condiciones_update" pk=object.pk %}'>
                                            <i class="icon-edit2"></i>
                                          </a>
                                        
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_juego_condiciones_delete" pk=object.pk %}'>
                                            <i class="icon-delete"></i>
                                          </a>
                                        </div>         
                                      </td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>