{% extends 'base.html' %}

{% load i18n %}

{% block content %}
              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-users"></i> Auditoria</h1>
                            <p class="subtitle">Detalle </p>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><a href="{{ object.get_json_filter_url }}"><i class="icon-industrial-building"></i> Auditoria de objetos</a></li>
                                <li><i class="icon-info"></i> Detalle por objeto</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">
                    {% include 'admin_historic/sessionsdetail/object_table_detail.html' %}
                  </div>
                </div>
              </div>
{% endblock %}