{% load i18n %}
                <div class="col-xs-12">
                  <div class="panel panel-default">
                      <div class="panel-head">
                       <a href="{% url 'admin_juego_jugadortipo_create' %}" class="btn btn-sm btn-primary side left"><i class="icon-squared-plus i-right"></i> Crear nuevo</a>
                      </div>
                    
                          <form id="form_filters" action='' method='get' encoding='utf-8'>
                            <div class="panel-body panel-filters">
                                <div class="row">            
                                    <div class="col-xs-4">
                                        <div class="form-margin">
                                                 <div class="row form form-group">
                                                  <div class="col-xs-4">
                                                    <div class="form-label">{{ form.deporte.label }}</div>
                                                  </div>
                                                  <div class="col-xs-8">
                                                    {{ form.deporte }}
                                                  </div>
                                                </div>
                                          </div>
                                      </div>
                                </div>
                              </div>
                              <div class="panel-footer panel-shadow">
                                  <div class="col-xs-12">
                                    <p>
                                      <button class='btn btn-primary' >Buscar </button>
                                    </p>
                                  </div>
                              </div>
                            </form>
                  </div>
                </div>
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-head">
                          <p class="title left">
                            Tipos de jugadores
                          </p>
                        </div>
                        <div class="panel-body panel-body-border panel-shadow">
                            <table class='table table-data'>
                              <thead>
                                <tr>
                                  <th>N°</th>
                                  <th>Nombre</th>
                                  <th>Deporte</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for object in object_list %}
                                  <tr>
                                      <td>{{ forloop.counter }}</td>
                                      <td><a class="link" href='{{ object.get_absolute_url }}'>{{ object.nombre }}</a></td>
                        
                                      <td><span class="tag tag-green">{{ object.deporte.nombre }}</span></td>
                                      
                                      <td>
                                        <div class="btn-group btn-group-73">
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_juego_jugadortipo_detail" pk=object.pk %}'>
                                            <i class="icon-info2"></i>
                                          </a>
                                          
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_juego_jugadortipo_update" pk=object.pk %}'>
                                            <i class="icon-edit2"></i>
                                          </a>
                                        
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_juego_jugadortipo_delete" pk=object.pk %}'>
                                            <i class="icon-delete"></i>
                                          </a>
                                        </div>       
                                      </td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>