{% extends 'base.html' %}

{% load i18n %}
{% load url from future %}

{% block content %}
<!--Incluimos el js para cadena-->
{% load staticfiles %}
              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-users"></i> Usuarios</h1>
                            <p class="subtitle">
                              {% if object %}
                                {% trans "Actualizar" %}
                              {% else %}
                                {% trans "Crear" %}
                              {% endif %}</p>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><a href="{% url 'admin_users_users_list' %}"><i class="icon-industrial-building"></i> Usuarios</a></li>
                                <li>
                                  {% if object %}
                                  <i class="icon-pencil-1"></i> Actualizar
                                  {% else %}
                                  <i class="icon-plus-1"></i> Crear
                                  {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">
                    <form action='{% if object %}
                                    {% url 'admin_users_users_update_password' pk=object.pk as updatepassword %}
                                    {% if info_menu_url|stringformat:"s" == updatepassword|stringformat:"s" %}
                                      {% url 'admin_users_users_update_password' pk=object.pk %}
                                    {% else %}
                                      {% url 'admin_users_users_customize' pk=object.pk  as customize %}
                                      {% if info_menu_url|stringformat:"s" == customize|stringformat:"s" %} 
                                        {% url 'admin_users_users_customize' pk=object.pk %}
                                      {% else %}
                                        {% url 'admin_users_users_update' pk=object.pk %}
                                      {% endif %}
                                    {% endif %}
                                  {% else %}
                                    {% if  request.GET.ccadena %}
                                      {% url 'admin_users_users_create' %}?ccadena={{request.GET.ccadena}}
                                    {% else %}
                                      {% url 'admin_users_users_create' %}
                                    {% endif %}
                                  {% endif %}' 
                        method='post' encoding='utf-8' autocomplete="off">{% csrf_token %}
                      
                      <div class="col-xs-12">
                        <div class="panel panel-default">
                          <div class="panel-body panel-head-border">
                            <div class="form-margin">
                             
                            {%  if form.non_field_errors %}
                            <div class="row form form-group ">   
                                <div class="col-xs-3"> 
                                    <div class="alert alert-warning">{{ form.non_field_errors }}</div>            
                                </div>
                              </div>
                            {% endif %}

                            {% for item in form %}
                              
                              {% if item.is_hidden == 0 %}
                                
                                <div class="row form form-group">
                                
                                  <div class="col-xs-3">
                                    <div class="form-label">{{ item.label }}</div>
                                  </div>
                                  <div class="col-xs-6">
                                    {% if item.name = "groups" or item.name = "user_permissions" %}
                                      <div class="overh_checkbox">
                                        {{ item }}
                                      </div>
                                    {% else %}
                                      {{ item }}
                                    {% endif %}

                                    

                                </div>

                                <div class="col-xs-3">
                                  {%  if item.errors %}   
                                    <div class="alert alert-warning">{{ item.errors }}</div>
                                  {% endif %}     

                                </div>
                              </div>

                              {% else %}

                                {{ item }}
                              
                              {% endif %}

                                  
                            {% endfor %}

                            <div class="row form form-group">

                                  <div class="col-xs-3">
                                  </div>
                                  <div class="col-xs-6">
                                      <div class="alert alert-info">
                                        <p>Los campos con (*) son obligatorios.</p>                                    
                                      </div>
                                  </div>
                                  <div class="col-xs-3">
                                  </div>

                              </div>


                            </div>
                          </div>
                          <div class="panel-footer panel-shadow">
                              <div class="col-xs-3"></div>
                              <div class="col-xs-6">
                                <p>
                                <button name="_save" value="_save" class='btn btn-large btn-success' type='submit'>
                                  {% if object %}
                                  {% trans "Guardar" %}
                                  {% else %}
                                  {% trans "Crear" %}
                                  {% endif %}
                                </button>
                                {% if  request.GET.next %}
                                  <a href="{{request.GET.next}}" class='btn btn-large btn-success'>
                                    {% trans "Saltar" %}
                                  </a>
                                {% endif %}
                                </p>
                              </div>
                              <div class="col-xs-3"></div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
{% endblock %}