{% load i18n %}
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-head">
                          <a href="{% url 'admin_finanzas_cuenta_create' %}" class="btn btn-sm btn-primary side left"><i class="icon-squared-plus i-right"></i> Crear nuevo</a>
                          
                        </div>
                        <div class="panel-body panel-body-border panel-shadow">
                            <table class='table table-data'>
                              <thead>
                                <tr>
                                  <th>Nro</th>
                                  <th>Banco</th>
                                  <th>Tipo de cuenta</th>
                                  <th>Número</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for object in object_list %}
                                  <tr>
                                      <td>{{ forloop.counter }}</a></td>
                                      <td>
                                        {{ object.banco }}
                                      </td>
                        
                                      <td>{{ object.tipocuenta }}</td>
                                      <td>
                                        <a class="link" href='{{ object.get_absolute_url }}'>
                                        {{ object.numero }}
                                        </a>
                                      </td>
                                      
                                      
                                      <td>
                                        <div class="btn-group">
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_finanzas_cuenta_detail" pk=object.pk %}'>
                                            <i class="icon-info2"></i>
                                          </a>
                                          
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_finanzas_cuenta_update" pk=object.pk %}'>
                                            <i class="icon-edit2"></i>
                                          </a>
                                        
                                          <a class="btn btn-xs btn-ico btn-default" href='{% url "admin_finanzas_cuenta_delete" pk=object.pk %}'>
                                            <i class="icon-delete"></i>
                                          </a>
                                        </div>              
                                      </td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>