{% load i18n %}
{% load humanize %}
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-head">
      <div class="title left">
          <p>
            Datos de la temporada
          </p>
        </div>

        {% if object.get_url_historic %}
        <div class="title right">
          <a class='btn btn-success' href='{{object.get_url_historic}}'>
            <i class="icon-history"></i>
            {% trans "Ver historico" %}
          </a>
        </div>
        {% endif %} 
    <div class="panel-body panel-body-border panel-shadow">
        <table class='table'>
        <thead>
          <tr>
            <th>
              {% trans "Dato" %}
            </th>
            <th>
              {% trans "Valor" %}
            </th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>
              Torneo (Temporada)
            </td>
            <td><span class="tag tag-blue">{{ object.torneo }}</span><span class="tag">{{ object.nombre }}</span></td>
          </tr>
          
          
          <tr>
            <td>
              Fecha de inicio
            </td>
            <td>{{ object.fechaini }}</td>
          </tr>
          
          <tr>
            <td>
              Fecha de fin
            </td>
            <td>{{ object.fechafin }}</td>
          </tr>
          <tr>
            <td>
              Estado
            </td>
            <td>{{ object.status }}</td>
          </tr>
          <tr>
            <td>
              Deporte
            </td>
            <td><span class="tag tag-green">{{ object.torneo.deporte.nombre }}</span></td>
          </tr>
          
          <tr>
             <td>
               Creado
             </td>
             <td title="{{ object.created_at }}">
               <i class="icon-clock"><i>
               {{ object.created_at|naturaltime }}
             </td>
           </tr>
           
           <tr>
             <td>
               Actualizado
             </td>
             <td title="{{ object.updated_at }}">
               <i class="icon-clock"><i>
               {{ object.updated_at|naturaltime }}
             </td>
           </tr>
    
        </tbody>
        </table>
      </div>
    </div>
  </div>