{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block content %}
{% load staticfiles %}
              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-event-note"></i> Temporadas</h1>
                            <p class="subtitle">
                              {% if object %}
                                {% trans "Actualizar" %}
                              {% else %}
                                {% trans "Crear" %}
                              {% endif %}</p>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><a href="{% url 'admin_juego_temporadas_list' %}"><i class="icon-event-note"></i> Temporadas</a></li>
                                <li>
                                  {% if object %}
                                  <i class="icon-pencil-1"></i> Actualizar
                                  {% else %}
                                  <i class="icon-plus-1"></i> Crear
                                  {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">
                    <form id="form_temporada" action='{% if object %}{% url 'admin_juego_temporadas_update' pk=object.pk %}{% else %}{% url 'admin_juego_temporadas_create' %}{% endif %}' method='post' encoding='utf-8'>
                      {% csrf_token %}

                      

                      <div class="col-xs-12">
                        <div class="panel panel-default">
                          <div class="panel-body panel-head-border">
                            <div class="form-margin">

                              {% if form.non_field_errors  %}

                              <div class="row form form-group">

                                <div class="col-xs-3">
                                </div>
                                <div class="col-xs-6">
                                    <div class="alert alert-warning">
                                      {{form.non_field_errors }} 
                                    </div>
                                
                                </div>
                                <div class="col-xs-3">
                                </div>
                              </div>
                              {% endif %}

                              {% if object %} 

                                {% if form.deportes.is_hidden %}
                                <div class="row form form-group ">
                                  <div class="col-xs-3">
                                    <div class="form-label">
                                      Deporte (*)
                                    </div>
                                  </div>
                                  <div class="col-xs-6">
                                    <input value="{{ object.torneo.deporte }}" readonly>
                                  </div>
                                  <div class="col-xs-3"> 
                                    <div class="alert alert-info">
                                      Este campo no se puede editar.
                                    </div>
                                  </div>
                                </div>
                                {% endif %}

                                {% if form.torneo.is_hidden %}
                                <div class="row form form-group ">
                                  <div class="col-xs-3">
                                    <div class="form-label">
                                      Liga (*)
                                    </div>
                                  </div>
                                  <div class="col-xs-6">
                                    <input value="{{ object.torneo }}" readonly>
                                  </div>
                                  <div class="col-xs-3"> 
                                    <div class="alert alert-info">
                                      Este campo no se puede editar.
                                    </div>
                                  </div>
                                </div>
                                {% endif %}


                              {% endif %}

                              {% for item in form %}
                              {% if item.is_hidden == 0 %}
                                {% if item.field.widget.attrs.class == "invisible" %}
                                  <div class="row form form-group {{item.field.widget.attrs.class}}">
                                {% else %}
                                    <div class="row form form-group ">
                                {% endif %}
                                  <div class="col-xs-3">
                                    <div class="form-label">
                                      {{ item.label }}   
                                    </div>
                                  </div>
                                  <div class="col-xs-6">
                                  
                                    {{ item }}
                                  
                                  </div>
                                  <div class="col-xs-3">
                                    {%  if item.errors %}   
                                      <div class="alert alert-warning">{{ item.errors }}</div>
                                    {% endif %}  
                                  </div>
                                </div>
                              {% else %}

                                {{ item }}
                              
                              {% endif %}
                              {% endfor %}
                          </div>
                          <div class="row form form-group">

                                <div class="col-xs-3">
                                </div>
                                <div class="col-xs-6">
                                    <div class="alert alert-info">Los campos con (*) son obligatorios</div>
                                </div>
                                <div class="col-xs-3">
                                </div>

                            </div>
                        </div>
                          <div class="panel-footer panel-shadow">
                              <div class="col-xs-3"></div>
                              <div class="col-xs-6">
                                <p>
                                     {% if object %}
                                      <button class='btn btn-success' type='submit' value="_save" name="_save">
                                        Actualizar
                                      </button>
                                    {% else %}
                                      <button class='btn btn-default' type='submit' value="_addanother" name="_save">
                                        Guardar y añadir otro
                                      </button>
                                      <button class='btn btn-success' type='submit' value="_save" name="_save">
                                        Guardar
                                      </button>
                                    {% endif %}
                                </p>
                              </div>
                              <div class="col-xs-3"></div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>

{% endblock %}
{% block js %}
  <script>

    $("#form_temporada").submit(function( event ) {
      if( $(".invisible").css("display")!="none" && $("input[type='checkbox']:checked").length < 1){
        alert("Debe activar almenos un tipo de apuesta para la temporada."); 
        return false
      }
    });

    $('#id_fechaini').datetimepicker({
    format:'d/m/Y',
    lang:'es',
    onShow:function( ct ){

      fecha = $('#id_fechafin').val().split("/")
      fecha = fecha[2]+"/"+fecha[1]+"/"+fecha[0]

     this.setOptions({
      maxDate:$('#id_fechafin').val()?fecha:false
     })
    },
    timepicker:false
   });
   $('#id_fechafin').datetimepicker({
    format:'d/m/Y',
    lang:'es',
    onShow:function( ct ){

      fecha = $('#id_fechaini').val().split("/")
      fecha = fecha[2]+"/"+fecha[1]+"/"+fecha[0]

     this.setOptions({
      minDate:$('#id_fechaini').val()?fecha:false
     })
    },
    timepicker:false
   });

    $('#id_deporte').on("change",torneosbydeporte);
    $('#id_torneo').on("change",gettorneo);
    
    function torneosbydeporte() {
        $("#id_torneo").empty()
        $("#id_torneo").attr("disabled",true); 
        $('#id_torneo').trigger("chosen:updated");

        var id = $(this).val();
        if ( id ){ 
          dajax_temporadas( 
              {'deporte': id},
              "{% url 'admin_juego_torneos_by_deporte_ajax' %}",
              'torneosbydeporte'
          );
        }
    }
    function gettorneo() {
        var id = $(this).val();
        if( id ){
          dajax_temporadas( 
              {'pk': id},
              "{% url 'admin_juego_torneos_get_ajax' %}",
              'gettorneo'
          );
        }
    }

    function dajax_temporadas(data, url, process){
      $.ajax({
          data : data,
          url : url,
          type : 'get',
          success : function(data_recibe){
            if(process == 'torneosbydeporte'){

                if(data_recibe.length > 0){
                  $("#id_torneo").append('<option value="0" >Seleccione Torneo</option>');
                  $.each(data_recibe, function(obj){
                    $("#id_torneo").append('<option value="'+data_recibe[obj].pk+'">'+data_recibe[obj].nombre+'</option>');
                  });
                  $("#id_torneo").attr("disabled",false); 
                
                }else{
                  $("#id_torneo").append('<option value="0" >No se encontraron datos, selecciona otro deporte</option>');
                  $("#id_torneo").attr("disabled",true);
                }
                
                $("#id_torneo").trigger("chosen:updated");
             
            }
            if(process == 'gettorneo'){
                if(data_recibe[0].por_jornadas == true){
                  $(".invisible").css({"display":"none"});

                }else{
                  $(".invisible").css({"display":"block"});

                }
            }
          },
          error : function(xhr,errmsg,err) {
            alert(xhr.status + ": " + xhr.responseText);    
          }
        });
    }

    $.urlParam = function(name){
      var results = new RegExp('[\?&]' + name + '=([^#]*)').exec(window.location.href);
      if (results==null){
         return null;
      }
      else{
         return results[1] || 0;
      }
    }

    if ($.urlParam('next') != null){
      var input = $("<input>").attr("type", "hidden").attr("name", "next").val($.urlParam('next'));
      $('#form_temporada').append($(input));
    }

  </script>
{% endblock %}