{% load i18n %}
{% load humanize %}
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-head">
      <div class="title left">
                                <p>
                                  Datos de la cuenta
                                </p>
                              </div>

                              {% if object.get_url_historic %}
                              <div class="title right">
                                <a class='btn btn-success' href='{{object.get_url_historic}}'>
                                  <i class="icon-history"></i>
                                  {% trans "Ver historico" %}
                                </a>
                              </div>
                              {% endif %}
    </div>
    <div class="panel-body panel-body-border panel-shadow">
    <table class='table'>      
      <thead>
            <tr>
              <th>
                {% trans "Dato" %}
              </th>
              <th>
                {% trans "Valor" %}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Banco
              </td>
              <td>{{ object.banco }}</td>
            </tr>
            
            <tr>
              <td>
                Tipo de cuenta
              </td>
              <td>{{ object.tipocuenta }}</td>
            </tr>

            <tr>
              <td>
                Número
              </td>
              <td>{{ object.numero }}</td>
            </tr>

            <tr>
              <td>
                Descripción
              </td>
              <td>{{ object.description }}</td>
            </tr>
            
            <tr>
              <td>
                Creado
              </td>
              <td title="{{ object.created_at }}">
                <i class="icon-clock"><i>
                {{ object.created_at|naturaltime }}
              </td>
            </tr>
            
            <tr>
              <td>
                Actualizado
              </td>
              <td title="{{ object.updated_at }}">
                <i class="icon-clock"><i>
                {{ object.updated_at|naturaltime }}
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>