<style type="text/css">
  .invisible {
    position: absolute;
    left: -9999px;
  }
</style>

{% load i18n %}
{% load humanize %}
<div class="row detail">
  <div class="column hd-6 lg-12 no-ppd">
    <div class="headline">
      <h5><i class="icon-info2 i-right"></i>Detalle</h5>
    </div>

    <div id="invisible" class="invisible">
      <div class="alert alert-info">
        Atencion! Tu usuario no tiene un email asignado. Haz click 
        <a href='{% url "admin_users_users_customize" pk=info_user.user.pk %}'>
            aquí
        </a>
         para asignarlo
      </div>
    </div>

    <div class="panel">
      <div class="panel-heading">
        {% if cache_key %}
          <a title="Exportar en formato pdf" target="_blank" class="btn btn-xs btn-ico btn-default" 
              href='{% url "admin_comercializacion_distribuidores_detail_print" cache_key=cache_key %}'>
            <i class="icon-print"></i>
          </a>

          <a id="email" title="Exportar en correo" class="btn btn-xs btn-ico btn-default" 
              href='{% url "admin_comercializacion_distribuidores_send_email" cache_key=cache_key %}'>
            <i class="icon-mail"></i>
         </a>
        {% endif %}


        <a class='btn btn-success right' href='{{object.get_url_historic}}'>
          <i class="icon-history"></i>
          {% trans "Ver historico" %}
        </a>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="column lg-12">
            <table class="table">
              <tbody>
                <tr>
                  <td width="250px"><small>ID</small></td>
                  <td class="text-large">{{ object.pk }}</td>
                </tr>
                <tr>
                  <td width="250px"><small>Operadora</small></td>
                  <td>{{ object.banca.bloque.operadora }}</td>
                </tr>
                <tr>
                  <td width="250px"><small>Multi Banca</small></td>
                  <td>{{ object.banca.bloque }}</td>
                </tr>
                <tr>
                  <td width="250px"><small>Banca</small></td>
                  <td>{{ object.banca }}</td>
                </tr>
                <tr>
                  <td width="250px"><small>Nombre</small></td>
                  <td class="text-large">{{ object.nombre }}</td>
                </tr>
                <tr>
                  <td width="250px"><small>Status</small></td>
                  <td><span class="tag tag-{{ object.status.codename }}">{{ object.status }}</span></td>
                </tr>
                <tr>
                  <td width="250px"><small>Cierre administrativo Automático</small></td>
                  <td>
                  {% if object.resumen_automatic %}
                    <span class="tag tag-green">Si</span>
                  {% else %}
                    <span class="tag tag-red">No</span>
                  {% endif %}
                  </td>
                </tr>
                <tr>
                  <td width="250px"><small>Resumen Administrativo</small></td>
                  <td>
                  Personalizado: 
                  {% if object.get_comercializadora.resumen_personalizado %}
                    <span class="tag tag-green">Si</span>
                    <span class="tag tag-blue">{{object.get_comercializadora.resumen_personalizado_comer}}</span>
                  {% else %}
                    <span class="tag tag-red">No</span>
                  {% endif %}
                  </td>
                </tr>
                <tr>
                  <td width="250px"><small>Tipo de Distribuidor</small></td>
                  <td>
                  {% if object.tipo %}
                    <span class="tag tag-blue">Venta Web</span>
                  {% else %}
                    <span class="tag tag-blue">Venta Tradicional</span>
                  {% endif %}
                  </td>
                </tr>
                {% if object.rif %}
                <tr>
                  <td width="250px"><small>RIF</small></td>
                  <td>{{ object.rif }}</td>
                </tr>
                {% endif %}
                {% if object.telefono %}
                <tr>
                  <td width="250px"><small>Teléfono</small></td>
                  <td>{{ object.telefono }}</td>
                </tr>
                {% endif %}
                {% if object.email %}
                <tr>
                  <td width="250px"><small>Correo electrónico</small></td>
                  <td>{{ object.email }}</td>
                </tr>
                {% endif %}
                {% if object.direccion %}
                  {% if object.direccion.estado %}
                  <tr>
                    <td width="250px"><small>Estado</small></td>
                    <td>{{ object.direccion.estado.nombre }}</td>
                  </tr>
                  {% endif %}
                  {% if object.direccion.municipio %}
                  <tr>
                    <td width="250px"><small>Municipio</small></td>
                    <td>{{ object.direccion.municipio.nombre }}</td>
                  </tr>
                  {% endif %}
                  {% if object.direccion.ciudad %}
                  <tr>
                    <td width="250px"><small>Ciudad</small></td>
                    <td>{{ object.direccion.ciudad.nombre }}</td>
                  </tr>
                  {% endif %}
                  {% if object.direccion.direccion %}
                  <tr>
                    <td width="250px"><small>Dirección</small></td>
                    <td>{{ object.direccion.direccion }}</td>
                  </tr>
                  {% endif %}
                {% endif %}
                <tr>
                  <td width="250px"><small>Creado</small></td>
                  <td>{{ object.created_at|naturaltime }}</td>
                </tr>
                <tr>
                  <td width="250px"><small>Actualizado</small></td>
                  <td>{{ object.updated_at|naturaltime }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column hd-6 lg-12 no-ppd">
    <div class="headline">
      <h5><i class="icon-flow-tree i-right"></i>Cadena de comercialización</h5>
    </div>
    <div class="panel">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="column lg-12">
            <table class="table">
              <tbody>
                <tr>
                  <td width="250px"><small>Cantidad de Agencias</td>
                  <td>{{ object.agencias_set.count }}</td>
                </tr>
                <tr>
                  <td width="250px"><small>Frecuencia de Queda</td>
                  {% if object.get_frecuencia_queda %}
                  <td><span class="tag tag-blue">{{ object.get_frecuencia_queda_display }}</span></td>
                  {% endif %}
                </tr>
                <tr>
                  <td width="250px"><small>Cupo diario</td>
                  <td>Bs. <span class="tag tag-green">{{ object.get_cupo.monto_diario | intcomma }}</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% block js %}
  <script>

  $('#email').click(verificar_correo);

  function verificar_correo(){
    email = '{{info_user.user.email}}'
    if (email=='None'){
      $('#invisible').removeClass('invisible');
      return false;
    }
  }

  </script>
{% endblock %}