@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?40504154');
  src: url('../font/icons.eot?40504154#iefix') format('embedded-opentype'),
       url('../font/icons.woff?40504154') format('woff'),
       url('../font/icons.ttf?40504154') format('truetype'),
       url('../font/icons.svg?40504154#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?40504154#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-sitemap:before { content: '\e886'; } /* '' */
.icon-terminal:before { content: '\e885'; } /* '' */
.icon-user:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-help:before { content: '\e80d'; } /* '' */
.icon-info:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-lock:before { content: '\e809'; } /* '' */
.icon-lock-open:before { content: '\e80a'; } /* '' */
.icon-download:before { content: '\e813'; } /* '' */
.icon-upload:before { content: '\e814'; } /* '' */
.icon-reply:before { content: '\e80f'; } /* '' */
.icon-forward:before { content: '\e810'; } /* '' */
.icon-export:before { content: '\e811'; } /* '' */
.icon-attention:before { content: '\e815'; } /* '' */
.icon-cup:before { content: '\e816'; } /* '' */
.icon-clock:before { content: '\e817'; } /* '' */
.icon-block-2:before { content: '\e887'; } /* '' */
.icon-resize-full:before { content: '\e888'; } /* '' */
.icon-publish:before { content: '\e818'; } /* '' */
.icon-arrows-ccw:before { content: '\e819'; } /* '' */
.icon-trophy:before { content: '\e81a'; } /* '' */
.icon-monitor:before { content: '\e81b'; } /* '' */
.icon-globe:before { content: '\e81c'; } /* '' */
.icon-suitcase:before { content: '\e81d'; } /* '' */
.icon-erase:before { content: '\e81e'; } /* '' */
.icon-chart-pie:before { content: '\e81f'; } /* '' */
.icon-chart-line:before { content: '\e820'; } /* '' */
.icon-chart-bar:before { content: '\e821'; } /* '' */
.icon-chart-area:before { content: '\e822'; } /* '' */
.icon-ticket:before { content: '\e823'; } /* '' */
.icon-megaphone:before { content: '\e824'; } /* '' */
.icon-key:before { content: '\e825'; } /* '' */
.icon-twitter:before { content: '\e826'; } /* '' */
.icon-facebook:before { content: '\e827'; } /* '' */
.icon-search:before { content: '\e828'; } /* '' */
.icon-ok:before { content: '\e82a'; } /* '' */
.icon-cancel:before { content: '\e82b'; } /* '' */
.icon-cancel-circle:before { content: '\e804'; } /* '' */
.icon-plus-1:before { content: '\e82c'; } /* '' */
.icon-plus-circle:before { content: '\e803'; } /* '' */
.icon-minus-1:before { content: '\e82d'; } /* '' */
.icon-minus-circle:before { content: '\e805'; } /* '' */
.icon-tag:before { content: '\e806'; } /* '' */
.icon-pencil-1:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e80c'; } /* '' */
.icon-cog:before { content: '\e80b'; } /* '' */
.icon-headphones:before { content: '\e812'; } /* '' */
.icon-block:before { content: '\e82e'; } /* '' */
.icon-popup:before { content: '\e82f'; } /* '' */
.icon-star-1:before { content: '\e838'; } /* '' */
.icon-videocam:before { content: '\e837'; } /* '' */
.icon-home-1:before { content: '\e830'; } /* '' */
.icon-volume-off:before { content: '\e833'; } /* '' */
.icon-volume-down:before { content: '\e832'; } /* '' */
.icon-volume-up:before { content: '\e831'; } /* '' */
.icon-down:before { content: '\e834'; } /* '' */
.icon-up:before { content: '\e835'; } /* '' */
.icon-signal:before { content: '\e836'; } /* '' */
.icon-menu:before { content: '\e829'; } /* '' */
.icon-calendar:before { content: '\e83e'; } /* '' */
.icon-clock-1:before { content: '\e83d'; } /* '' */
.icon-down-open:before { content: '\e839'; } /* '' */
.icon-left-open:before { content: '\e83a'; } /* '' */
.icon-right-open:before { content: '\e83b'; } /* '' */
.icon-up-open:before { content: '\e83c'; } /* '' */
.icon-baseball:before { content: '\e83f'; } /* '' */
.icon-basketball:before { content: '\e840'; } /* '' */
.icon-bicycle:before { content: '\e841'; } /* '' */
.icon-cinema:before { content: '\e842'; } /* '' */
.icon-note:before { content: '\e801'; } /* '' */
.icon-commerical-building:before { content: '\e844'; } /* '' */
.icon-credit-card:before { content: '\e847'; } /* '' */
.icon-cricket:before { content: '\e845'; } /* '' */
.icon-embassy:before { content: '\e846'; } /* '' */
.icon-football:before { content: '\e848'; } /* '' */
.icon-garden:before { content: '\e84a'; } /* '' */
.icon-giraffe:before { content: '\e849'; } /* '' */
.icon-golf:before { content: '\e84b'; } /* '' */
.icon-grocery-store:before { content: '\e84c'; } /* '' */
.icon-harbor:before { content: '\e84d'; } /* '' */
.icon-heliport:before { content: '\e84e'; } /* '' */
.icon-industrial-building:before { content: '\e84f'; } /* '' */
.icon-lodging:before { content: '\e850'; } /* '' */
.icon-minefield:before { content: '\e851'; } /* '' */
.icon-monument:before { content: '\e852'; } /* '' */
.icon-museum:before { content: '\e853'; } /* '' */
.icon-pitch:before { content: '\e854'; } /* '' */
.icon-religious-christian:before { content: '\e855'; } /* '' */
.icon-restaurant:before { content: '\e856'; } /* '' */
.icon-school:before { content: '\e857'; } /* '' */
.icon-shop:before { content: '\e858'; } /* '' */
.icon-skiing:before { content: '\e859'; } /* '' */
.icon-soccer:before { content: '\e85a'; } /* '' */
.icon-swimming:before { content: '\e85b'; } /* '' */
.icon-tennis:before { content: '\e85c'; } /* '' */
.icon-theatre:before { content: '\e85d'; } /* '' */
.icon-toilet:before { content: '\e85e'; } /* '' */
.icon-town-hall:before { content: '\e85f'; } /* '' */
.icon-trash:before { content: '\e860'; } /* '' */
.icon-warehouse:before { content: '\e861'; } /* '' */
.icon-picture:before { content: '\e862'; } /* '' */
.icon-eye:before { content: '\e863'; } /* '' */
.icon-eye-off:before { content: '\e864'; } /* '' */
.icon-print:before { content: '\e865'; } /* '' */
.icon-bell:before { content: '\e866'; } /* '' */
.icon-rss:before { content: '\e868'; } /* '' */
.icon-phone:before { content: '\e867'; } /* '' */
.icon-cog-1:before { content: '\e86a'; } /* '' */
.icon-wrench:before { content: '\e869'; } /* '' */
.icon-block-1:before { content: '\e86f'; } /* '' */
.icon-zoom-in:before { content: '\e870'; } /* '' */
.icon-zoom-out:before { content: '\e871'; } /* '' */
.icon-down-open-1:before { content: '\e86b'; } /* '' */
.icon-left-open-1:before { content: '\e86c'; } /* '' */
.icon-right-open-1:before { content: '\e86d'; } /* '' */
.icon-up-open-1:before { content: '\e86e'; } /* '' */
.icon-arrows-cw:before { content: '\e872'; } /* '' */
.icon-signal-1:before { content: '\e873'; } /* '' */
.icon-desktop:before { content: '\e874'; } /* '' */
.icon-off:before { content: '\e875'; } /* '' */
.icon-check:before { content: '\e876'; } /* '' */
.icon-check-empty:before { content: '\e877'; } /* '' */
.icon-gift:before { content: '\e878'; } /* '' */
.icon-megaphone-1:before { content: '\e879'; } /* '' */
.icon-adult:before { content: '\e87a'; } /* '' */
.icon-child:before { content: '\e87b'; } /* '' */
.icon-star:before { content: '\e87c'; } /* '' */
.icon-trash-1:before { content: '\e881'; } /* '' */
.icon-desktop-1:before { content: '\e87f'; } /* '' */
.icon-cloud:before { content: '\e880'; } /* '' */
.icon-database:before { content: '\e882'; } /* '' */
.icon-truck:before { content: '\e87e'; } /* '' */
.icon-shop-1:before { content: '\e87d'; } /* '' */
.icon-picture-1:before { content: '\e889'; } /* '' */
.icon-ok-1:before { content: '\e883'; } /* '' */
.icon-attach:before { content: '\e88a'; } /* '' */
.icon-comment:before { content: '\e88b'; } /* '' */
.icon-cloud-1:before { content: '\e884'; } /* '' */
.icon-college:before { content: '\e843'; } /* '' */