*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a{
  color: #71747f;
  text-decoration: none;
}
a:hover{
  color: #71747f;
}
body{
  background: #fff;
  color: #71747f;
  font-size: 13px;
  width: 100%;
}
ul,li,p,ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
h1{
  margin: 0;
  padding: 10px;
}
.pagination{
  width: 100%;
}
.pagination-margin{
  padding: 10px 20px;
}
.pagination ul{
  display: inline-block;
  float: right;
}
.pagination ul li{
  display: inline-block;
  *display: inline;
  vertical-align: top;
  zoom: 1;
}
.pagination ul li a{
  border: 1px solid #71747f;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding: 5px 15px;
}
.pagination ul li a:hover{
  color: #21b994;
  border: 1px solid #21b994;
}
.thead{
  border-bottom: 1px solid #e0e4e8;
  padding: 5px;
}
.tag{
  -webkit-border-radius: 20px 20px 20px 20px;
     -moz-border-radius: 20px 20px 20px 20px;
          border-radius: 20px 20px 20px 20px;
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  margin: 0px 0px 0px 10px;
  line-height: 0.85em;
  padding: 3px 5px;
  text-transform: uppercase;
}
.tag2{
  -webkit-border-radius: 20px 20px 20px 20px;
     -moz-border-radius: 20px 20px 20px 20px;
          border-radius: 20px 20px 20px 20px;
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  margin: 0px 0px 0px 0px;
  line-height: 0.85em;
  padding: 3px 5px;
  text-transform: uppercase;
}
.tag span{
  display: block;
  line-height: 1.5em;
}
.tag2 span{
  display: block;
  line-height: 1.5em;
}
.tag-block{
  display: block;
}
.tag-nomargin{
  margin: 2px 0px;
  padding: 5px 0px;
}
.tag-nomarginup{
  margin: 0px 0px;
  padding: 0px 0px;
}
.tag-nomarginupb{
  margin: 0px 0px;
  padding: 0px 10px;
}
.tag-green{
  border: 1px solid #409f66;
  color: #409f66;
}
.tag-red{
  border: 1px solid #d94242;
  color: #d94242;
}
.tag-orange{
  border: 1px solid #f48b6f;
  color: #f48b6f;
}
.tag-yellow{
  border: 1px solid #fda737;
  color: #fda737;
}
.tag-light-green{
  border: 1px solid #4ebd1e;
  color: #4ebd1e;
}
.tag-blue{
  border: 1px solid #43538e;
  color: #43538e;
}
.text-align-right{
  text-align: right;
}
/**/
.container{
  float: left;
  width: 100%;
}
.container-margin{
  padding: 5px;
}
.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666666666666%;
}

.col-xs-10 {
  width: 83.33333333333334%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666666666666%;
}

.col-xs-7 {
  width: 58.333333333333336%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666666666667%;
}

.col-xs-4 {
  width: 33.33333333333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.666666666666664%;
}

.col-xs-1 {
  width: 8.333333333333332%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666666666666%;
}

.col-xs-pull-10 {
  right: 83.33333333333334%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666666666666%;
}

.col-xs-pull-7 {
  right: 58.333333333333336%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666666666667%;
}

.col-xs-pull-4 {
  right: 33.33333333333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.666666666666664%;
}

.col-xs-pull-1 {
  right: 8.333333333333332%;
}

.col-xs-pull-0 {
  right: 0;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666666666666%;
}

.col-xs-push-10 {
  left: 83.33333333333334%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666666666666%;
}

.col-xs-push-7 {
  left: 58.333333333333336%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666666666667%;
}

.col-xs-push-4 {
  left: 33.33333333333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.666666666666664%;
}

.col-xs-push-1 {
  left: 8.333333333333332%;
}

.col-xs-push-0 {
  left: 0;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666666666666%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333333334%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666666666666%;
}

.col-xs-offset-7 {
  margin-left: 58.333333333333336%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666666666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.666666666666664%;
}

.col-xs-offset-1 {
  margin-left: 8.333333333333332%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666666666666%;
  }
  .col-sm-10 {
    width: 83.33333333333334%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666666666666%;
  }
  .col-sm-7 {
    width: 58.333333333333336%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666666666667%;
  }
  .col-sm-4 {
    width: 33.33333333333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.666666666666664%;
  }
  .col-sm-1 {
    width: 8.333333333333332%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666666666666%;
  }
  .col-sm-pull-10 {
    right: 83.33333333333334%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666666666666%;
  }
  .col-sm-pull-7 {
    right: 58.333333333333336%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666666666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.666666666666664%;
  }
  .col-sm-pull-1 {
    right: 8.333333333333332%;
  }
  .col-sm-pull-0 {
    right: 0;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666666666666%;
  }
  .col-sm-push-10 {
    left: 83.33333333333334%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666666666666%;
  }
  .col-sm-push-7 {
    left: 58.333333333333336%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666666666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.666666666666664%;
  }
  .col-sm-push-1 {
    left: 8.333333333333332%;
  }
  .col-sm-push-0 {
    left: 0;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-sm-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-sm-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666666666666%;
  }
  .col-md-10 {
    width: 83.33333333333334%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666666666666%;
  }
  .col-md-7 {
    width: 58.333333333333336%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666666666667%;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.666666666666664%;
  }
  .col-md-1 {
    width: 8.333333333333332%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666666666666%;
  }
  .col-md-pull-10 {
    right: 83.33333333333334%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666666666666%;
  }
  .col-md-pull-7 {
    right: 58.333333333333336%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666666666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.666666666666664%;
  }
  .col-md-pull-1 {
    right: 8.333333333333332%;
  }
  .col-md-pull-0 {
    right: 0;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666666666666%;
  }
  .col-md-push-10 {
    left: 83.33333333333334%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666666666666%;
  }
  .col-md-push-7 {
    left: 58.333333333333336%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666666666667%;
  }
  .col-md-push-4 {
    left: 33.33333333333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.666666666666664%;
  }
  .col-md-push-1 {
    left: 8.333333333333332%;
  }
  .col-md-push-0 {
    left: 0;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-md-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-md-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666666666666%;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666666666666%;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.666666666666664%;
  }
  .col-lg-1 {
    width: 8.333333333333332%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  .col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  .col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  .col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  .col-lg-pull-0 {
    right: 0;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666666666666%;
  }
  .col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666666666666%;
  }
  .col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.666666666666664%;
  }
  .col-lg-push-1 {
    left: 8.333333333333332%;
  }
  .col-lg-push-0 {
    left: 0;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
/**/
form{
  
}
.form-container{
  padding: 10px;
}
.form{
  
}
.form-margin{
  padding: 7px 10px;
}
.form input, .form select{
  padding: 3px 10px;
  font-size: 12px;
  line-height: 1.428571429;
  color: #71747f;
  background-color: #ffffff;
  border: 1px solid #d8dfe7;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 100%;
}
.form input:focus, .form select:focus {
  border: 1px solid #7d9db9;
  outline: 0;
}
.form input[type="checkbox"]{
  margin: 8px 0px;
  width: auto;
}
.form-label{
  font-size: 11px;
  color: #a8b3bf;
  font-weight: bold;
  padding: 5px 15px 5px 0px;
  text-align: right;
}
.form-check{
  padding: 0px 5px;
}
.form-label-left{
  text-align: left;
}
.form-label-horizontal{
  color: #a8b3bf;
  font-weight: bold;
  padding: 5px 0px;
  text-align: left;
}
.form .status_pendiente{
  color: #71747f;
  background-color: #f8ecac;
  border: 1px solid #7d9db9;
}
.form .status_novendido{
  color: #71747f;
  background-color: #f8ecac;
  border: 1px solid #7d9db9;
}
.form .status_vendido{
  color: #445b7a;
  background-color: #c9efb8;
  border: 1px solid #7d9db9;
}
.form .status_eliminado{
  color: #445b7a;
  background-color: #efc9c9;
  border: 1px solid #7d9db9;
}
.form .status_ganado{
  color: #445b7a;
  background-color: #d0dfeb;
  border: 1px solid #7d9db9;
}
.form .status_perdido{
  color: #445b7a;
  background-color: #f5d3da;
  border: 1px solid #7d9db9;
}
.form-control:-moz-placeholder {
  color: #999999;
}
.form-control::-moz-placeholder {
  color: #999999;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.428571429;
  color: #71747f;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #d8dfe7;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border: 1px solid #7d9db9;
  outline: 0;
}
.form-control-border-right{
  -webkit-border-radius: 2px 0px 0px 2px;
     -moz-border-radius: 2px 0px 0px 2px;
          border-radius: 2px 0px 0px 2px;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}
textarea.form-control {
  height: auto;
}
.form-group {
  padding: 5px 10px;
}
.form-group-horizontal {
  padding:0px 10px 10px 10px;
}
.form-small{
  max-width: 500px;
  margin: auto;
}
.form-small .form-group-small input[type="text"]{
  font-size: 12px;
  line-height: 1.428571429;
  color: #71747f;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  text-align: center;
  width: 50px;
}
.form-small .form-group-small input[readonly="readonly"]{
  background-color: #eee;
}
.form-small .th{
  display: block;
  font-weight: bold;
  padding: 5px 0px;
  text-align: center;
}
.form-small .errors{
  background: #fbfbfb;
  display: block;
  border: 1px solid #eee;
  font-size: 10px;
  margin: 0px 10px;
  width: 120px;
  z-index: 2;
}
.form-small .th_firts{
  font-weight: bold;
  text-decoration: underline;
}
.form-small .td{
  display: block;
  line-height: 1.3em;
  padding: 5px 0px;
}
.form-group-small{
  padding: 0px 10px;
}
.form-group-center{
  text-align: center;
}
.form-actions{
  display: table;
  width: 100%;
}
.form-actions button{
  margin: auto;
}
.form-label-side{
  display: inline-block;
  *display: inline;
  vertical-align: top;
  zoom: 1;
}
/**/
.form-footer{
  background: #f8f9fa;
  border-top: 1px solid #d8dfe7;
  padding: 10px;
}
/**/
.small-input input, .small-input select{
  padding: 2px 5px;
  font-size: 11px;
  line-height: 1.428571429;
  color: #71747f;
  background-color: #ffffff;
  border: 1px solid #d8dfe7;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 40px;
}
.small-input input:focus, .small-input select:focus {
  border: 1px solid #7d9db9;
  outline: 0;
}
.small-input input[type="checkbox"]{
  margin: 8px 0px;
  width: auto;
}
.form-group-small input[type="text"] {
  margin: 2.5px 5px;
}
.form-group-small select{
  margin: 2.5px 5px;
  padding: 2px 5px 3px 5px;
  width: 60px;
}
.input-etiqueta{
  padding: 2px 5px;
  font-size: 11px;
  line-height: 1.428571429;
  color: #71747f;
  background-color: #ffffff;
  border: 1px solid #d8dfe7;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 40px;
}
.input-etiqueta-error{
  padding: 2px 5px;
  font-size: 11px;
  line-height: 1.428571429;
  color: #71747f;
  background: #E59999;
  border: 1px solid #d8dfe7;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 40px;
}
.input-etiqueta:focus {
  border: 1px solid #7d9db9;
  outline: 0;
}
.item-etiqueta input{
  background: #fef9a7;
  border: 1px solid #ecc055;
}
.condicion .input-etiqueta{
  background: #fef9a7;
  border: 1px solid #ecc055;
}
.item-td{
  padding: 5px 5px;
}
.equipos{
  font-weight: bold;
}
.item-separator{
  height: 25px;
}
.item-separator-pd{
  padding: 10px 5px;
}
.logo-img{
  width: auto;
  height: 15px;
}
.torneo-img{
  width: auto;
  height: 25px;
}
/**/
table {
  max-width: 100%;
  background-color: transparent;
}
th {
  text-align: left;
}
.table {
  width: 100%;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  font-size: 12px;
  padding: 7px 10px;
  line-height: 1em;
  vertical-align: top;
  border-top: 1px solid #d8dfe7;
}
.table thead > tr > th,
.table tfoot > tr > th {
  font-size: 12px;
  vertical-align: bottom;
  border-right: 1px solid #d8dfe7;
  /*border: 2px solid #e0e4e8;*/
}
.table thead > tr > td,
.table tfoot > tr > td {
  font-size: 13px;
  /*border: 2px solid #e0e4e8;*/
}
.table thead > tr > td:last-child,
.table tbody > tr > th:last-child,
.table tbody > tr > td:last-child, 
.table thead > tr > th:last-child,
.table tfoot > tr > th:last-child,
.table tfoot > tr > td:last-child {
  border-right: 0;
  /*border: 2px solid #e0e4e8;*/
}
.table > tbody > tr:nth-child(odd) > td,
.table > tbody > tr:nth-child(odd) > th,
.table > tfoot > tr:nth-child(odd) > th {
  background-color: #fafbfc;
}
.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
}
.link{
  color: #4464cd;
  text-decoration: underline;
}
.link-red{
  color: #fd4444;
}
.link-blue{
  color: #4464cd;
}
.link-green{
  color: green;
}
.link-no-color{
  text-decoration: underline;
}
.table tbody + tbody {
  /*border-top: 2px solid #e0e4e8;*/
}
.table .table {
    background-color: #ffffff;
}
.table thead,
.table tfoot{
  color: #8c96ac;
  background-color: #f0f3f4;
}
.table tfoot > tr > td{
  font-weight: bold;
  color: #151e3f;
}
.table-modal {
  width: 100%;
}
.table-modal thead tr td{
  color: #d8dfe7;
  font-weight: bold;
  padding: 10px 10px;
}
.table-modal tbody tr td {
  vertical-align: top;
}
.table-modal tbody ul li{
  padding: 10px 0;
}
.small-table{
  table-layout: fixed;
}
.small-table thead > tr > td,
.small-table tbody > tr > td,
.small-table tfoot > tr > td {
  padding: 5px 5px;
}
.small-table thead > tr > th,
.small-table tbody > tr > th,
.small-table tfoot > tr > th {
  padding: 5px 10px;
}
.table-panel {
  border-bottom: 1px solid #c7d7e2;
}
.table-panel > thead > tr > th,
.table-panel > tbody > tr > th,
.table-panel > tfoot > tr > th,
.table-panel > thead > tr > td,
.table-panel > tbody > tr > td,
.table-panel > tfoot > tr > td {
  border-right: 1px solid #c7d7e2;
}
.table-panel > thead > tr > th,
.table-panel > tbody > tr > th{
  text-align: center;
}
.table-small-inputs tbody > tr > td{
  padding: 5px 5px;
  font-size: 11px;
  text-align: center;
}
.input-table-separator{
  padding: 2.5px 0px;
}
.input-table-separator-normal{
  padding: 6px 0px;
}
/**/
.alert .alert-body{
  border: 1px solid;
  padding: 10px;
}
.alert {
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable {
  padding-right: 35px;
}
.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #356635;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #2d6987;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}
.alert-warning hr {
  border-top-color: #f8e5be;
}
.alert-warning .alert-link {
  color: #a47e3c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-danger hr {
  border-top-color: #e6c1c7;
}
.alert-danger .alert-link {
  color: #953b39;
}
/**/
.panel{
  margin: 5px;
}
.panel .panel-head{
  display: table;
  -webkit-border-radius: 3px 3px 0px 0px;
     -moz-border-radius: 3px 3px 0px 0px;
          border-radius: 3px 3px 0px 0px;
  width: 100%;
}
.panel .panel-head p{
  font-size: 14px;
  line-height: 1.3em;
  padding: 10px;
}
.panel .panel-head a{
  margin: 10px;
}
.panel .panel-body{
  width: 99.98%;
}
.panel .panel-footer{
  -webkit-border-radius: 0px 0px 3px 3px;
     -moz-border-radius: 0px 0px 3px 3px;
          border-radius: 0px 0px 3px 3px;
  display: table;
  width: 100%;
}
.panel .panel-footer p{
  font-size: 13px;
  line-height: 1.3em;
  padding: 10px;
}
.panel-default .panel-head{
  background: #f0f3f4;
  border: 1px solid #d8dfe7;
  border-bottom: 2px solid #d8dfe7;
}
.panel-default .panel-head p{
  color: #8c96ac;
}
.panel-default .panel-body{
  background: #fff;
  border: 1px solid #d8dfe7;
  border-bottom: 0;
  border-top: 0;
}
.panel-default .panel-body p{
  color: #71747f;
  font-size: 13px;
  padding: 10px;
}
.panel-default .panel-footer{
  background: #fff;
  border: 1px solid #d8dfe7;
}
.panel-default .panel-footer p{
  color: #b2b8bf;
}
.panel-default .panel-head-border{
  border-top: 1px solid #d8dfe7;
}
.panel-default .panel-body-border{
  border-bottom: 1px solid #d8dfe7;
  -webkit-border-radius: 0px 0px 3px 3px;
     -moz-border-radius: 0px 0px 3px 3px;
          border-radius: 0px 0px 3px 3px;
}
.panel-default .panel-shadow{
  -webkit-box-shadow: 0px 1px 1px rgba(51,69,106,0.15);
     -moz-box-shadow: 0px 1px 1px rgba(51,69,106,0.15);
          box-shadow: 0px 1px 1px rgba(51,69,106,0.15);
}
.panel-minimal .panel-head{
  background: #fff;
  border: 1px solid #d8dfe7;
  border-bottom: 2px solid #d8dfe7;
}
.panel-minimal .panel-head .title{
  color: #8c96ac;
}
.panel-minimal .panel-body{
  background: #fff;
  border: 1px solid #d8dfe7;
  border-top: 0;
}
.panel-minimal .panel-body p{
  color: #71747f;
  font-size: 13px;
  padding: 10px;
}
.panel-minimal .panel-head-border{
  border-top: 1px solid #d8dfe7;
}
.panel-minimal .panel-body-border{
  border-bottom: 1px solid #d8dfe7;
  -webkit-border-radius: 0px 0px 3px 3px;
     -moz-border-radius: 0px 0px 3px 3px;
          border-radius: 0px 0px 3px 3px;
}
.panel-minimal .panel-shadow{
  -webkit-box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
     -moz-box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
          box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
}
.panel-minimal .panel-footer{
  background: #fff;
  border: 1px solid #d8dfe7;
}
.panel-minimal .panel-footer p{
  color: #b2b8bf;
}
.panel-inverted .panel-head{
  background: #8792a0;
  border: 1px solid #7c8693;
}
.panel-inverted .panel-head .title{
  color: #fff;
}
.panel-inverted .panel-body{
  background: #95a1b1;
  border: 1px solid #7c8693;
  border-top: 0;
}
.panel-inverted .panel-body .containert{
  color: #eee;
}
.panel-inverted .panel-shadow{
  -webkit-box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
     -moz-box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
          box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
}
/* Tabs */
.panel-default .tabs{
  
}
.panel-default .tabs .title{
  color: #95a1b1;
}
.panel-default .tabs .tab{
  background: #f0f3f4;
  border: 1px solid #e0e4e8;
}
.panel-default .tabs .tab p{
  color: #95a1b1;
}
.panel-default .tabs .tab_active{
  background: #fff;
  border: 1px solid #e0e4e8;
  border-bottom: 1px solid #fff;
}
/**/
.panel-minimal .panel-head{
  background: #fff;
  border: 1px solid #d8dfe7;
}
.panel-minimal .panel-head .title{
  color: #8c96ac;
}
.panel-minimal .panel-body{
  background: #fff;
  border: 1px solid #d8dfe7;
  border-top: 0;
}
.panel-minimal .panel-body p{
  color: #71747f;
  font-size: 13px;
  padding: 10px;
}
.panel-minimal .panel-shadow{
  -webkit-box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
     -moz-box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
        box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
}
.panel-inverted .panel-head{
  background: #8792a0;
  border: 1px solid #7c8693;
}
.panel-inverted .panel-head .title{
  color: #fff;
}
.panel-inverted .panel-body{
  background: #95a1b1;
  border: 1px solid #7c8693;
  border-top: 0;
}
.panel-inverted .panel-body .containert{
  color: #eee;
}
.panel-inverted .panel-shadow{
  -webkit-box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
     -moz-box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
        box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
}
.panel-filters .form input,.panel-filters .form select{
  width: 200px;
}
.panel-filters2 .form input,.panel-filters2 .form select{
  width: 150px;
}
/**/
.page-toolbar{
  width: 100%;
}
.page-toolbar .page-toolbar-body p{
  padding: 10px;
}
.page-toolbar .page-toolbar-body h1{
  font-weight: normal;
  line-height: 1em;
  padding: 10px 10px 5px 10px;
}
.page-toolbar .page-toolbar-body .subtitle{
  padding: 0px 10px 10px 10px;
}
.page-toolbar .page-toolbar-footer{
  display: table;
  width: 100%;
}
.page-toolbar .page-toolbar-footer p{
  font-size: 13px;
  line-height: 1.3em;
  padding: 10px;
}
.page-toolbar-shadow{
  -webkit-box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
     -moz-box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
          box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
}
.page-toolbar-default .page-toolbar-body{
  background: #fff;
  border-bottom: 1px solid #d8dfe7;
  padding: 0px 10px;
}
.page-toolbar-default .page-toolbar-border{
  border-bottom: 0px;
}
.page-toolbar-default .page-toolbar-footer{
  background: #fff;
  border-top: 1px solid #eef1f3;
  border-bottom: 1px solid #d8dfe7;
  padding: 0px 10px;
}
.page-toolbar-default .page-toolbar-footer p{
  color: #b2b8bf;
}
/**/
.breadcrumb{
  display: table;
}
.breadcrumb li{
  color: #8c96ac;
  display: inline-block;
  *display: inline;
  font-size: 12px;
  line-height: 1.3em;
  padding: 10px;
  vertical-align: top;
  zoom: 1;
}
.breadcrumb a{
  color: #f48b6f;
}
.breadcrumb a:hover{
  text-decoration: underline;
}
.breadcrumb i{
  position: relative;
  top: -1px;
}
.input-referencia-encuentro{
  padding: 2px 5px;
  font-size: 11px;
  line-height: 1.428571429;
  color: #71747f;
  background: #fafcd0;
  border: 1px solid #f5eaae;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  max-width: 80px;
}
/**/
.side{
  display: inline-block;
  *display: inline;
  vertical-align: top;
  zoom: 1;
}
.left{
  float: left;
}
.right{
  float: right;
}
/**/
.btn{
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  display: inline-block;
  padding: 5px 15px;
}
.btn i{
  font-size: 12px;
  top: -1px;
  position: relative;
}
.btn-large{
  padding: 10px 25px;
}
.btn-mini{
  padding: 2px 10px;
}
.btn-success{
  background: #57bc7f;
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
     -moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
          box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
  border: 1px solid #409f66;
  color: #fff;
  font-weight: bold;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.1);
}
.btn-success:hover{
  background: #54ab76;
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px -1px 0px rgba(255,255,255,0.1), inset 0px 1px 0px rgba(0,0,0,0.1);
     -moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px -1px 0px rgba(255,255,255,0.1), inset 0px 1px 0px rgba(0,0,0,0.1);
          box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px -1px 0px rgba(255,255,255,0.1), inset 0px 1px 0px rgba(0,0,0,0.1);
  color: #fff;
}
.btn-default{
  background: #eee;
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
     -moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
          box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
  border: 1px solid #c0c0c0;
  color: #606060;
  font-weight: normal;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
}
.btn-default:hover{
  background: #eee;
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px -1px 0px rgba(255,255,255,0.1), inset 0px 1px 0px rgba(0,0,0,0.1);
     -moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px -1px 0px rgba(255,255,255,0.1), inset 0px 1px 0px rgba(0,0,0,0.1);
          box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px -1px 0px rgba(255,255,255,0.1), inset 0px 1px 0px rgba(0,0,0,0.1);
  color: #606060;
}
.btn-danger{
  background: #df5f49;
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
     -moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
          box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
  border: 1px solid #c15340;
  color: #fff;
  font-weight: bold;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.1);
}
.btn-danger:hover{
  background: #df5f49;
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px -1px 0px rgba(255,255,255,0.1), inset 0px 1px 0px rgba(0,0,0,0.1);
     -moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px -1px 0px rgba(255,255,255,0.1), inset 0px 1px 0px rgba(0,0,0,0.1);
          box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px -1px 0px rgba(255,255,255,0.1), inset 0px 1px 0px rgba(0,0,0,0.1);
  color: #fff;
}
.btn-cancel{
  background: #df5f49;
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
     -moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
          box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
  border: 1px solid #c15340;
  color: #fff;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.1);
}
.btn-excel{
  font-size: 11px;
  background: #1f7246;
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
     -moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
          box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
  border: 1px solid #155031;
  color: #fff;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.1);
}
.btn-excel:hover{
  color: #fff;
}
.btn-pdf{
  font-size: 11px;
  background: #d24726;
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
     -moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
          box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
  border: 1px solid #ad3a1f;
  color: #fff;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.1);
}
.btn-pdf:hover{
  color: #fff;
}
.btn-dark{
  border: 1px solid #454b54;
}
.btn-icon{
  font-size: 11px;
  background: #57bc7f;
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
     -moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
          box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px 1px 0px rgba(255,255,255,0.1);
  border: 1px solid #409f66;
  color: #fff;
  font-weight: bold;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.1);
}
.btn-icon:hover{
  background: #54ab76;
  -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px -1px 0px rgba(255,255,255,0.1), inset 0px 1px 0px rgba(0,0,0,0.1);
     -moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px -1px 0px rgba(255,255,255,0.1), inset 0px 1px 0px rgba(0,0,0,0.1);
          box-shadow: 0px 1px 0px rgba(0,0,0,0.1), inset 0px -1px 0px rgba(255,255,255,0.1), inset 0px 1px 0px rgba(0,0,0,0.1);
  color: #fff;
}
.btn-input{
  background: #fff;
  border: 1px solid #d8dfe7;
  border-left: 0;
  line-height: 1.35em;
  display: inline-block;
  *display: inline;
  padding: 4px 10px;
  vertical-align: top;
  zoom: 1;
}
.btn-input i{
  color: #b4c7d6;
  font-size: 16px;
  position: relative;
  top: 1px;
}
.btn-input-right{
  -webkit-border-radius: 0px 2px 2px 0px;
     -moz-border-radius: 0px 2px 2px 0px;
          border-radius: 0px 2px 2px 0px;
}
/**/
.caret_right{
  border-top: 5px solid #6f986b;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.caret_down{
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
/**/
/* Custom */
header{
  display: table;
  width: 100%;
}
footer{
  font-weight: bold;
  padding: 10px 25px;
  width: 100%;
}
.header ul{
  display: table;
}
.header ul li{
  display: inline-block;
  *display: inline;
  vertical-align: top;
  zoom: 1;
}
.header ul li .menu_item{
  display: inline-block;
}
.header ul li .menu_item p{
  color: #b4c7d6;
  font-size: 14px;
  line-height: 1em;
  padding: 14px 10px;
}
.header ul li .menu_item:hover{
  background-color: #3a4351;
}
.header ul li .menu_item:hover p{
  color: #fff;
}
.header-user {
  position: relative;
}
.header-item {
  padding: 14px 10px;
  text-align: center;
}
.header-item .user {
  color: #b4c7d6;
  font-size: 14px;
  display: inline-block;
  line-height: 41px;
}
.header-item .caret_down {
  display: inline-block;
  line-height: 41px;
  margin-left: 10px;
  position: relative;
  top: -2px;
}
.header-item:hover {
  background-color: #3a4351;
}
.header-item:focus {
  outline: 0;
}
.header-dropdown {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0px 2px 1px rgba(0,0,0,0.05);
     -moz-box-shadow: 0px 2px 1px rgba(0,0,0,0.05);
          box-shadow: 0px 2px 1px rgba(0,0,0,0.05);
  border-radius: 5px;
  min-width: 250px;
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 2;
  display: none;
}
.header-dropdown ul {
  padding: 5px 0px;
}
.header-dropdown ul, .header-dropdown ul li {
  display: block;
}
.header-dropdown a {
  display: block;
  padding: 5px 20px;
}
.header-dropdown a:hover {
  background-color: #eee;
}
.header-dropdown a:focus {
  outline: 0;
}
.header-dropdown span{
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #c0c0c0;
  padding: 5px 20px;
}
.header-dropdown .text{
  color: #000;
  font-size: 12px;
  font-weight: bold;
}
.header_bg{
  background-image:url(../images/topbar-theme1.jpg);
  background-color: #303030;
  border-bottom: 1px solid #454b54;
}
.header_shadow{
  -webkit-box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
     -moz-box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
          box-shadow: 0px 2px 1px rgba(224,228,232,0.4);
}
.header .selected{
  background-color: #3a4351;
}
.sidebar_bg{
  background-color: #303030;
  border-right: 1px solid #181818;
}
/* MODALS */
.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  opacity: 0;
  display: none;
  width: 100%;
  z-index: 3;
}
.modal-container {
  height: 350px;
  width: 800px;
  position: relative;
  top: 50%;
  margin: auto;
}
.modal-content {
  padding: 20px;
  max-height: 450px;
  overflow-y: scroll;
  position: relative;
}
.modal-content h2 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 2em;
}
.modal-content table tbody a {
  color: #596c95;
  padding: 5px 10px;
  font-size: 12px;
}
.modal-content table tbody a:hover {
  text-decoration: underline;
}
.modal-content table tbody .active {
  color: #409a4d;
  border-radius: 5px;
  border: 1px solid #409a4d;
}
.modal-content table tbody .active:hover {
  text-decoration: none;
}
.modal-container .panel-head {
  position: relative;
  height: 35px;
  overflow: hidden;
}
.modal-close {
  position: absolute;
  top: 50%;
  margin-top: -11px;
  margin-right: 5px;
  right: 0;
}
.modal-close:hover {
  cursor: pointer;
}
.modal-close i {
  font-size: 16px;
}
.content{
  padding-left: 200px;
}
.sidebar{
  position: absolute;
  width: 200px;
  z-index: 2;
}
.page-sidebar ul, .page-sidebar li{
  margin: 0px;
  padding: 0px;
}
.page-sidebar .nav{
  height: 100%;
}
.page-sidebar .nav .nav_p{
  color: #fff;
  line-height: 1.33333333em;
  padding: 5px 10px;
}
.page-sidebar .nav a{
  background-color: #6080b5;
  border-bottom: 1px solid #181818;
  color: #333333;
  display: block;
  line-height: 1.33333333em;
  padding: 5px 10px;
}
.page-sidebar .nav_dropdown{
  display: none;
}
.page-sidebar .nav_dropdown a{
  background-color: #fff;
  border-bottom: 1px solid #e9ecf2;
  color: #a1aab3;
  display: block;
  line-height: 1.33333333em;
  padding: 5px 20px;
}
.page-sidebar .nav_dropdown a:hover{
  background-color: #f0f3f4;
}
.page-sidebar .nav_dropdown .active{
  background-color: #f0f3f4;
}
.menu{

}
.menu_title p{
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.2em;
  padding: 10px 10px;
}
.sidebar ul li .menu_item{
  background: #e3f7cc;
  border-bottom: 1px solid #beddb9;
  display: inline-block;
  float: left;
  width: 100%;
}
.sidebar ul li .menu_item p{
  color: #6f986b;
  line-height: 1em;
  padding: 10px 20px;
}
.sidebar ul li .menu_item span{
  color: #6f986b;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2em;
  padding: 6px 10px;
}
.sidebar ul li .menu_item .caret_right{
  margin: 13px 10px 0px 10px;
}
.sidebar ul li .menu_item i{
  font-size: 16px;
  top: -1px;
  position: relative;
}
.sidebar ul li .menu_item:hover{
  background-color: #d9ebc3;
}
.sidebar ul li .menu_item:hover span{
  color: #71747f;
}
.sidebar ul li .menu_item_activate{
  background-color: #eff2f4;
}
.sidebar ul li .menu_item_activate span{
  color: #71747f;
}
.sidebar ul li .menu_item_small{
  background: #fff;
  border-bottom: 1px solid #d8dfe7;
}
.sidebar ul li .menu_item_small p{
  color: #98a3af;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5em;
  padding: 5px 20px;
}
.sidebar ul li .menu_item_small span{
  color: #98a3af;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5em;
  padding: 5px 20px;
}
.sidebar ul li .menu_item_small .caret_right{
  margin: 10px 10px 0px 10px;
}
.sidebar ul li .menu_item_small i{
  font-size: 14px;
  top: -1px;
  position: relative;
}
.sidebar ul li .menu_item_small:hover{
  background-color: #fbfbfb;
}
.sidebar ul li .menu_item_small:hover p{
  color: #71747f;
}
.sidebar ul li .menu_item_small:hover span{
  color: #71747f;
}
.sidebar ul li .menu_item_small_activate{
  background-color: #fbfbfb;
}
.sidebar ul li .menu_item_small_activate p{
  color: #71747f;
}
.sidebar .dropdown{
  display: none;
  float: left;
  width: 100%;
}
.sidebar .dropdown li{
  display: inline-block;
  float: left;
  position: relative;
  width: 100%;
}
.sidebar .dropdown a{
  background: #fff;
}
.sidebar .dropdown-side{
  background-color: #fbfbfb;
  border: 1px solid #d8dfe7;
  border-left: 0;
  -webkit-border-radius: 0px 2px 2px 0px;
     -moz-border-radius: 0px 2px 2px 0px;
          border-radius: 0px 2px 2px 0px;
  display: none;
  left: 100%;
  margin-left: 1px;
  width: 200px;
  padding: 5px 0px;
  position: absolute;
  top: -6px;
  z-index:5;
}
.sidebar .dropdown-side .menu_item{
  background-color: #fbfbfb;
  border-bottom: 0;
  display: inline-block;
  margin-bottom: 1px;
  float: left;
  width: 100%;
}
.sidebar .dropdown-side .menu_item p{
  color: #98a3af;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5em;
  padding: 5px 10px;
}
.sidebar .dropdown-side .menu_item:hover{
  background-color: #6cbb80;
  color: #fff;
}
.sidebar .dropdown-side .menu_item:hover p{
  color: #fff;
}
.sidebar .dropdown-side .menu_item i{
  font-size: 14px;
  top: 1px;
  position: relative;
}
/**/

/**/
.alerts{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  width: 600px;
  z-index: 2;
}
.alerts .alert{
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  display: table;
  position: relative;
  width: 100%;
}
.alerts .alert p{
  font-size: 13px;
  padding: 10px 30px 10px 10px;
}
.alerts .alert p span{
  padding: 0px 10px;
}
.alerts .alert .close{
  cursor: pointer;
  position: absolute;
  margin: 10px;
  right: 0;
}
.alerts .alert_info{
  background: #b1cde8;
  border: 1px solid #8aafd2;
  -webkit-box-shadow: 0px 1px 1px rgba(138,175,201,0.5), inset 0px 1px 0px rgba(255,255,255,0.15);
     -moz-box-shadow: 0px 1px 1px rgba(138,175,201,0.5), inset 0px 1px 0px rgba(255,255,255,0.15);
          box-shadow: 0px 1px 1px rgba(138,175,201,0.5), inset 0px 1px 0px rgba(255,255,255,0.15);
}
.alerts .alert_info p{
  color: #63759a;
}
.alerts .alert_info .close{
  color: #63759a;
}
.alerts .alert_danger{
  background: #e8b1b1;
  border: 1px solid #d28a8a;
  -webkit-box-shadow: 0px 1px 1px rgba(138,175,201,0.5), inset 0px 1px 0px rgba(255,255,255,0.15);
     -moz-box-shadow: 0px 1px 1px rgba(138,175,201,0.5), inset 0px 1px 0px rgba(255,255,255,0.15);
          box-shadow: 0px 1px 1px rgba(138,175,201,0.5), inset 0px 1px 0px rgba(255,255,255,0.15);
}
.alerts .alert_danger p{
  color: #9a6363;
}
.alerts .alert_danger .close{
  color: #9a6363;
}
.alerts .alert_success{
  background: #c1e8b1;
  border: 1px solid #9ed28a;
  -webkit-box-shadow: 0px 1px 1px rgba(138,175,201,0.5), inset 0px 1px 0px rgba(255,255,255,0.15);
     -moz-box-shadow: 0px 1px 1px rgba(138,175,201,0.5), inset 0px 1px 0px rgba(255,255,255,0.15);
          box-shadow: 0px 1px 1px rgba(138,175,201,0.5), inset 0px 1px 0px rgba(255,255,255,0.15);
}
.alerts .alert_success p{
  color: #749a63;
}
.alerts .alert_success .close{
  color: #749a63;
}
/**/

/*Cosas de asignar logros*/
.encuentro ul,li,p{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.encuentro ul{
  display: table;
}
.encuentro ul li {
  display: inline-block;
  vertical-align: top;

}


.left{
  float: left;
}
.right{
  float: right;
}

input[type="number"]{
  height: 30px;
  width: 150px;
}

.encuentro .head2{
       background-color: #e3e3e3;
       -webkit-border-radius: 3px 3px 0px 0px;
            -moz-border-radius: 3px 3px 0px 0px;
                         border-radius: 3px 3px 0px 0px;
         border-bottom: 1px solid #4f8d51;
         text-shadow: 0px 1px 0px rgba(255,255,255,0.8);
       padding: 20px;
}
.encuentro .head2 .title{
       font-size: 16px;
       font-weight: bold;
}
.encuentro .head2 ul{
       width: 100%;
}
.encuentro .head2 .time{
       padding: 0px 0px 0px 10px;
}
.encuentro .head2 .fecha_enc{
       display: block;
       margin: 2px 0px 0px 0px;
}
.encuentro .head2 a{
       color: #838383;
}

.content-listas .table2{
  background-color: #76b464;
  border-bottom: 1px solid #4f8d51;
  width: 100%;
}
.content-listas .table2 .time{
  padding: 0px 10px 0px 0px;
}
.content-listas .table2 ul{
  width: 100%;
}
.content-listas .table2 a{
  color: #c7f698;
  display: block;
  padding: 5px 20px;
  text-shadow: 0px 1px 0px #5ea158;
}
.content-listas .table2 .table-margin{
  color: #c7f698;
  padding: 5px 20px;
  text-shadow: 0px 1px 0px #5ea158;
}
.content-listas .table2:hover{
  background-color: #ccf3ac;
}
.content-listas .table2:hover a{
  color: #4f8d51;
}
.content-listas .table2:hover .title{
  color: #4f8d51;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.15);
}
.content-listas .table2:hover a{
  text-shadow: 0px 1px 0px rgba(255,255,255,0.15);
}
.content-listas .table2 .title{
  color: #fff;
  font-weight: bold;
  font-size: 13px;
}
.content-listas .no-link{
  background-color: #76b464;
  border-bottom: 1px solid #4f8d51;
  width: 100%;
}
.content-listas .no-link .time{
  padding: 0px 10px 0px 0px;
}
.content-listas .no-link ul{
  width: 100%;
}
.content-listas .no-link .padd{
  color: #c7f698;
  padding: 5px 20px;
  text-shadow: 0px 1px 0px #5ea158;
}
.content-listas .no-link .table-margin{
  color: #c7f698;
  padding: 5px 20px;
  text-shadow: 0px 1px 0px #5ea158;
}
.content-listas .no-link:hover{
  background-color: #ccf3ac;
}
.content-listas .no-link:hover .title{
  color: #4f8d51;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.15);
}
.content-listas .no-link .title{
  color: #fff;
  font-weight: bold;
  font-size: 13px;
}
.content-listas .celd{
  background-color: #fff;
}
.content-listas .celd ul{
  width: 100%;
}
.content-listas .celd-margin{
  padding: 5px 0px;
}
.content-listas .celd-padd{
  padding: 0px 10px;
}
.content-listas .celd .border{
  border-right: 1px solid #e0e0e0;
  height: 40px;
}
.content-listas .celd ul .li-celd{
  height: 40px;
  border-bottom: 1px solid #e0e0e0;
  width: 33.33%;
}
.content-listas .celd .li-celd:hover{
  background-color: #eee;
  cursor: pointer;
}
.content-listas .celd .li-celd:hover .cuota2{
  background-color: #76b464;
  color: #fbfbfb;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.1);
}
.content-listas .celd .selected{
  background-color: #76b464;
  color: #fbfbfb;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.1);
}


.logros-agregar{
  display: none;
}

.invisible{
  display: none; 
}
.invisible2{
  display: none; 
}
.select_status_logro{
  margin: 0px 0px;
    min-width: 20px;
    width: 100px;
}

.columnas{
  display: inline-block;
  width: 14%;
}

.columnas input{
  min-width: 120px;
  max-width: 120px;
}

.columnas select{
  min-width: 120px;
  max-width: 120px;
}
.border_chosen { 
  -webkit-box-shadow: 0px 1px 2px rgba(88,121,188,0.73);
     -moz-box-shadow: 0px 1px 2px rgba(88,121,188,0.73);
          box-shadow: 0px 1px 2px rgba(88,121,188,0.73);
}
/**/
.input-resultado{
  padding: 2px 5px;
  font-size: 11px;
  line-height: 1.428571429;
  color: #71747f;
  background: #fff;
  border: 1px solid #b4c5d9;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 80px;
}
.table-logros{
  font-size: 11px;
  line-height: 1em;
  
  margin-left:auto;
  margin-right:auto;
}

.table-logros .input-etiqueta{
  padding: 2px 5px;
  font-size: 11px;
  line-height: 1.428571429;
  color: #71747f;
  background: #d1e0f2;
  border: 1px solid #b4c5d9;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 40px;
}
.table-logros .input-etiqueta:focus {
  border: 1px solid #7d9db9;
  outline: 0;
}

.table-logros .input-logro{
  padding: 2px 5px;
  font-size: 11px;
  line-height: 1.428571429;
  color: #71747f;
  background: #fbfbfb;
  border: 1px solid #d8dfe7;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 45px;
}
.table-logros .input-logro-error{
  padding: 2px 5px;
  font-size: 11px;
  line-height: 1.428571429;
  color: #71747f;
  background: #E59999;
  border: 1px solid #d8dfe7;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  width: 45px;
}
.table-logros .input-logro:focus {
  border: 1px solid #7d9db9;
  outline: 0;
}

.table-logros td{
  vertical-align: top;
  padding: 7px;
}

.table-logros td .table-item-1 th{
  height: 100px;  
  text-align: center;
  border: 1px solid #e0e4e8;
}

.table-logros td .table-item-1 td{
  height: 50px;  
  border: 1px solid #e0e4e8;
}

.table-logros td .table-item-2 th{
  height: 45px;  
  text-align: center;
  border-top: 1px solid #e0e4e8;
  border-right: 1px solid #e0e4e8;
  border-left: 1px solid #e0e4e8;
}

.table-logros td .table-item-2 td{
  height: 50px;  
  border: 1px solid #e0e4e8;
}

.caja{
  padding: 7px
}
@media print {
    * {
        color: #000000;
        font-size: 11px;
    }
    table{
      border-color: #000000;
      font-size: 11px;
    }
    .header{
      display: none;
    }
    .sidebar{
      display: none;
    }
    .content{
      padding-left: 0px;
    }
}


/* MESSAGES & ERRORS */

ul.messagelist {
    padding: 0 0 5px 0;
    margin: 0;
}

ul.messagelist li {
    font-size: 12px;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #ffc url(img/icon_success.gif) 5px .3em no-repeat;
}

ul.messagelist li.warning{
    background-image: url(img/icon_alert.gif);
}

ul.messagelist li.error{
    background-image: url(img/icon_error.gif);
}
