{% extends 'base.html' %}

{% load i18n %}
{% load url from future %}

{% block content %}
              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-swap"></i> Movimientos</h1>
                            {% include 'admin_finanzas/diatrabajo/dia_view.html' %}
                            <p class="subtitle">
                                {% trans "¿Está seguro que desea eliminar?" %}
                            </p>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li>

                                <a href="{% url object.get_url_tipo %}"><i class="icon-swap"></i> {{ object.tipo }}</a>

                                </li>
                                <li>
                                  <i class="icon-trash"></i>Eliminar
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">
                    {% include 'admin_finanzas/movimiento/object_table_detail.html' %}
                    <div class="col-xs-12">
                      <div class="panel panel-default">
                          <div class="panel-body panel-body-border panel-head-border panel-shadow">

                            {% if info_user.comercializadora.get_dia_trabajo.dia = object.dia %}

                            <form action='{% url 'admin_finanzas_movimiento_delete' pk=object.pk %}' charset='utf-8' method='post' class="form-margin">
                                {% csrf_token %}
                                    <button class='btn btn-danger' type='submit' value="_delete" name="_delete">
                                      {% trans "Eliminar" %}
                                    </button>
                            </form>

                            {% else %}

                                    <div class="form-margin">
                                    <div class="row form form-group">
                                      <div class="col-xs-3">
                                      </div>
                                      <div class="col-xs-6">
                                          <div class="alert alert-info">No es posible elimiar el {{ object.tipo }}, si no fue registrado en el dia de trabajo actual</div>
                                      </div>
                                      <div class="col-xs-3">
                                      </div>
                                    </div>
                                    </div>
                             
                            {% endif %}

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
{% endblock %}