{% extends 'base.html' %}

{% block content %}
              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-trending-neutral"></i> Saldos iniciales</h1>
                            {% include 'admin_finanzas/diatrabajo/dia_view.html' %}
                            <p class="subtitle">Lista</p>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><i class="icon-trending-neutral"></i> Saldos iniciales</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">
                      {% include 'admin_finanzas/saldoinicial/object_table_list.html' %}
                      {% include 'admin_finanzas/saldoinicial/pagination.html' %}
                  </div>
                </div>
            </div>
{% endblock %}
