{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block content %}
<style type="text/css">
    .isa-info {
    background-color: #BDE5F8;
}
</style>

<div class="row">
  <div class="col-xs-12">
     <div class="page-toolbar page-toolbar-default">
          <div class="page-toolbar-body page-toolbar-border">
              <h1><i class="icon-tune"></i> Permisos ventas (Restricciones)</h1>
              <p class="subtitle">
                  Editar
              </p>
          </div>
          <div class="page-toolbar-footer page-toolbar-shadow">
              <ul class="breadcrumb">
                  <li>
                    <a href="/">
                      <i class="icon-home"></i> Inicio
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="icon-tune"></i> Permisos ventas (Restricciones)
                    </a>
                  </li>
                  <li>
                    <i class="icon-pencil-1"></i> Editar
                  </li>
              </ul>
          </div>
      </div>
  </div>
  
  
                
  <div class="container">
    <div class="container-margin">
      <form id="form_permisos" action='' method='post' encoding='utf-8'>{% csrf_token %}
        <div class="col-xs-12">
         <div class="isa-info">
          
          <p><i class="icon-info"></i>Este módulo configura las restricciones de venta por modalidad y deporte.</p>
          <p><i class="icon-info"></i>Debe seleccionar un deporte para configurar sus restricciones.</p>
          <p><i class="icon-info"></i>La tabla que se muestra representa las modalidades del deporte.</p>
          <p><i class="icon-info"></i>Las opciones deshabilitadas no son configurables, son restringidas por el administrador.</p>
          <p><i class="icon-info"></i>Las opciones habilitadas son configurables, al seleccionarla se está restringiendo la combinación en la apuesta de la modalidad de la fila con la modalidad de la columna.
          </p>
        </div>
          <div class="panel panel-default">
            <div class="panel-body panel-head-border">
              <div class="form-margin">

                {% for item in form %}
                  <div class="row form form-group">
                    <div class="col-xs-3">
                      <div class="form-label">{{ item.label }}</div>
                    </div>
                    <div class="col-xs-6">
                      {{ item }}
                    </div>
                    <div class="col-xs-3">
                      {%  if item.errors %}   
                        <div class="alert alert-warning">{{ item.errors }}</div>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
                <table id='table_restrictions' class="table table-striped table-small table-hover">
                </table>
                
            </div>
          </div>
          <div class="panel-footer panel-shadow">
              <div class="col-xs-3">
                <p>
                <button class='btn btn-large btn-success' type='submit'>
                  Editar
                </button>
                </p>
              </div>
          </div>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>

<div id="add_table">
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">

  function CheckClick(id){
    console.log(id);
    ids = id.split('_');
    input = $("#"+id).prop("checked");
    $("#"+ids[1]+"_"+ids[0]).prop("checked",input);  
  }

  $("#id_deporte").change(function() {    
    consult_table($(this).val());
  });

  function consult_table(id){
    dajax(
      {"deporte": id,"comercializadora": "{{comercializadora.id}}"},
      '{% url "admin_comercializacion_permisos_ventas_restrictions_ajax" %}'
    );
  }

  //Consulta ajax
  function dajax(data, url){
  $.ajax({
      data : data,
      url : url,
      type : 'get',
      success : function(get_data){
        process_data(get_data);
      },
      error : function(xhr,errmsg,err) {
        console.log("#================ERROR=====================");
        console.log( xhr );
        console.log( errmsg );
        console.log( err );
        console.log("#==========================================");
      }
    });
  }

  function process_data(data){
    $('#table_restrictions').empty()
    html = ''
    html += '<caption><h2>{{comercializadora}}</h2></caption>'
    html += '<body>'
    $.each(data['tabla'], function( index, array_objects ) {
      html += '<tr>'
      $.each(array_objects, function( index, obj ) {
        if (obj['type'] == 'text'){
          html += '<td width="8%"><strong>'+obj['label']+'</strong></td>'
        }else{
          if (obj['type'] == 'check'){
            html += '<td>'
            html += '<input id="'+obj['id']+'" class="check-modalidad" onclick="CheckClick(this.id)" type="checkbox" name="'+obj['name']+'" value="'+obj['value']+'" '

            if (obj['check']){
              html += 'checked '
            }

            if (obj['disabled']){
              html += 'disabled="disabled"'
            }

            html += '>'
            html += '</td>'
            
          }else{
            if (obj['type'] == 'none'){
               html += '<td>X</td>'
            }
          }
        }
      });
      html += '</tr>'
    });
    html += '</body>'


    html = $.parseHTML( html );
    $('#table_restrictions').append(html);
    
  }

</script>
{% endblock %}

<!--
                <table class="table table-striped table-small table-hover">
                  <caption><h2>{{comercializadora}}</h2></caption>
                  <body>
                    {% for array in tabla %}
                      <tr>
                        {% for item in array %}
                          {% if item.type == 'text' %}
                            <td width="8%"><strong>{{item.label}}</strong></td>
                          {% else %}
                            {% if item.type == 'check' %}
                              <td><input id='{{item.id}}' class='check-modalidad' type="checkbox" name="{{item.name}}" value="{{item.value}}" {%if item.check%}checked{%endif%} {%if item.disabled%}disabled="disabled"{%endif%}></td>
                            {% else %}
                              {% if item.type == 'none' %}
                                <td>X</td>
                              {% endif %}
                            {% endif %}
                          {% endif %}

                        {% endfor %}
                      </tr>
                    {% endfor %}
                   
                  </body>
                </table>
                -->