{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block content %}
              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-star"></i> Logros</h1>
                            <p class="subtitle">Cargar</p>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                            <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><a href="{% url 'admin_logros_encuentros_list_edit' %}"><i class="icon-star"></i> Logros</a></li>
                                <li>Asignar</li>
                            </ul>
                        </div>
                    </div>
                </div>

{% if rangos_grupo %}
  {% for rango in rangos_grupo %}
    <input type="hidden" id="id_grupo_{{rango.grupo}}_favorito" name="grupo_{{rango.grupo}}_favorito" value="{{rango.logro_favorito}}" class = "grup">
     <input type="hidden" id="id_grupo_{{rango.grupo}}_nofavorito" name="grupo_{{rango.grupo}}_nofavorito" value="{{rango.logro_no_favorito}}" class = "grup">
  {% endfor %}
{% endif %}

{% if rangos_modalidad %}
  {% for rango in rangos_modalidad %}
    <input type="hidden" id="id_{{rango.deporte}}_{{rango.grupo}}_{{rango.modalidad}}" name="{{rango.deporte}}_{{rango.grupo}}_{{rango.modalidad}}" value="{{rango.min}}-{{rango.max}}" class = "grupo-modalidad-deporte">
  {% endfor %}
{% endif %}

{% if rangos_condicion %}
  {% for rango in rangos_condicion %}
    <input type="hidden" id="id_condicion_{{rango.deporte}}_{{rango.grupo}}_{{rango.modalidad}}" name="{{rango.deporte}}_{{rango.grupo}}_{{rango.modalidad}}" value="{{rango.min}}-{{rango.max}}" class = "grupo-condicion-deporte">
  {% endfor %}
{% endif %}

                <div class="container">
                  <div class="container-margin">
                    {% include 'admin_logros/jugadas/encuentro_detail.html' %}
                  </div>
                </div>

                <form id="form_encuentro_logros" action='' method='post' encoding='utf-8'>{% csrf_token %}
                <div class="container">
                  <div class="container-margin">
                    <div class="col-xs-12">
                      <div class="panel panel-minimal">
                        <div class="panel-head">
                          
                          <p class="left">Carga de logros</p>
                          {% if form.runline_loose %}
                            <p class="right">
                              {{form.runline_loose.label}}: {{form.runline_loose}}  
                            </p>
                          {% endif %}
                        </div>
                        <div class="panel-body">
                            <table class="table table-panel table-logros table-striped table-small-inputs">
                              <thead>
                                  <th>
                                    {% if object.jornada.temporadas.torneo.logo %}
                                    <img src="/media/{{object.jornada.temporadas.torneo.logo}}" class="torneo-img"/>
                                    {% endif %}
                                  </th>

                                  {% for grupo in grupos %}
                                    <th colspan="{{ grupo.modalidades|length }}">
                                      {{ grupo.grupo }}
                                    </th>
                                  {% endfor %}
                                </thead>
                                <tbody>
                                  <tr>
                                      <td>
                                      </td>
                                      {% for grupo in grupos %}
                                        {% for modalidad in grupo.modalidades %}

                                          <th>
                                            {{ modalidad.nombre }}
                                          </th>

                                        {% endfor %}
                                      {% endfor %}
                                  </tr>
                                  {% for position in cicle_position %}
                                    {% if position == 2 and cicle_position|length == 3 %}
                                      <tr>
                                        <td></td>
                                        {% for grupo in grupos %}
                                          {% for modalidad in grupo.modalidades %}
                                            <td>{{ modalidad.ref }}</td>
                                          {% endfor %}
                                        {% endfor %}
                                      </tr>
                                    {% else %}
                                      <tr>
                                        {% for equipo in equipos %}

                                          {% ifequal position equipo.position %}
                                            <td>
                                              {% if equipo.logo %}
                                                <img src="/media/{{equipo.logo}}" class="logo-img"/>
                                              {% endif %} {{equipo.nombre}}
                                            </td>
                                          {% endifequal %}

                                        {% endfor %}

                                        {% for grupo in grupos %}

                                              {% for modalidad in grupo.modalidades %}
                                                {% for jugada in modalidad.jugadas %}

                                                  {% ifequal position jugada.position %}
                                                  <td>

                                                    {% if jugada.extra %}
                                                        {% for item in jugada.jugada %}
                                                           <div class="input-table-separator">{{ item.label }} {{ item }}</div>
                                                        {% endfor %}
                                                    {% else %}
                                                        {{ jugada.jugada.label }} {{ jugada.ref }} {{ jugada.jugada }}
                                                    {% endif %}

                                                    {%  if jugada.errors %}
                                                    adasdas
                                                      <div class="alert alert-warning">
                                                        {{ jugada.errors }}
                                                      </div>
                                                    {% endif %}

                                                  </td>
                                                  {% endifequal %}
                                                {% endfor %}

                                              {% endfor %}
                                        {% endfor %}
                                    </tr>
                                    {% endif %}
                                  {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer panel-shadow">
                          <div class="row form-margin">
                            <div class="row form form-group">
                              <div class="col-xs-6">
                                <div class="alert alert-info">
                                  Si no desea registrar algunos logros o desea eliminar uno en particular para el encuentros, ingrese un "0" en la casilla correspondiente.
                                </div>
                              </div>
                              <div class="col-xs-6">
                                <button class='btn btn-large btn-success right' type='submit' value="_save" name="_save" onclick="verificar()">Guardar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% for data_list in modalidades_data_list %}
                      <datalist id="{{data_list.name}}">
                        {% for item in data_list.data %}
                           <option value="{{item.ref_principal}}">
                        {% endfor %}
                      </datalist>
                {% endfor %}
              </form>
            </div>
{% endblock %}


{% block js %}
<script>

$("#form_encuentro_logros :input[name^='ref_logro']").change(function(){
  id = this.id;
  clase = this.className;
  clase = clase.split(" ");
  valor_externo = this.value
  if (clase[0].search("equipo-")>=0){
    clase = clase[0].split("-");
  }else{
    if (clase[1].search("equipo-")>=0){
      clase = clase[1].split("-");
    }else{
      clase = clase[2].split("-");
    }
  }
  
  valext = this.id.split("_");
  $('.equipo-'+clase[1]).each(function(){
    valint = this.id.split("_");
    if (valext[4]==valint[4]){
      $(this).prop("checked", true); 
    }else{
      $(this).prop("checked", false); 
    }
  });

  clase = this.className
  clase = clase.split(" ");
  valor = this.value
  if (clase[0].search("condicion-validate")>=0){
    clase = clase[0];
  }else{
    if (clase[1].search("condicion-validate")>=0){
    clase = clase[1];
    }else{
      clase = clase[2];
    }
  }

  $('.'+clase).each(function(){
    valint = this.id.split("_");
    if (valext[4]!=valint[4] && valext[3] != valint[3]){
      $(this).prop("checked", true);
      clase = $(this).prop("class");
      clase = clase.split(" ");
      valor_externo = this.value
      if (clase[0].search("equipo-")>=0){
        clase = clase[0].split("-");
      }else{
        if (clase[1].search("equipo-")>=0){
          clase = clase[1].split("-");
        }else{
          clase = clase[2].split("-");
        }
      }
       valexte = this.id.split("_");
        $('.equipo-'+clase[1]).each(function(){
          valinte = this.id.split("_");
          if (valexte[4]==valinte[4]){
            $(this).prop("checked", true); 
          }else{
            $(this).prop("checked", false); 
          }
        });
    }
  });

});





function verificar () {
  $('.grup').each(function(){
    var res = $(this).attr('id').split("_");
    var value = $(this).val().replace(".", "");
    $(".grupo-validate-"+res[2]).each(function(){
      if ($(this).val() > 0){
        if (($(this).val() < 100 || $(this).val() > parseInt(value)) && res[3]=='nofavorito'){
          $(this).removeClass("input-logro");
          $(this).addClass("input-logro-error");
        }
      }
      else{
        if($(this).val() < 0){
          if (($(this).val() > -100 || $(this).val() < parseInt(value)) && res[3]=='favorito'){
            $(this).removeClass("input-logro");
            $(this).addClass("input-logro-error");
          }
        }
      }
    })
  });
}


function validar_grupo (logro,grupo) {
  valor = logro.value;
  id =logro.id;
  var error = 0;
  if (valor % 1 != 0) {
     error = 1;
  }
  $('.grup').each(function(){
    var res = $(this).attr('id').split("_");
    var rango = $(this).val().replace(".", "");
    if (valor > 0){
        if ((valor < 100 || valor > parseInt(rango)) && res[3]=='nofavorito' && grupo == res[2]){
            error = 1;
          }
        }
        else{
          if(valor < 0){
            if ((valor > -100 || valor < parseInt(rango)) && res[3]=='favorito' && grupo == res[2]){
              error = 1;
            }
          }
        }
    if (error==0){
      $("#"+id).removeClass("input-logro-error");
      $("#"+id).addClass("input-logro");
    }else{
      $("#"+id).removeClass("input-logro");
      $("#"+id).addClass("input-logro-error");
    }
  });
}

function validar_modalidad (modalidad) {
  valor = modalidad.value;
  id = modalidad.id;
  
  if(event.which == 190 || event.which == 110){
    valor = valor.replace(".",",")
    $("#"+id).val(valor);
  }
  
  clase = modalidad.className
  clase = clase.split(" ");

  if (clase[0].search("modalidad-validate")>=0){
    clase = clase[0].split("-");
  }else{
    clase = clase[1].split("-");
  }

  var error = 0;
  if(!/^([0-9])*[,]?[0-9]*$/.test(valor)){
    error=1;
  }

  var rango = $("#id_"+clase[2]+"_"+clase[3]+"_"+clase[4]).val().split("-");
  min = parseFloat(rango[0].replace(",","."))
  max = parseFloat(rango[1].replace(",","."))
  valor = parseFloat(valor.replace(",","."))
  if ((valor > max || valor < min) && valor!=0){
    error = 1;
  }
  if (error == 0){
    $("#"+id).removeClass("input-etiqueta-error");
    $("#"+id).addClass("input-etiqueta");
  }else{
    $("#"+id).removeClass("input-etiqueta");
    $("#"+id).addClass("input-etiqueta-error");
  }
}

function validar_condicion (condicion) {
  valor = condicion.value;
  id = condicion.id;

  if(event.which == 190 || event.which == 110){
    valor = valor.replace(".",",")
    $("#"+id).val(valor);
  }

  clase = condicion.className
  clase = clase.split(" ");

  if (clase[0].search("condicion-validate")>=0){
    clase = clase[0].split("-");
  }else{
    if (clase[1].search("condicion-validate")>=0){
    clase = clase[1].split("-");
    }else{
      clase = clase[2].split("-");
    }
  }

  var error = 0;
  if(!/^[+-]?([0-9])*[,]?[0-9]*$/.test(valor)){
    error=1;
  }

  var rango = $("#id_condicion_"+clase[2]+"_"+clase[3]+"_"+clase[4]).val().split("-");
  min = parseFloat(rango[0].replace(",","."))
  max = parseFloat(rango[1].replace(",","."))
  valor = parseFloat(valor.replace(",","."))
  if (valor > 0){
    if (valor > max || valor < min){
      error = 1;
    }
  }else{
    if (valor < 0){
      max = (max*-1);
      min = (min*-1);
      if (valor < max || valor > min){
        error = 1;
      }
    }
  }

  if (error == 0){
    $("#"+id).removeClass("input-etiqueta-error");
    $("#"+id).addClass("input-etiqueta");
  }else{
    $("#"+id).removeClass("input-etiqueta");
    $("#"+id).addClass("input-etiqueta-error");
  }
}

function remove_error (field){
    $("#form_encuentro_logros :input[name^='ref_logro']").each(function(){
      $("#"+this.id).removeClass("input-etiqueta-error");
      $("#"+this.id).addClass("input-etiqueta");
    });

    $("#form_encuentro_logros :input[name^='ref_encuentromodalidad']").each(function(){
      $("#"+this.id).removeClass("input-etiqueta-error");
      $("#"+this.id).addClass("input-etiqueta");
    });
}


$( "#form_encuentro_logros" ).submit(function( event ) {
  var error = 0;
  var radio = 0;
  error = validar_modalidades_diferentes_cero();
    if (error==0){
      $( "[type=radio]" ).each(function(){
        radio=1;
      });

      if (radio == 0){
        validar_condiciones_signo_equipo();
        validar_condiciones_diferentes_cero();
      }
    }
 
  if (radio == 0){
    error = validar_inputs_error();
    if (error == 0){
      error = validar_referencias_signo_valor();
      if (error==0){
        error = validar_modalidades_diferentes_cero();
        if (error==0){
         error = validar_condiciones_diferentes_cero();
          if (error==0){
            error = validar_condiciones_signo_equipo();
            if (error==0){
              error = validar_condiciones_logro_referencias_nopositivo();
               if (error!=0){
                alert("¡Error en la referencias condiciones! Verificar que el logro y la referencia no sean positivos");
                return false
               }
            }else{
              alert("¡Error en la referencias condiciones! Verificar que sean de igual signo por equipo");
              return false
            }
          }else{
            alert("¡Error en la referencias condiciones! Verificar que sean diferentes de 0 si cargo algun logro");
            return false
          }
        }else{
          alert("¡Error en la referencias modalidades! Verificar que sean diferentes de 0 si cargo algun logro");
          return false
        }
      }else{
        alert("¡Error en la referencias condiciones! Verificar que sean igual y diferentes signos");
        return false
      }
    }else{
      alert("¡Error! Revisar el formato o rango en el(los) campo(s) rojo(s)")
      return false
    }
  }else{
    if (error==0){
      error = validar_condiciones_logro_referencias_nopositivo_radio();
       if (error!=0){
        alert("¡Error en la referencias condiciones! Verificar que el logro y la referencia no sean positivos");
        return false
       }
    }
  }
});

  function validar_inputs_error(){
    error = 0
    $('.input-logro-error').each(function(){
      error = 1;
    });

    $('.input-etiqueta-error').each(function(){
      error = 1;
    });
    return error
  }

  function validar_referencias_signo_valor(){
    error = 0
    $('.grupo-condicion-deporte').each(function(){
      id = this.id;
      ids = String(id).split("_");
      var primero = "0";
      var segundo = "0";
      $('.condicion-validate-'+ids[2]+'-'+ids[3]+'-'+ids[4]).each(function(i, element){
        if (i==0){
          primero = this.value;
        }else{
          segundo = this.value;
        }
      });
      primero = parseFloat(primero.replace(",","."));
      segundo = parseFloat(segundo.replace(",","."));
      if (primero != (segundo*-1)){
        $('.condicion-validate-'+ids[2]+'-'+ids[3]+'-'+ids[4]).removeClass("input-etiqueta");
        $('.condicion-validate-'+ids[2]+'-'+ids[3]+'-'+ids[4]).addClass("input-etiqueta-error");
        error = 2;
      }
    });
    return error
  }

  function validar_modalidades_diferentes_cero(){
    error = 0
    $("#form_encuentro_logros :input[name^='ref_encuentromodalidad']").each(function(){
      id = this.id;
      clase = this.className
      clase = clase.split(" ");
      valor = this.value
      if (clase[0].search("modalidad-validate")>=0){
        clase = clase[0].split("-");
      }else{
        clase = clase[1].split("-");
      }
      error_interno = 0
      $('.grupo-validate-'+clase[3]+'-'+clase[4]).each(function(){
        if (valor == 0 && this.value != 0){
          error_interno = 1
          error = 3
        }
      });
      if (error_interno == 0){
        $("#"+id).removeClass("input-etiqueta-error");
        $("#"+id).addClass("input-etiqueta");
      }else{
        $("#"+id).removeClass("input-etiqueta");
        $("#"+id).addClass("input-etiqueta-error");
      }
    });
    return error
  }

  function validar_condiciones_diferentes_cero(){
    error = 0;
    $("#form_encuentro_logros :input[name^='ref_logro']").each(function(){
      //console.log(this.id)
      id = this.id;
      clase = this.className
      clase = clase.split(" ");
      valor = this.value
      if (clase[0].search("condicion-validate")>=0){
        clase = clase[0].split("-");
      }else{
        if (clase[1].search("condicion-validate")>=0){
        clase = clase[1].split("-");
        }else{
          clase = clase[2].split("-");
        }
      }
      error_interno = 0
      $('.grupo-validate-'+clase[3]+'-'+clase[4]).each(function(){
        if (valor == 0 && this.value != 0){
          error_interno = 1
          error = 4
        }
      });
      if (error_interno == 0){
        $("#"+id).removeClass("input-etiqueta-error"); 
        $("#"+id).addClass("input-etiqueta");
      }else{
        $("#"+id).removeClass("input-etiqueta");
        $("#"+id).addClass("input-etiqueta-error");
      }
    });
    return error
  }
  
  function validar_condiciones_signo_equipo(){
    error = 0
    $("#form_encuentro_logros :input[name^='ref_logro']").each(function(){
      id_externo = this.id;
      clase = this.className
      clase = clase.split(" ");
      valor_externo = this.value
      if (clase[0].search("equipo-")>=0){
        clase = clase[0].split("-");
      }else{
        if (clase[1].search("equipo-")>=0){
        clase = clase[1].split("-");
        }else{
          clase = clase[2].split("-");
        }
      }
      error_interno = 0;
      valor_externo = parseFloat(valor_externo.replace(",","."));
      $('.equipo-'+clase[1]).each(function(){
        id_interno = this.id;
        valor_interno = this.value;
        valor_interno = parseFloat(valor_interno.replace(",","."));
        if (valor_externo > 0 && valor_interno < 0){
            error_interno = 1;
        }else{
          if (valor_externo < 0 && valor_interno > 0) {
            error_interno = 1;
          }
        }
      });
      if (error_interno == 0){
        $("#"+id_externo).removeClass("input-etiqueta-error");
        $("#"+id_externo).addClass("input-etiqueta");
      }else{
        error = 5
        $("#"+id_externo).removeClass("input-etiqueta");
        $("#"+id_externo).addClass("input-etiqueta-error");
      }
    });
    return error
  }

  function get_runline_loose(className){
    var runline_loose = false;
    runline_loose = $("#id_runline_loose").prop("checked");
    if ( runline_loose === undefined )
      return false

    if ( runline_loose == true){
      if( className.search("runline_loose") < 0){
        runline_loose = false
      }
    }
    
    return runline_loose;
  }

  function validar_condiciones_logro_referencias_nopositivo_radio(){
    error = 0
    runline_loose_message = false
    $("#form_encuentro_logros :input[name^='ref_logro']:checked").each(function(){
        id_referencia = this.id;
        clase_referencia = this.className
      
        clase_referencia = clase_referencia.split(" ");

        valor_referencia = this.value
        valor_referencia = parseFloat(valor_referencia.replace(",","."));

        if (clase_referencia[0].search("condicion-validate")>=0){
          clase = clase_referencia[0].split("-");
        }else{
          if (clase_referencia[1].search("condicion-validate")>=0){
            clase = clase_referencia[1].split("-");
          }else{
            clase = clase_referencia[2].split("-");
          }
        }

        if (clase_referencia[0].search("equipo-")>=0){
          clase_equipo = clase_referencia[0].split("-");
        }else{
          if (clase_referencia[1].search("equipo-")>=0){
            clase_equipo = clase_referencia[1].split("-");
          }else{
            clase_equipo = clase_referencia[2].split("-");
          }
        }
        var error_interno = 0
        $('.grupo-validate-'+clase[3]+'-'+clase[4]).filter( '.grupo-equipo-'+clase_equipo[1]).each(function(){

            id_logro = this.id;
            valor_logro = this.value;
            valor_logro = parseInt(valor_logro);
              
            if (valor_logro > 0 && valor_referencia > 0){
              if( get_runline_loose(this.className) == false ){
                error_interno = 1;
              }
              else{
                runline_loose_message = true
              }
            }
        
        });

        if (error_interno == 0){
          $("#"+id_logro).removeClass("input-logro-error");
          $("#"+id_referencia).removeClass("input-etiqueta-error");
          $("#"+id_logro).addClass("input-logro");
          $("#"+id_referencia).addClass("input-etiqueta");
        }else{
          error = 6
          $("#"+id_logro).removeClass("input-logro");
          $("#"+id_logro).addClass("input-logro-error");
          $("#"+id_referencia).removeClass("input-etiqueta");
          $("#"+id_referencia).addClass("input-etiqueta-error");
          
        }
        
      });

    if( $("#id_runline_loose").prop("checked") === true && runline_loose_message == true ){
      resp = confirm("¿Esta seguro de que desea guardar el logro de Runline sin restricción?")
      if (resp == false){
        $("#id_runline_loose").prop("checked", false);
        error = validar_condiciones_logro_referencias_nopositivo_radio()
      }
    }
  
    return error
  }


  function validar_condiciones_logro_referencias_nopositivo(){
    error = 0
    $("#form_encuentro_logros :input[name^='ref_logro']").each(function(){
      id_referencia = this.id;
      clase_referencia = this.className
      clase_referencia = clase_referencia.split(" ");
      valor_referencia = this.value
      valor_referencia = parseFloat(valor_referencia.replace(",","."));

      if (clase_referencia[0].search("condicion-validate")>=0){
        clase = clase_referencia[0].split("-");
      }else{
        if (clase_referencia[1].search("condicion-validate")>=0){
          clase = clase_referencia[1].split("-");
        }else{
          clase = clase_referencia[2].split("-");
        }
      }

      if (clase_referencia[0].search("equipo-")>=0){
        clase_equipo = clase_referencia[0].split("-");
      }else{
        if (clase_referencia[1].search("equipo-")>=0){
          clase_equipo = clase_referencia[1].split("-");
        }else{
          clase_equipo = clase_referencia[2].split("-");
        }
      }
      error_interno = 0
     $('.grupo-validate-'+clase[3]+'-'+clase[4]).filter( '.grupo-equipo-'+clase_equipo[1]).each(function(){
          id_logro = this.id;
          valor_logro = this.value;
          valor_logro = parseInt(valor_logro);
          if (valor_logro > 0 && valor_referencia > 0){
            if( get_runline_loose(this.className) == false ){
              error_interno = 1;
            }
            else{
              runline_loose_message = true
            }

          }
        });
          if (error_interno == 0){
            $("#"+id_logro).removeClass("input-logro-error");
            $("#"+id_referencia).removeClass("input-etiqueta-error");
            $("#"+id_logro).addClass("input-logro");
            $("#"+id_referencia).addClass("input-etiqueta");
          }else{
            
            error = 6
            $("#"+id_logro).removeClass("input-logro");
            $("#"+id_logro).addClass("input-logro-error");
            $("#"+id_referencia).removeClass("input-etiqueta");
            $("#"+id_referencia).addClass("input-etiqueta-error");
            
          }
      });

    if( $("#id_runline_loose").prop("checked") === true && runline_loose_message == true ){
      resp = confirm("¿Esta seguro de que desea guardar el logro de Runline sin restricción?")
      if (resp == false){
        $("#id_runline_loose").prop("checked", false);
        error = validar_condiciones_logro_referencias_nopositivo_radio()
      }
    }

    return error
  }

</script>
{% endblock %}