{% extends 'admin_lib/util_print/base.html' %}

{% block content %}
<hr style="padding:0; margin:0;" />
  <table width="100%" cellspacing="0" border="0" cellpadding="0">
    <tr style="padding-top:3px;">
      <th>
        <h3>Deporte: {{ reporte.deporte }}</h3>
      </th>

      <th>
        <h3>Fecha: {{ reporte.fecha }}</h3>
      </th>      
    </tr>   
  </table>
<hr style="padding:0; margin:0;"/>

  {% for liga in reporte.ligas %}
  <h1 style="padding-bottom:0; margin-bottom:0;">{{ liga.nombre }}</h1>
  <table class="tdefault" border="0" cellspacing="0" cellpadding="0">
      <thead>           
        <tr>  
          <th style="background-color: gray;">
          </th>
          {% for grupo in liga.encuentros.0.grupos %}
            <th style="background-color: lightgray; padding-top:1px; padding-bottom:0;" colspan="{{ grupo.modalidades|length }}">
              {{grupo.nombre}}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for encuentro in liga.encuentros %}
          <tr>
            <td align="center" valign="middle" style="padding-top:1px; padding-bottom:0;" >
              {{encuentro.fecha_hora|date:"P"}}
            </td>
            {% for grupo in encuentro.grupos %}
              {% for modalidad in grupo.modalidades %}
                <th align="center" valign="middle" style="padding-top:1px; padding-bottom:0;">
                  {{modalidad.nombre}} 
                  {% if modalidad.ref %}
                    {% if modalidad.ref != "0" %}
                         ({{modalidad.ref}})
                    {% endif %}
                  {% endif %}
                </th>
              {% endfor %}
            {% endfor %}

          </tr>

          {% for equipo in encuentro.equipos%}
            <tr>
              <td align="center" valign="middle" style="padding-top:1px; padding-bottom:0;">
                {{ equipo.nombre }}
              </td>
              
              {% for grupo in encuentro.grupos %}

                {% for modalidad in grupo.modalidades %}

                  {% for jugada in modalidad.jugadas %}

                      {% ifequal equipo.position jugada.position %}

                        <td align="center" valign="middle" style="padding-top:1px; padding-bottom:0;">
                           {% if jugada.val != "0" %}

                              {% if jugada.ref %}
                                ({{jugada.ref}})
                              {% endif %}

                              {{jugada.val}}

                              {% if jugada.pertenece %}
                                {{jugada.pertenece}}
                              {% endif %}
                            {% endif %}
                        </td>
                      {% endifequal %}
                    
                  {% endfor %}

                {% endfor %}

              {% endfor %}

            </tr>
          {% endfor %}


        {% endfor %}

      </tbody>
    </table>
  {% endfor %}
{% endblock %}