{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block content %}
              <div class="row">
                <div class="col-xs-12">
                   <div class="page-toolbar page-toolbar-default">
                        <div class="page-toolbar-body page-toolbar-border">
                            <h1><i class="icon-stars"></i> Equipos</h1>
                            <p class="subtitle">
                              {% if object %}
                                {% trans "Actualizar" %}
                              {% else %}
                                {% trans "Crear" %}
                              {% endif %}</p>
                        </div>
                        <div class="page-toolbar-footer page-toolbar-shadow">
                             <ul class="breadcrumb">
                                <li><a href="/"><i class="icon-home"></i> Inicio</a></li>
                                <li><a href="{% url 'admin_juego_equipos_list' %}"><i class="icon-stars"></i> Equipos</a></li>
                                <li>
                                  {% if object %}
                                  <i class="icon-pencil-1"></i> Actualizar
                                  {% else %}
                                  <i class="icon-plus-1"></i> Crear
                                  {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                  <div class="container-margin">
                    <form id="form_equipos" action='{% if object %}{% url 'admin_juego_equipos_update' pk=object.pk %}{% else %}{% url 'admin_juego_equipos_create' %}{% endif %}' method='post' encoding='utf-8' enctype="multipart/form-data">
                      {% csrf_token %}

                      <div class="col-xs-12">
                        <div class="panel panel-default">
                          <div class="panel-body panel-head-border">
                            <div class="form-margin">
                              
                              {% if form.non_field_errors  %}

                              <div class="row form form-group">

                                <div class="col-xs-3">
                                </div>
                                <div class="col-xs-6">
                                    <div class="alert alert-warning">
                                      {{form.non_field_errors }} 
                                    </div>
                                
                                </div>
                                <div class="col-xs-3">
                                </div>
                              </div>
                              {% endif %}

                            {% for item in form %}
                              <div class="row form form-group">

                                {% if item.is_hidden == 0 %}
                                <div class="col-xs-3">
                                  <div class="form-label">{{ item.label }}</div>
                                </div>
                                {% endif %}
                                <div class="col-xs-6">
                                  {{ item }}
                                </div>
                                <div class="col-xs-3">
                                  {%  if item.errors %}   
                                    <div class="alert alert-warning">{{ item.errors }}</div>
                                  {% endif %}  
                                </div>
                              </div>
                            {% endfor %}

                            <div class="row form form-group">
                                <div class="col-xs-3">
                                  <div class="form-label">Ligas (*)</div>
                                </div>
                                
                                <div class="col-xs-6">
                                  <div class="overh_checkbox">
                                    <input type="text" id="search" value=""  placeholder="Buscar liga..."/>
                                    <table class='table datatable'>
                                      <thead>
                                        <tr>
                                         <th width="90%">Ligas</th>
                                         <th width="10%"></th>
                                        </tr>
                                      </thead>
                                      <tbody id="table_ligas">
                                      {% if ligas %}
                                      
                                          {% for liga in ligas %}
                                          <tr>
                                            <td>
                                              <img src="{{MEDIA_URL}}{{ liga.logo }}" width="50" height="50">
                                              {{ liga.nombre }}
                                            </td>
                                            <td>
                                              <input id="liga_deporte" name="liga_deporte" type="checkbox" value="{{ liga.pk }}" {% if liga.check %}{{ liga.check }}{% endif %}>
                                            </td>
                                          </tr>
                                          {% endfor %}
                                      {% endif %}
                                       </tbody>

                                     </table>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                </div>
                            </div>
                                  
                      
                            <div class="row form form-group">

                                <div class="col-xs-3">
                                </div>
                                <div class="col-xs-6">
                                    <div class="alert alert-info">Los campos con (*) son obligatorios</div>
                                </div>
                                <div class="col-xs-3">
                                </div>

                            </div>

                          </div>
                          <div class="panel-footer panel-shadow">
                              <div class="col-xs-3"></div>
                              <div class="col-xs-6">
                                <p>
                                    {% if object %}
                                      <button class='btn btn-success' type='submit' value="_save" name="_save">
                                        Actualizar
                                      </button>
                                    {% else %}
                                      <button class='btn btn-default' type='submit' value="_addanother" name="_save">
                                        Guardar y añadir otro
                                      </button>
                                      <button class='btn btn-success' type='submit' value="_save" name="_save">
                                        Guardar
                                      </button>
                                    {% endif %}
                                </p>
                              </div>
                              <div class="col-xs-3"></div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
{% endblock %}
{% block js %}
  <script>
     
      if ( ($('#id_deporte').val() != "") && ($('#table_ligas tr').length == 1)){
          dajax_equipos(
                {'deporte':$('#id_deporte').val()},
                '{% url "admin_juego_torneos_by_deporte_ajax" %}',
                "torneosbydeporte"
          );
      }
   
      /*
      $( "#form_equipos" ).submit(function( event ) {
        if( $("input[type='checkbox']:checked").length < 1){
          //alert("Debe asociar el equipo por lo menos a una liga")
          alert("Debe asociar el equipo por lo menos a una liga."); 
          //alertify.alert("message");
          return false
        }
      });
      */
      $('#id_deporte').on("change",torneosbydeporte);

      $("#search").keyup(function(){
        
        var term=$(this).val().toLowerCase()
        if( term != ""){
          
          $("table tbody>tr").hide();
          $("table td").filter(function(){
            console.log($(this).text())
            console.log(term)
            return $(this).text().toLowerCase().indexOf(term) >-1
          }).parent("tr").show();
        }else{
          $("table tbody>tr").show();
        }
      });

      $('.icon-search').remove()
      
      function torneosbydeporte() {
          var id = $(this).val();
          if( id ){
            dajax_equipos(
                        {'deporte':id},
                        '{% url "admin_juego_torneos_by_deporte_ajax" %}',
                        "torneosbydeporte"
                    );
          }
      }
      
      function dajax_equipos(data,url,process){
        $.ajax({
            data : data,
            url : url,
            type : 'get',
            success : function(data_recibe){
              if(process == "torneosbydeporte"){
                html = ""
                
               
                $.each(data_recibe, function(obj){
                      html += '<tr>';
                      html += '<td>';
                      if(data_recibe[obj].logo != ""){
                        html += '<img src="{{MEDIA_URL}}'+ data_recibe[obj].logo +'" width="50" height="50">';
                      }
                      html += data_recibe[obj].nombre;
                      html += '</td>';
                      html += '<td>';      
                      html += '<input id="liga_deporte" name="liga_deporte" '+data_recibe[obj].check+' type="checkbox" value="'+data_recibe[obj].pk+'">';
                      html += '</td>'; 
                      html += '</tr>';                   
                });
            
                $("#table_ligas").html(html);
              }
            },
            error : function(xhr,errmsg,err) {
              alert(xhr.status + ": " + xhr.responseText);    
            }
          });
      }


    $.urlParam = function(name){
      var results = new RegExp('[\?&]' + name + '=([^#]*)').exec(window.location.href);
      if (results==null){
         return null;
      }
      else{
         return results[1] || 0;
      }
    }

    if ($.urlParam('next') != null){
      var input = $("<input>").attr("type", "hidden").attr("name", "next").val($.urlParam('next'));
      $('#form_equipos').append($(input));
    }

    /*
    data_table_equipos = $('#ligas_list_data_table').dataTable({
        "sPaginationType": "full_numbers",
        "bSort": false,
        "iDisplayLength": 10,
        "bDestroy": true
    });
    $(".icon-search").parent("div").remove();
    */

  </script>
{% endblock %}